/*首页公共样式开始*/

/*从bootstrap中移植属性*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

p {
    margin: 0 0 10px;
}
img {
    vertical-align: middle;
}

body,p,ul,ol,li,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,input{
    margin:0;
    padding:0;
    list-style:none;
}
img,input,textarea{
    border:0;
}
input{
    border-radius: 0;
    outline:none;
    width:100%;
}
a{
    text-decoration:none;
    color:#8c8c8c;
}
body{
    font:14px/1.5 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    color:#8c8c8c;
    background:#e7eaf1;
    max-width: 750px;
    overflow-x: hidden;
    margin: 0 auto;
    min-width:320px;
}
[data-dpr="2"] body {
    max-width: 750px;
}
[data-dpr="3"] body {
    max-width: 1250px;
}
.lf {
    float: left;
}
.rg {
    float: right;
}
.text-align-lf {
    text-align:left;
}
.text-align-rg {
    text-align:right;
}
.text-align-ct {
    text-align:center;
}
/*comfont字体样式*/

.f10 {
    font-size: 10px;
}
[data-dpr="2"] .f10 {
    font-size: 20px;
}
[data-dpr="3"] .f10 {
    font-size: 30px;
}
.f11 {
    font-size: 11px;
}
[data-dpr="2"] .f11 {
    font-size: 22px;
}
[data-dpr="3"] .f11 {
    font-size: 33px;
}
.f12 {
    font-size: 12px;
}
[data-dpr="2"] .f12 {
    font-size: 24px;
}
[data-dpr="3"] .f12 {
    font-size: 36px;
}
.f13 {
    font-size: 13px;
}
[data-dpr="2"] .f13 {
    font-size: 26px;
}
[data-dpr="3"] .f13 {
    font-size: 39px;
}
.f14 {
    font-size: 14px;
}
[data-dpr="2"] .f14 {
    font-size: 28px;
}
[data-dpr="3"] .f14 {
    font-size: 42px;
}
.f15 {
    font-size: 15px;
}
[data-dpr="2"] .f15 {
    font-size: 30px;
}
[data-dpr="3"] .f15 {
    font-size: 45px;
}
.f16 {
    font-size: 16px;
}
[data-dpr="2"] .f16 {
    font-size: 32px;
}
[data-dpr="3"] .f16 {
    font-size: 48px;
}
.f17 {
    font-size: 17px;
}
[data-dpr="2"] .f17 {
    font-size: 34px;
}
[data-dpr="3"] .f17 {
    font-size: 51px;
}
.f18 {
    font-size: 18px;
}
[data-dpr="2"] .f18 {
    font-size: 36px;
}
[data-dpr="3"] .f18 {
    font-size: 54px;
}
.f19 {
    font-size: 19px;
}
[data-dpr="2"] .f19 {
    font-size: 38px;
}
[data-dpr="3"] .f19 {
    font-size: 57px;
}
.f20 {
    font-size: 20px;
}
[data-dpr="2"] .f20 {
    font-size: 40px;
}
[data-dpr="3"] .f20 {
    font-size: 60px;
}
.f22 {
    font-size: 22px;
}
[data-dpr="2"] .f22 {
    font-size: 44px;
}
[data-dpr="3"] .f22 {
    font-size: 66px;
}
.f23 {
    font-size: 23px;
}
[data-dpr="2"] .f23 {
    font-size: 46px;
}
[data-dpr="3"] .f23 {
    font-size: 69px;
}
.f24 {
    font-size: 24px;
}
[data-dpr="2"] .f24 {
    font-size: 48px;
}
[data-dpr="3"] .f24 {
    font-size: 72px;
}
.f25 {
    font-size: 25px;
}
[data-dpr="2"] .f25 {
    font-size: 50px;
}
[data-dpr="3"] .f25 {
    font-size: 75px;
}
.f30 {
    font-size: 30px;
}
[data-dpr="2"] .f30 {
    font-size: 60px;
}
[data-dpr="3"] .f30 {
    font-size: 90px;
}
.f40 {
    font-size: 40px;
}
[data-dpr="2"] .f40 {
    font-size: 80px;
}
[data-dpr="3"] .f40 {
    font-size: 120px;
}

.f45 {
    font-size: 45px;
}
[data-dpr="2"] .f45 {
    font-size: 90px;
}
[data-dpr="3"] .f45 {
    font-size: 135px;
}

@media (min-width: 751px){
    .f10 {
        font-size: 20px;
    }
    .f11 {
        font-size: 21px;
    }
    .f12 {
        font-size: 24px;
    }
    .f13 {
        font-size: 26px;
    }
    .f14 {
        font-size: 28px;
    }
    .f15 {
        font-size: 30px;
    }
    .f16 {
        font-size: 32px;
    }
    .f17 {
        font-size: 26px;
    }
    .f18 {
        font-size: 28px;
    }
    .f19 {
        font-size: 30px;
    }
    .f20 {
        font-size: 40px;
    }
    .f22 {
        font-size: 44px;
    }
    .f24 {
        font-size: 48px;
    }
    .f30 {
        font-size: 60px;
    }
    .f40 {
        font-size: 80px;
    }
    .f24 {
        font-size: 48px;
    }
    .f45 {
        font-size: 90px;
    }
}
/*首页公共样式结束*/

/*首页样式*/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: initial !important;
}
body {
    color: #414141;
    line-height: normal;
    background-color: #efefef;
}

ul,li {
    list-style: none;
}

i,
em {
    font-style: normal;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #999999;
    margin:0;
    padding: 0;
}

a:hover,
a:visited,
a:active {
    text-decoration: none;
    outline: none;
    color: #999999;
}
a.special-bar:hover,
a.special-bar:visited,
a.special-bar:active {
    text-decoration: none;
    outline: none;
    color: #f44336;
}
.banner {
    width:100%;
    height:4.66667rem;
}
.banner a {
    display: block;
}
.banner a img {
    width:100%;
    height:100%;
}
.login {
    width: 100%;
    padding:0.4rem 0;
}
.login a {
    display: block;
    width:37.3%;
    height:1.04rem;
    background-color: #f1453d;
    color: #f1453d;
    line-height:1.04rem;
    text-align: center;
    border:1px solid #f1453d ;
    border-radius: 5px;
}
.login a:first-child {
    color: #fff;
    margin-left:0.8rem ;
}
.login a:last-child {
    background-color: #fff;
    border:1px solid #f1453d ;
    margin-right:0.8rem ;
}
.cash-box {
    background-color: #fff;
    border-top: 1px solid #ddd;
}
.cash-box .volume-of-trad {
    padding-top: 8px;
    line-height: 0.82666667rem;
    text-align: center;
}
.cash-box .cash-rate {
    padding-bottom: 8px;
    line-height: 0.74666667rem;
    text-align: center;
    color: #666666;
    border-bottom: 1px solid #ddd;
}
.cash-box .cash-rate .cash-icon {
    display: inline-block;
    margin-top: 0.135rem;
    margin-right: .1rem;
    width: 0.42666667rem;
    height: 0.42666667rem;
    vertical-align: top;
    background: url("../images/cash-icon.png") no-repeat 0 0;
    background-size: contain;
}
.cash-box p span {
    color: #666666;
}
.cash-box .total {
    color: #999999;
    padding: .4rem 0.53333333rem;
    background-color: #fff;
}
.cash-box .total span {
    color: #606060;
}
.cash-box .total ul {
    position: relative;
}
.cash-box .total ul li {
    width: 50%;
    height: 0.42666667rem;
    line-height: 0.42666667rem;
    text-align: center;
}
.cash-box .total ul li:nth-of-type(1) {
     text-align: left
}
.cash-box .total ul li:nth-of-type(2) {
    text-align: right
}
.cash-box .total ul i {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 0.42666667rem;
    border-right: 1px solid #ddd;
}
.charity-box{
    width: 100%;
    margin-top: 0.2666667rem;
    background-color: #fff;
}
.charity-box .charity-top{
    margin: 0 0.5rem;
    padding:0.42666667rem 0 0.34666667rem;
    border-bottom:1px solid #ddd;
}
.charity-box .charity-top .charity-content {
    width: 4.48rem;
    height:1.2rem;
}
.charity-box .charity-top-txt {
    margin: 0 0.5rem;
    border-bottom:1px solid #ddd;
}
.charity-box .charity-top-txt .charity-content-top {
    padding: .4rem 0 0.37333333rem;
    text-align: center;
}
.charity-box .charity-top-txt .charity-content-top .word {
    height: .4rem;
    line-height: .4rem;
    color: #f1453d;
    font-size: .4rem;
}
.charity-box .charity-top-txt .charity-content-top .word-txt {
    padding-top: 0.22666667rem;
    height: 0.34666667rem;
    line-height: 0.34666667rem;
    color: #333;
    font-size: 0.34666667rem;
}
.charity-box .charity-top .charity-content-lf {
    text-align: left;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}
.charity-box .charity-top .charity-content-rg {
    text-align: right;
}
.charity-box .charity-top .charity-content-rg .space {
    width: .07rem;
    display: inline-block;
}
.charity-box .charity-top .charity-content-rg .space2 {
    width: .14rem;
    display: inline-block;
}
.charity-box .charity-top .charity-content .word{
    height: 0.4rem;
    line-height: 0.4rem;
    color: #666;
    font-size: 0.4rem;
}
.charity-box .charity-top .charity-content .number{
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.56rem;
    color: #f1453d;
}
.charity-box .charity-top .charity-content-rg .word {
    margin-top: 0.1rem;
    line-height: 0.5rem;
    font-size: 0.3rem;
}
.charity-box .charity-top .charity-content-rg .red-txt {
    font-style: normal;
    font-size: .31rem;
    color: #f1453d;
}
.charity-box .charity-bottom{
    width: 100%;
    height:1.26666667rem;
    line-height:1.26666667rem;
}
.charity-box .charity-bottom p{
    font-size: 0.32rem;
    text-align: center;
    color: #f44336;
}
.charity-box .charity-bottom p span{margin:0 0.18666667rem}
.charity-box .charity-bottom p img{
    width:0.26666667rem;
    position: relative;
    top:-2px;
}
.showMore {
    margin-top: 0.2666667rem;
}
.showMore div {
    padding-left: 4%;
    background-color: #fff;
}
.showMore div a {
    text-align: center;
    display: block;
    width:24%;
    padding:0.4rem 0 0.2rem 0;
}
.showMore div a img {
    width:1.3rem;
}
.showMore div a p {
    line-height: 0.8rem;
}

.newnorm {
    margin-top: 0.2666667rem;
    background-color: #fff;
    text-align: center;
}
.newnorm p.newnormtitle {
    text-align: left;
    padding:0 0.533333rem;
    color: #000;
    line-height: 1.0933333rem;
    border-bottom: 1px solid #ddd;
}
.newnorm p.newnormtitle span {
    border:1px solid #1683fb;
    color: #1683fb;
    padding:0.08rem 0.133333rem;
    border-radius: 5px;
}
.newnorm p.newnormtitle span:first-child {
    margin: 0 0.26666667rem 0 0.5333333rem ;
}

.newnorm a p:first-child {
    padding:0 0.533333rem;
    line-height: 1.2rem;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.newnorm a p:nth-of-type(2) {
    line-height: 1.6rem;
    color: #f1453d;
}
.newnorm a p:nth-of-type(2) em{
    position: relative;
}
.newnorm a p:nth-of-type(2) em span {
    position: absolute;
    top:-0.5rem;
}
.newnorm a p:nth-of-type(3) {
    margin-top: -0.3rem;
    margin-bottom: 0.5333333rem;
    color: #aaa;
}
.newnorm a ul.clearfix {
    padding:0 0.533333rem;
    border-top: 1px dashed #ddd;
    line-height: 1.04rem;
}
.newnorm a ul.clearfix li {
    width: 35%;
    color: #666666;
}
.newnorm a ul.clearfix li:nth-of-type(2) {
    width: 38%;
}
.newnorm a ul.clearfix li:nth-of-type(3) {
    width: 27%;
}
.newnorm a ul.clearfix li img {
    vertical-align: middle;
    margin-top: -0.1rem;
}
.icon5 {
    width:0.4666667rem;
    margin-top: -0.02rem!important;
}
.icon6 {
    width:0.455553rem;
}
.icon7 {
    width:0.36rem;
}

.newnorm a ul.clearfix li:nth-of-type(4) {
    background-color: #f1453d;
    color: #fff;
    text-align: center;
    line-height: 1.2rem;
    margin-bottom:0.4rem;
    width:100%;
    border-radius: 5px;
}
.comred {
    color: #f1453d!important;
}

.hide {
    display: none;
}

section {
    background-color: #fff;
    margin-top: 0.266667rem;
}

section .introduce {
    height: 2.64rem;
}

section .introduce img {
    width: 100%;
}

section .featured {
    margin: 0 0.53333333rem;
    padding-bottom: 0.53333333rem;
    padding-top: 0.2rem;
}
section .featured .project {
    color: #333;
    margin-bottom: 0.26666667rem;
}
 section .featured .onepic {
     width:100%;
 }
section .featured .onepic img {
    width:100%;
}
 section .featured .twopic {
    width:100%;
}
section .featured .twopic li {
    width:49%;
}
section .featured .twopic li img {
    width:100%;
}
section .featured .threepic {
    width:100%;
}
section .featured .threepic li:first-child {
    width: 55.58%;
}
section .featured .threepic li:first-child a {
    width: 100%;
    display: -webkit-box;
}
section .featured .threepic li:last-child {
    width: 42.92%;
}
section .featured .threepic li:last-child a:first-child {
    width: 100%;
    display: -webkit-box;
}
section .featured .threepic li:last-child a:last-child {
    width: 100%;
    display: -webkit-box;
}
section .featured .threepic li:last-child .a-two {
    width: 100%;
    height: 0.134rem;
    display:  -webkit-box;
}
section .featured .threepic li a img {
    width: 100%;
}

.invest {
    margin-top: 0.26666667rem;
    color: #333;
}

.invest p.clearfix {
    height:  1.0933333rem;
    padding: 0 0.53333333rem;
    line-height:  1.0933333rem;
    border-bottom: 1px solid #ddd;
    background:#fff url("../images/arrow.png") no-repeat 95% center;
    background-size: 0.16rem 0.26666667rem;
}

.invest p a {
    color: #999999;
    padding-right: 0.16rem;
}
.invest ul li {
    padding: 0 0.53333333rem;
    margin-bottom: 0.133333rem;
    background-color: #fff;
}
.invest ul li a .supertitle {
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #444444;
    line-height: 1.173333rem;
}
.superscript .superctn div {
    width:50%;
}
.superscript .superctn div:first-child .f24 {
    color: #f1453d;
    line-height: 0.733333rem;
    position: relative;
}
.superscript .superctn div:first-child .f24 i {
    position: absolute;
    top: -0.2rem;
    right:-0.7rem;
}
.superscript .superctn div:first-child .f14 {
    color: #999999;
    line-height: 0.8rem;
}
.superscript .superctn div:last-child .months {
    color: #999999;
    line-height: 0.733333rem;
}
.superscript .superctn div:last-child .months span {
    color: #333333;
}
.superscript .superctn div:last-child .money span {
    color: #333333;
}
.superscript .superctn div:last-child .money {
    color: #999999;
    line-height: 0.8rem;
}

.progessline {
    line-height: 0.44rem;
    color: #f1453d;
}
.progess {
    position: relative;
    width:86.56%;
    border-top: 3px solid #ddd;
    margin-top: 0.2rem;
}
.progess span {
    position: absolute;
    top:-3px;
    left:0;
    border-top: 3px solid #f1453d;
}
.tags {
    line-height: 1.04rem;
}
.tags span {
    border:1px solid #1683fb;
    color: #1683fb;
    padding:0.0888888rem 0.133333rem;
    border-radius: 5px;
}
.tags .red{
    color: #f44336;border-color: #f44336;
}
.red-tag {
    color: #f44336!important;border-color: #f44336!important;
}
.tags span:first-child {
    margin-right: 0.4rem;
}

.notices {
    margin-top: 0.26666667rem;
    background-color: #fff;
}

.notices ul li:nth-of-type(1) {
    height: 0.93333333rem;
    line-height: 0.93333333rem;
    padding: 0 0.69333333rem 0 0.53333333rem;
    border-bottom: 1px solid #ddd;
    background: url("../images/arrow.png") no-repeat 95% center;
    background-size: 0.16rem 0.26666667rem;
}

.notices ul li:nth-of-type(1) a {
    padding: 0 0 0 1rem;
}

.notices ul li:last-child {
    border-bottom: none;
}

.notices .list {
    margin-left: 0.53333333rem;
    margin-right: 0;
    border-bottom: 1px solid #ddd;
    height: 1.02666667rem;
    line-height: 1.02666667rem;
}

.notices .list a {
    color: #999999;
    display: block;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shareholder {
    height: 2.8rem;
    background-color: #fff;
    margin-top: 0.26666667rem;
    text-align: center;
    overflow: hidden;
}

.shareholder p {
    height: 0.93333333rem;
    line-height: 0.93333333rem;
    color: #333;
    margin-top: 0.13333333rem;
}

.shareholder ul li:nth-of-type(1) {
    height: 0.28rem;
    background: url("../images/line.png") no-repeat center;
    background-size: 80% 100%;
    margin-bottom: 0.33333333rem;
}

.shareholder ul li:nth-of-type(2) img {
    width: 3.52rem;
    height: 0.69333333rem;
}

.shareholder ul li:nth-of-type(2) img:first-child {
    margin-right: 0.73333333rem;
}

.platform {
    background-color: #fff;
    margin-top: 0.26666667rem;
    text-align: center;
}

.platform p {
    height: 0.93333333rem;
    line-height: 0.93333333rem;
    color: #333;
    margin-top: 10px;
}

.platform ul li:nth-of-type(1) {
    height: 0.28rem;
    background: url("../images/line.png") no-repeat center;
    background-size: 80% 100%;
    margin-bottom: 0.33333333rem;
}

.platformList {
    width: 49.9%;
    height: 2.93333333rem;
}

.platformList img {
    width: 0.8rem;
    height: 0.8rem;
    margin-top: 0.4rem;
}

.platformList div:nth-child(2) {
    color: #333;
    line-height: 0.66666667rem;
    margin-top: 0.13333333rem;
}

.platformList div:last-child {
    color: #666666;
}

.platformListFirst {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.platformListLast {
    width: 100%;
    height: 100%;
    border-left: 1px solid #ddd;
}

.platformListSecond {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ddd;
}

.address {
    height: 1.36rem;
    padding: 0.46666667rem;
    background-color: #fff;
    color: #666666;
    margin-top: 0.26666667rem;
    text-align: center;
}

.address a {
    color: #0080ff;
    display: block;
    margin-bottom: 0.4rem;
}

.address a img {
    width: 0.34666667rem;
    height: 0.41333333rem;
    margin-right: 0.06666667rem;
    vertical-align: middle;
}

footer {
    color: #bfbfbf;
    font-size: 11px;
    line-height: 0.84rem;
    text-align: center;
    margin-bottom: 50px;
}
footer span {
    margin: 0 .02rem 0.08rem .02rem;
    width: .35rem;
    height: 0;
    border-top: 1px solid #bfbfbf;
    display: inline-block;
}
.row {
    margin: 0 auto;
}

.pop {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    z-index: 100000;
}
.pop img:nth-of-type(1) {
    width:0.76rem;
    position: absolute;
    top:-11.5%;
    right:0;
}
.pop img:nth-of-type(2) {
    width:8rem;
    height:10.66667rem;
}

.swiper-pagination-bullet-active {
    background: #fff!important;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity:60);
    z-index: 100000;
}

/*小屏手机样式适应*/
@media screen and (max-width:321px)  {
    .tags .rg {
        font-size: 0.3733333rem!important;
    }
    .total ul {
        font-size: 0.3733333rem!important;
    }
}

.icp {
    padding: 10px 20px;
}
.icp img {
    width: 100%;
}
/*footer*/
.footer {
    height: 50px;
    background: #fff;
    box-shadow: 0 2px 5px #888888;
}
.footer-title {
    width:33.3333333%;
    float: left;
    height: 100%;
    text-align: center;
}
.footer-inner{
    display: block;
    width: 30px;
    height: 100%;
    margin: 0 auto;
    cursor: pointer;
}
.footer-inner1{
    display: block;
    width: 30px;
    height: 100%;
    margin: 0 auto;
    cursor: pointer;
}
.footer-inner2{
    display: block;
    width: 30px;
    height: 100%;
    margin: 0 auto;
    cursor: pointer;
}
.footer-title .shouye {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background: url("../images/footer2.png") no-repeat -145px -57px;
    background-size: 200px;
    font-size: 18px;
}
.shouye1{
    color: #f44336;
}
.footer-title .licai {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background: url("../images/footer2.png") no-repeat -113px -3px;
    background-size: 200px;
    font-size: 18px;
}
.footer-title .zhanghu {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background: url("../images/footer2.png") no-repeat -81px -3px;
    background-size: 200px;
    font-size: 18px;
}
.footer-title span img {
    width: 26px;
}
.nav-bar {
    font-size: 14px;
    line-height: 1.5;
}
.special-bar {
    color: rgb(244, 67, 54);
}
.relative {
    position: relative;
}
.relative .signature {
    display: inline-block;
    position: fixed;
    top: 7rem;
    right: .4rem;
    margin-top: -0.69333333em;
    width: 1.36rem;
    height: 1.38666666rem;
    z-index: 99999;
    cursor: pointer;
}
.relative .signature img {
    width: 1.36rem;
    height: 1.38666666rem;
}