.first-popover {
  display: none;
  width: 77.73333333%;
  height: 10.90666667rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 100001;
}

.first-popover img.popover-bg {
  width: 100%;
  height: 100%;
  display: block;
}

.first-popover .popover-ctn {
  position: absolute;
  top: 5.4rem;
  right: 1.28rem;
}

.first-popover .popover-ctn img.popover-close {
  display: block;
  width: 0.37333333rem;
  position: absolute;
  top: -1.05rem;
  right: -0.1rem;
}

.first-popover .popover-ctn .popover-title {
  color: #fff;
  font-size: 0.50666667rem;
  text-align: center;
}

.first-popover .popover-ctn .popover-detail {
  color: #fff;
  font-size: 0.32rem;
  text-align: center;
  margin-top: 0.6rem;
}

.first-popover .popover-ctn .btn_01 {
  display: block;
  width: 5.48rem;
  height: 1rem;
  -webkit-border-radius: 0.50666667rem;
  -moz-border-radius: 0.50666667rem;
  border-radius: 0.50666667rem;
  border: 0.02666667px solid #ffce93;
  -webkit-box-shadow: 0 0.04rem 0.04rem rgba(206, 12, 12, 0.6);
  -moz-box-shadow: 0 0.04rem 0.04rem rgba(206, 12, 12, 0.6);
  box-shadow: 0 0.04rem 0.04rem rgba(206, 12, 12, 0.6);
  text-align: center;
  line-height: 1rem;
  color: #ffd791;
  font-size: 0.42666667rem;
  margin: 0.32rem 0;
}

.first-popover .popover-ctn .btn_02 {
  display: block;
  width: 5.49333333rem;
  height: 1rem;
  -webkit-border-radius: 0.50666667rem;
  -moz-border-radius: 0.50666667rem;
  border-radius: 0.50666667rem;
  background-color: #ffd791;
  -webkit-box-shadow: 0 0.04rem 0.04rem rgba(206, 12, 12, 0.6), inset 0 0 0.10666667rem 0.01333333rem rgba(247, 174, 47, 0.7);
  -moz-box-shadow: 0 0.04rem 0.04rem rgba(206, 12, 12, 0.6), inset 0 0 0.10666667rem 0.01333333rem rgba(247, 174, 47, 0.7);
  box-shadow: 0 0.04rem 0.04rem rgba(206, 12, 12, 0.6), inset 0 0 0.10666667rem 0.01333333rem rgba(247, 174, 47, 0.7);
  background-image: -webkit-linear-gradient(bottom, #fabd52 1%, #ffd791 64%);
  background-image: -moz-linear-gradient(bottom, #fabd52 1%, #ffd791 64%);
  background-image: -o-linear-gradient(bottom, #fabd52 1%, #ffd791 64%);
  background-image: -ms-linear-gradient(bottom, #fabd52 1%, #ffd791 64%);
  background-image: linear-gradient(to top, #fabd52 1%, #ffd791 64%);
  text-align: center;
  line-height: 1rem;
  color: #f03745;
  font-size: 0.42666667rem;
}

.second-popover {
  width: 8.02666667rem;
  height: 5.04rem;
  -webkit-border-radius: 0.24rem;
  -moz-border-radius: 0.24rem;
  border-radius: 0.24rem;
  background-color: #fff;
  border: solid 1px #ddd;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 100001;
}

.second-popover .popover-close {
  position: absolute;
  top: 0.26666667rem;
  right: 0.26666667rem;
  width: 0.4rem;
  display: block;
}

.second-popover .popover-title {
  font-size: 0.48rem;
  color: #333333;
  text-align: center;
  margin: 0.93333333rem 0 0.53333333rem;
}

.second-popover .popover-detail {
  font-size: 0.37333333rem;
  color: #999999;
  text-align: left;
  width: 85%;
  margin: 0 auto;
}

.second-popover .popover-btn {
  display: block;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  width: 100%;
  border-top: 1px solid #dddddd;
  font-size: 0.48rem;
  color: #333333;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f03745;
}