body {
  background-color: #fff;
}
.jilu-qd .item-qd {
  border-bottom: 1px solid #ddd;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  padding: 0 0.53333333rem 0 0.533rem;
  color: #666;
}
.jilu-qd .item-qd::before{
  display: inline-block;
  position: relative;
  top:-3px;
  width: 5px;
  height: 5px;
  margin-right: 4px;
  border-radius: 4px;
  content: '';
  background-color: #ff781b;
}
.jilu-qd .item-qd .org {
  color: #f44336;
}
#pullUp {
  background: #fff;
  height: 0.88rem;
  line-height: 0.88rem;
  padding: 0.06666667rem 0.13333333rem;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  color: #888;
  text-align: center;
}
.no_jilu{
  color: #666;
  text-align: center;
  margin-top:50%;
}
