@q:75rem;
body{
  background-color: #F3F3F3;
}
ul{
  li{
    width:708/@q;
    margin:20/@q auto 0;
    background-color: #fff;
    -webkit-border-radius: 6/@q;
    -moz-border-radius: 6/@q;
    border-radius: 6/@q;
    -webkit-box-shadow: 0 0 2/@q 5/@q #E9E9E9;
    -moz-box-shadow: 0 0 2/@q 5/@q #E9E9E9;
    box-shadow: 0 0 2/@q 5/@q #E9E9E9;
    a{
      display: block;
      height: 200/@q;
      .safe-title-img{
        width: 239/@q;
        height: 100%;
        img{
          width: 121/@q;
          height: 133/@q;
          margin-top: 36/@q;
          margin-left: 39/@q;
        }
      }
      .safe-title-part{
        width:469/@q;
        height: 100%;
        text-align: left;
        h5{
          margin-top: 41/@q;
          height: 67/@q;
          line-height: 67/@q;
          font-size: 31/@q;
          font-weight: 400;
          color:#434A54;
        }
        p{
          font-size: 27/@q;
          height:42/@q;
          line-height: 42/@q;
          color:#A9B1BC;
        }
      }
    }
  }
}