@q:75rem;
body{
  background-color: #fff;
}
.padding-contain{
  padding-left: 31/@q;
  padding-right: 32/@q;
  color:#414A53;
  .major-title-msg{
    padding-top: 48/@q;
    padding-bottom: 11/@q;
    h3{
      //font-weight: 400;
      font-size: 56/@q;
      height: 120/@q;
      line-height: 120/@q;
      text-align: center;
      position: relative;
      i{
        position:absolute;
        left:0;
        top:0;
        right:0;
        margin:0 auto;
        height: 10/@q;
        width: 50/@q;
        background-color: #777777;
      }
    }
    h5{
      //font-weight: 400;
      font-size: 36/@q;
      height: 56/@q;
      line-height: 56/@q;

    }
  }
  h6{
    font-size: 30/@q;
    line-height: 51/@q;
  }
  //专业合规和风控先进
  h6.major-title-retract{
    text-indent: -0.5em;
  }
  p{
    text-indent: 2em;
    color:#434C55;
    font-size: 30/@q;
    line-height: 51/@q;
  }
  //信息安全
  p.infamation-msg{
    text-indent: -0.3em;
    color:#434C55;
    font-size: 30/@q;
    line-height: 51/@q;
    span{
      color:#414A53;
      font-weight: 700;
      display: inline-block;
    }
  }
  //数据保全
  p.data-not-retract{
    text-indent: 0em;
  }

}
