.flex-content .top-part {
  width: 100%;
  height: 4.66666667rem;
  background: url("../images/bg_top.png") no-repeat;
  background-size: 100% 100%;
}
.flex-content .middle-part {
  width: 100%;
  height: 6.45333333rem;
  background: url("../images/bg_middle.png") no-repeat;
  background-size: 100% 100%;
}
.flex-content .middle-part .recharge-number {
  line-height: 0.70666667rem;
  font-size: 0.42666667rem;
  color: #703f16;
  text-align: center;
}
.flex-content .middle-part .recharge-number .hasLogin .Num {
  font-size: 0.6rem;
}
.flex-content .middle-part .recharge-number .notLogin {
  color: #3e92da;
}
.flex-content .middle-part .btn-getReward {
  width: 80%;
  margin: 4.54666667rem auto 0;
  z-index: 10;
}
.flex-content .middle-part .btn-getReward div {
  width: 3.49333333rem;
  height: 1.34666667rem;
  background: url("../images/bg_button.png") no-repeat;
  background-size: 100% 100%;
}
.flex-content .bottom-part {
  position: relative;
  width: 100%;
  height: 13.24rem;
  padding-top: 2rem;
  background: url("../images/bg_bottom_new.png") no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
}
.flex-content .bottom-part .rules-title {
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  font-size: 0.50666667rem;
  color: #a15401;
  text-align: center;
}
.flex-content .bottom-part .rules-link {
  position: absolute;
  right: 11%;
  top:2.4rem;
  display: block;
  color: #3e92da;
  font-size: 0.4rem;
}
.flex-content .bottom-part .rules-list {
  width: 80%;
  padding: 0 4% 0 8%;
  margin: 0.4rem auto 0;
}
.flex-content .bottom-part .rules-list li {
  font-size: 0.34666667rem;
  line-height: 0.6rem;
  color: #a15401;
  list-style-type: decimal;
}
.flex-content .bottom-part .rules-list li span {
  font-size: 0.4rem;
}
.flex-content .bottom-part .rules-remind {
  position: absolute;
  bottom: 0.4rem;
  left: 0;
  width: 100%;
  height: 0.32rem;
  line-height: 0.32rem;
  font-size: 0.32rem;
  color: #703f16;
  text-align: center;
}
.mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=60);
  z-index: 100;
}
.pop-fail {
  position: fixed;
  height: 9.52rem;
  width: 77%;
  padding: 0.69333333rem 0.5rem 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: url("../images/bg_pop_fail.png") no-repeat;
  background-size: 100% 100%;
  z-index: 1000;
  box-sizing: border-box;
}
.pop-fail .btn-close {
  position: absolute;
  top: -1.29333333rem;
  right: -0.53333333rem;
  width: 1.08rem;
  height: 1.08rem;
  background: url("../images/icon_close.png") no-repeat;
  background-size: 100% 100%;
}
.pop-fail p {
  color: #ffe2b0;
}
.pop-fail .head-line {
  font-size: 0.5rem;
  line-height: 0.73333333rem;
  text-align: center;
}
.pop-fail img {
  display: block;
  width: 2.25333333rem;
  margin: 0.4rem auto 0.26666667rem;
}
.pop-fail .body-line {
  position: relative;
  font-size: 0.4rem;
  line-height: 0.66666667rem;
  margin-bottom: 0.5rem;
}
.pop-fail .body-line a {
  position: absolute;
  bottom: 0;
  right: 11%;
  display: block;
  color: #3a49a4;
  font-size: 0.4rem;
}
.pop-fail .pop-fail-button {
  width: 83%;
  height: 1.02666667rem;
  line-height: 1.02666667rem;
  margin: 0 auto;
  background-color: #fdc621;
  border-radius: .5rem;
  color: #920700;
  font-size: 0.53333333rem;
  text-align: center;
}
.pop-reward {
  position: fixed;
  height: 8.85333333rem;
  width: 77%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: url("../images/bg_rewardPop.png") no-repeat;
  background-size: 100% 100%;
  z-index: 1000;
}
.pop-reward img {
  display: block;
  width: 81.1%;
  height: 5.56rem;
  padding-top: 0.34666667rem;
  margin: 0 auto;
  box-sizing: border-box;
}
.pop-reward .pop-reward-button {
  width: 65.2%;
  height: 1.02666667rem;
  line-height: 1.02666667rem;
  margin: 1.38666667rem auto 0;
  background-color: #fdc621;
  border-radius: .5rem;
  color: #920700;
  font-size: 0.53333333rem;
  text-align: center;
}
.pop-has-hui {
  position: fixed;
  height: 8.98666667rem;
  width: 77%;
  padding-top: 0.50666667rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: url("../images/bg_pop_hui.png") no-repeat;
  background-size: 100% 100%;
  z-index: 1000;
  box-sizing: border-box;
}
.pop-has-hui .btn-close {
  position: absolute;
  top: -1.29333333rem;
  right: -0.53333333rem;
  width: 1.08rem;
  height: 1.08rem;
  background: url("../images/icon_close.png") no-repeat;
  background-size: 100% 100%;
}
.pop-has-hui .pop-fail-button {
  width: 83%;
  height: 1.02666667rem;
  line-height: 1.02666667rem;
  margin: 0 auto;
  background-color: #fdc621;
  border-radius: .5rem;
  color: #920700;
  font-size: 0.53333333rem;
  text-align: center;
}
.pop-has-cong {
  position: fixed;
  height: 8.98666667rem;
  width: 77%;
  padding-top: 0.50666667rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: url("../images/bg_pop_cong.png") no-repeat;
  background-size: 100% 100%;
  z-index: 1000;
  box-sizing: border-box;
}
.pop-has-cong .btn-close {
  position: absolute;
  top: -1.29333333rem;
  right: -0.53333333rem;
  width: 1.08rem;
  height: 1.08rem;
  background: url("../images/icon_close.png") no-repeat;
  background-size: 100% 100%;
}
.pop-has-cong .pop-fail-button {
  width: 83%;
  height: 1.02666667rem;
  line-height: 1.02666667rem;
  margin: 0 auto;
  background-color: #fdc621;
  border-radius: .5rem;
  color: #920700;
  font-size: 0.53333333rem;
  text-align: center;
}
.pop-has-cong .pop-has-title{
  text-align: center;
  font-size: 0.5rem;
  color: #ffe2b0;
  margin-bottom:6.32rem;

}
.pop-has-hui .pop-has-title{
  text-align: center;
  font-size: 0.5rem;
  color: #ffe2b0;
  margin-bottom:6.32rem;
}
