@a: 75rem;
body {
  opacity: 0;
  transition:all 0.3s linear;
}

.flex-content {
  .banner {
    width: 10rem;
    height: 513/@a;
    display: block;
  }
  .part-one {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 1230/@a;
    margin: -190/@a auto 0;
    .bg {
      width: 10rem;
      height: 1432/@a;
      background-image: url("../images/bg_01.png");
      background-color: rgba(252, 247, 247, 0.06);
      background-position: center -1.1rem;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      opacity: 0.06;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: -1;
    }
    .content {
      .intro-img {
        width: 669/@a;
        height: 676/@a;
        display: block;
        margin: 0 auto;
      }
      .detail {
        margin: 0 auto;
        .title {
          color: #858585;
          font-size: 24/@a;
          text-align: center;
          line-height: 1;
          margin-bottom: 30/@a;
        }
        ul {
          padding: 0 53/@a;
          letter-spacing: 1px;
          text-align: justify;
          li {
            color: #5e5a5d;
            font-size: 24/@a;
          }
          li:nth-of-type(even) {
            text-align: center;
            overflow: hidden;
            img {
              width: 21/@a;
              height: 14/@a;
              margin: 30/@a 0;
            }
          }
          li:last-child {
            width: 629/@a;
            height: 130/@a;
            -webkit-border-radius: 10/@a;
            -moz-border-radius: 10/@a;
            border-radius: 10/@a;
            background-color: #fef9f9;
            -webkit-box-shadow: 0 5/@a 21/@a rgba(194, 83, 81, .22);
            -moz-box-shadow: 0 5/@a 21/@a rgba(194, 83, 81, .22);
            box-shadow: 0 5/@a 21/@a rgba(194, 83, 81, .22);
            text-align: center;
            font-size: 30/@a;
            line-height: 52/@a;
            padding: 13/@a 0;
            margin: 0 auto;
          }
        }
      }
    }
  }
  .part-two {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    .bg {
      width: 10rem;
      height: 1792/@a;
      background-image: url("../images/bg_02.png");
      background-color: rgba(252, 247, 247, 1);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 0.1;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -2;
    }
    .content {
      margin: 0 auto;
      overflow: hidden;
      padding-bottom: 40/@a;
      .icon {
        width: 281/@a;
        height: 200/@a;
        margin: 30/@a auto 20/@a;
        display: block;
      }
      .invest {
        width: 669/@a;
        height: 487/@a;
        margin: 30/@a auto 40/@a;
        position: relative;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
        a {
          width: 172/@a;
          height: 62/@a;
          line-height: 62/@a;
          -webkit-border-radius: 31/@a;
          -moz-border-radius: 31/@a;
          border-radius: 31/@a;
          background-color: #d03e3e;
          display: block;
          color: #fff;
          font-size: 26/@a;
          text-align: center;
          position: absolute;
        }
      }
      .intro {
        width: 642/@a;
        height: 686/@a;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

.red {
  color: #d03e3e !important;
  font-style: normal;
}

.f30 {
  font-size: 30/@a;
}

.m24 {
  top: 147/@a;
  right: 45/@a;
}

.m36 {
  top: 335/@a;
  right: 45/@a;
}