/vendor/
/*/assets/vendor/

/data/log/*
!/data/log/.gitkeep

/backend/web/upload/adv/*
!/backend/web/upload/adv/.gitkeep
/backend/web/upload/contract/*
!/backend/web/upload/contract/.gitkeep
/backend/web/upload/contract_template/*
!/backend/web/upload/contract_template/.gitkeep
/backend/web/upload/editorUpload/*
!/backend/web/upload/editorUpload/.gitkeep
/backend/web/upload/news/*
!/backend/web/upload/news/.gitkeep
/backend/web/upload/product/*
!/backend/web/upload/product/.gitkeep

/*/runtime/
/*/web/assets/

.htaccess
php-cs-fixer.phar
/nbproject/

params-local.php
main-local.php

/*/web/log.php

wdjf_prod.key
ump_prod.crt
