/*ctcf-footer 底部*/
.ctcf-footer{
  height: 380px;
  min-width: 1100px;
  background-color:#323232;
  .footer-top{
    height: 301px;
    border-bottom:1px solid #5B5B5B;
    div.ctcf-container{
      color:rgba(255,255,255,0.5);
      dl,.phone-service{
        //display: inline-block;
        vertical-align: top;
      }
      dl.about-ct{
        width: 161px;
        overflow: hidden;
        margin-top: 52px;
        dt,dd{
          height: 38px;
          line-height: 38px;
        }
        dt{
          font-weight: 700;
        }
        dd{
          a{
            height: 100%;
            width: 100%;
          }
        }
      }
      dl.help-ct{
        width: 140px;
        overflow: hidden;
        margin-top: 52px;
        dt,dd{
          height: 38px;
          line-height: 38px;
        }
        dt{
          font-weight: 700;
        }
        dd{
          a{
            height: 100%;
            width: 100%;
          }
        }
      }
      div.phone-service{
        font-weight: 700;
        margin-top: 40px;
        width: 315px;
        overflow: hidden;
        p.phone-service-msg{
          line-height: 69px;
        }
        p.phone-service-number{
          line-height: 30px;
        }
        p.phone-service-time{
          line-height: 16px;
        }
      }
      ul{
        margin-top: 100px;
        li{
          width: 98px;
          text-align: center;
          margin:0 17px;
          img{
            width: 98px;
            height: 98px;
          }
          span{
            line-height: 42px;
          }
        }
        li:first-child{
          margin-left: 0;
          margin-right: 17px;
        }
        li.rg{
          margin-left: 17px;
          margin-right:0;
        }
      }
    }
  }
  .footer-bottom{
    padding-top: 10px;
    p{
      line-height: 24px;
      color:rgba(255,255,255,0.2);
    }
  }
}