@import "../../common/css/css-util";
@import "../../common/css/css-constant";
/** ctcf-header 样式文件 **/
.ctcf-header {
  background-color: #fff;
  border-bottom: 1px solid @light-gray-f1;
  min-width: 1100px;
  .top-bar {
    width:1100px;
    padding: 0 50px;
    margin: 0 auto;
    height:44px;
    line-height: 44px;

    img {
      vertical-align: sub;
    }
  }
}
.ctcf-nav {
  background-color: #fff;
  min-width: 1100px;
  .nav-bar {
    width:1100px;
    padding: 0 50px;
    margin: 0 auto;
    height:88px;
    line-height: 88px;
    ul {
      li {
        a {
          color: @gray-more-strong;
          padding:0 5px 5px;
          &:hover {
            .cl(@orange);
            border-bottom: 2px solid @orange;
          }
        }
      }
    }
  }
}
.mgr7 {
  .mgr(7px)
}
.mgr20 {
  .mgr(20px)
}
.mgr18 {
  .mgr(18px)
}
.pd15 {
  padding:0 15px;
}
.pdl15 {
  padding-left:15px;
}
.border-r1 {
  border-right: 1px solid #aab2bd;
}
.ctcf-nav .nav-bar ul li a.nav-active {
  .cl(@orange);
  border-bottom: 2px solid @orange;
}
.erweima {
  position: relative;
}
.erweima:hover {
  img.hidden {
    display: block;
  }
}
.pst {
  position: absolute;
  bottom:-110px;
  left:0;
}