#prjlistPage{
  width:100%;
  height: 80px;
  background-color: #f3f3f3;
  margin: 0 auto;
  text-align:center;
  line-height: 80px;
  .pagination{
    height: 100%;
    line-height: 22px;
    display: inline-block;
    font-size: 14px;
    color:#999;
    //上一页和下一页按钮
    .prePage,.nextPage{
      display: inline-block;
      font-size:18px;
      color:#aab2bd;
      margin-right: 25px;
      height: 22px;
    }
    //鼠标放上去有下划线
    .prePage:hover,.nextPage:hover{
      border-bottom: 1px solid #aab2bd;
    }
    //.prePage{
    //  margin-right: 25px;
    //}
    //控制间距
    .nextPage{
      margin-left: 17px;
      margin-right: 0px;
    }
    //每一页、点、当前页的按钮
    a.pages_new,span.current_new,span.diandian{
      width:22px;
      height:22px;
      border:1px solid #999;
      border-radius: 3px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      display: inline-block;
      margin-right: 8px;
    }
    //当前页
    span.current_new{
      background-color: #FF6802;
      color:#fff;
      border-color:#FF6802;
    }
    //每一页的状态
    a.pages_new:link,a.pages_new:visited{
      border:1px solid #999;
      color:#999;
      background-color: #f3f3f3;
    }
    a.pages_new:hover,a.pages_new:active{
      background-color: #FF6802;
      color:#fff;
      border-color:#FF6802;
    }
  }
}