body {
  background-color: #f3ffd7;
}
.treeBanner {
  width: 100%;
  height: 5.13333333rem;
}
.treeBanner img {
  width: 100%;
  height: 50%;
  display: block;
}
.treeGifts {
  width: 100%;
  height: 9.13333333rem;
  margin-top: -0.2rem;
}
.treeGifts img {
  width: 80%;
  height: 33.333333%;
  display: block;
  margin: 0 auto;
}
.treeContent dl {
  padding: 0 0.33333333rem;
}
.treeContent dl dt {
  color: #ff5182;
  line-height: 1.06666667rem;
  text-align: center;
}
.treeContent dl dd {
  color: #3a6a05;
  text-indent: 2em;
  text-align: justify;
}
.comMargin {
  margin: 0.13333333rem 0;
}
.tablebox {
  margin: 0.66666667rem 5% 0;
  width: 90%;
  border-collapse: collapse;
}
.tablebox tr {
  border-bottom: 2px solid #cdea87;
}
.tablebox tr td {
  width: 50%;
  background-color: #bce165;
  color: #3a6a05 ;
  padding: 0.13333333rem 0;
}
.tablebox tr td:first-child {
  padding-left: 0.6rem;
}
.tips {
  color: #3a6a05;
  line-height: 0.8rem;
  margin: 0 auto;
  width: 90%;
}
.regular {
  padding: 0 0.33333333rem 0 0.66666667rem;
  margin: 0.13333333rem 0;
  color: #3a6a05;
}
.comweight {
  font-weight: 600;
}
.regular-detail li {
  margin-bottom: 0.2rem;
  padding: 0 0.33333333rem 0 0.66666667rem;
  color: #3a6a05;
}
.tableboxspecial {
  margin: 0.26666667rem auto;
}
.tableboxspecial tr td:first-child {
  width: 63%;
}
.giftsSend {
  margin-top: 0.4rem;
  line-height: 0.93333333rem;
}
.activeStyle {
  margin-top: 0.66666667rem;
  line-height: 0.93333333rem;
}
.inviteFriends {
  width: 6.82666667rem;
  height: 0.92rem;
  -webkit-border-radius: 0.13333333rem;
  -moz-border-radius: 0.13333333rem;
  border-radius: 0.13333333rem;
  background-color: #ff5182;
  display: block;
  margin: 0.66666667rem auto 1.33333333rem;
  color: #fff;
  text-align: center;
  line-height: 0.92rem;
}
