body,
html {
  height: 100%;
  width: 100%;
  max-width: 750px;
  overflow: hidden;
  margin: 0 auto;
  min-width: 320px;
  -webkit-text-size-adjust: 100%!important;
  line-height: 1;
  //background: #f3dbc4;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.page-one {
  background: url("../images/bg_01.png") center bottom no-repeat;
  background-size: 100% 100%;
  .content {
    //max-height:1206/75rem;
    height:100%;
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    padding-top:40/75rem;
    dl {
      padding:0 70/7.5% 0 110/7.5%;
      width:100%;
      dt {
        padding-top:25/75rem;
        margin-right: 70/75rem;
      }
      dd {
        .intro_01 {
          height:200/75rem;
        }
        p {
          color: #bd3f40;
          line-height: 1;
        }
        .p1 {
          font-size:30/75rem;
          font-weight: 500;
          margin: 30/75rem 0 20/75rem 0;
        }
        .p2 {
          font-size:26/75rem;
        }
        .p3 {
          font-size:45/75rem;
          margin: 70/75rem 0 20/75rem 0;
          font-weight: 500;
        }
        .p4 {
          font-size:40.98/75rem;
          font-weight: 500;
        }
        .p5 {
          font-size:23.34/75rem;
          margin: 75/75rem 0 0/75rem 0;
        }
      }
    }
  }
}

.page-two {
  background: url("../images/bg_02.png") center bottom no-repeat;
  background-size: 100% 100%;
  .content {
    //max-height:1206/75rem;
    height:100%;
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    padding-top:40/75rem;
    .title {
      margin: 60/75rem auto 40/75rem ;
    }
    p.days {
      color: #bd3f40;
      font-size:86/75rem;
      text-align: center;
      line-height: 1;
      span {
        position: relative;
        font-size:77.85/75rem;
        top: -5/75rem;
      }
    }
    .intro_02 {
      margin: 25/75rem auto 40/75rem;
      height:228/75rem;
    }

    dl {
      padding:0 70/7.5% 0 110/7.5%;
      width:100%;
      dt {
        padding-top:25/75rem;
        margin-right: 70/75rem;
      }
      dd {
        .intro_01 {
          height:200/75rem;
        }
        p {
          color: #bd3f40;
          line-height: 1;
        }
        .p1 {
          font-size:36/75rem;
          font-weight: 500;
          margin: 20/75rem 0;
        }
        .p2 {
          font-size:36/75rem;
          font-weight: 500;
        }
        .p3 {
          font-size:36/75rem;
          margin: 20/75rem 0 65/75rem 0;
          font-weight: 500;
        }
        .p4 {
          font-size:23.34/75rem;
        }
      }
    }
  }
}
.page_three {
  background: url("../images/bg_01.png") center bottom no-repeat;
  background-size: 100% 100%;
  .content {
    //max-height:1206/75rem;
    height:100%;
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    padding-top:40/75rem;
    .logo {
      margin-bottom: 90/75rem;
    }
    dl {
      padding:0 70/7.5% 0 110/7.5%;
      width:100%;
      dt {
        padding-top:25/75rem;
        margin-right: 70/75rem;
      }
      dd {
        .intro_01 {
          height:200/75rem;
        }
        .status-one {
          padding-top:25/75rem;
          p{
            font-size:30/75rem;
            margin-bottom: 20/75rem;
          }
          p:nth-child(2){
            font-size:40.98/75rem;
            margin-bottom: 20/75rem;
            font-weight: 600;
          }
          img {
            height:200/75rem;
          }
        }
        .status-two {
          padding-top:15/75rem;
          p:first-child {
            font-weight:600;
          }
          p{
            font-size:40.98/75rem;
            margin-bottom: 20/75rem;
            font-weight: 500;
          }
          img {
            height:200/75rem;
          }
        }
        p {
          color: #bd3f40;
          line-height: 1;
        }
        .p1 {
          font-size:28/75rem;
          margin: 72/75rem 0 20/75rem 0;
        }
        .p2 {
          font-size:28/75rem;
        }
        .p3 {
          font-size:36/75rem;
          margin: 30/75rem 0 30/75rem 0;
          font-weight: 600;
        }
        .p4 {
          font-size:36/75rem;
          font-weight: 600;
        }
        .p5 {
          font-size:23.34/75rem;
          margin: 100/75rem 0 0/75rem 0;
        }
      }
    }
  }
}

.page-four {
  background: url("../images/bg_02.png") center bottom no-repeat;
  background-size: 100% 100%;
  .content {
    //max-height:1206/75rem;
    height:100%;
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    padding-top:40/75rem;
    .logo {
      margin-bottom: 80/75rem ;
    }

    dl {
      padding:0 70/7.5% 0 135/7.5%;
      width:100%;
      dt {
        padding-top:25/75rem;
        margin-right: 58/75rem;
      }
      dd {
        width:(750-205-58-24)/5.45%;
        .intro_01 {
          height:200/75rem;
        }
        p {
          color: #bd3f40;
          line-height: 1;
        }
        .p1 {
          font-size:36/75rem;
          font-weight: 500;
          margin: 15/75rem 0 0 0;
        }
        .p2 {
          font-size:58.87/75rem;
          font-weight: 500;
          margin: 20/75rem 0 ;
          span {
            font-size:53.26/75rem;
            position: relative;
            top:-3/75rem;
          }
        }
        .p3 {
          font-size:36/75rem;
          font-weight: 500;
        }
        .p4 {
          font-size:23.34/75rem;
        }
        ul {
          li {
            font-size:26.84/75rem;
            color: #fff;
            width:156/75rem;
            height:156/75rem;
            //background: url("../images/icon_bg.png") center bottom no-repeat;
            //background-size: 100% 100%;
            text-align: center;
            margin-top: 40/75rem;
            padding-top:60/75rem;
            line-height:1;
            span {
              font-size:30/75rem;
              margin-bottom: 10/75rem;
              display: inline-block;
            }
          }
        }
      }

    }
    .intro {
      font-size:38/75rem;
      color: #fff;
      background: url("../images/bg_intro.png") center bottom no-repeat;
      background-size: 100% 100%;
      width:420/7.5%;
      height:76/75rem;
      line-height:77/75rem;
      text-align: center;
      margin: 75/75rem auto 0;
    }
  }
}


.page-five {
  background: url("../images/bg_02.png") center bottom no-repeat;
  background-size: 100% 100%;
  .content {
    //max-height:1206/75rem;
    height:100%;
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    padding-top:40/75rem;
    .title {
      height:76/75rem;
      margin: 60/75rem auto 50/75rem;
    }
    .status_one,.status_two {
      color: #bd3f40;
      font-size:34/75rem;
      img {
        height:228/75rem;
        margin: 0 auto 35/75rem;
      }
      p {
        margin-bottom: 30/75rem;
        line-height: 1;
        text-align: center;
      }
    }
    dl {
      padding:0 70/7.5% 0 110/7.5%;
      width:100%;
      dt {
        padding-top:25/75rem;
        margin-right: 70/75rem;
      }
      dd {
        .intro_01 {
          height:200/75rem;
        }
        p {
          color: #bd3f40;
          line-height: 1;
        }
        .p1 {
          font-size:30/75rem;
          font-weight: 500;
          margin: 20/75rem 0 0/75rem 0;
        }
        .p2 {
          font-size:30/75rem;
          margin: 20/75rem 0 ;
          font-weight: 500;
        }
        .p3 {
          font-size:30/75rem;
          font-weight: 500;
        }
        .p4 {
          font-size:23.34/75rem;
          margin: 65/75rem 0 0/75rem 0;
        }
      }
    }
  }
}

.page-six {
  background: url("../images/bg_02.png") center bottom no-repeat;
  background-size: 100% 100%;
  .content {
    //max-height:1206/75rem;
    height:100%;
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    padding-top:40/75rem;
    .title {
      height:76/75rem;
      margin: 60/75rem auto 0;
    }
    .intro {
      height:241/75rem;
      margin: -60/75rem auto 0 ;
    }
    .status_one,.status_two {
      color: #bd3f40;
      font-size:34/75rem;
      img {
        height:228/75rem;
        margin: 0 auto 35/75rem;
      }
      p {
        margin-bottom: 30/75rem;
        line-height: 1;
        text-align: center;
      }
    }
    dl {
      padding:0 70/7.5% 0 110/7.5%;
      width:100%;
      dt {
        padding-top:25/75rem;
        margin-right: 70/75rem;
      }
      dd {
        width:82.5%;
        .intro_01 {
          height:200/75rem;
        }
        p {
          color: #bd3f40;
          line-height: 50/75rem;
          text-align: justify;
        }
        .p1 {
          font-size:30/75rem;
          font-weight: 500;
          margin: 10/75rem 0 0/75rem 0;
          span {
            font-size:36/75rem;
            font-weight: 500;
          }
        }
        img {
          height:200/75rem;
          margin: 20/75rem 0 30/75rem 0;
        }
        .p2 {
          font-size:24/75rem;
          margin: 20/75rem 0 ;
          line-height: 40/75rem;
          text-align: justify;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
.page-seven {
  background: url("../images/bg_02.png") center bottom no-repeat;
  background-size: 100% 100%;
  .content {

    height:100%;
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    padding-top:40/75rem;
    .logo {
      margin-bottom: 50/75rem ;
    }

    dl {
      padding:105/75rem 70/7.5% 0 123/7.5%;
      width:100%;
      height:852/75rem;
      background: url("../images/bg.png") center bottom no-repeat;
      background-size: 608/7.5% 852/75rem;
      position: relative;
      z-index: 10;
      dt {
        padding-top:25/75rem;
        margin-right: 58/75rem;
      }
      dd {
        width:(750-193-58-24)/5.57%;
        .intro_01 {
          height:200/75rem;
        }
        p {
          color: #bd3f40;
          line-height: 1;
        }
        .p1 {
          font-size:30/75rem;
          font-weight: 500;
          margin: 25/75rem 0 0 0;
        }
        .icp {
          height:167/75rem;
          margin-top: 30/75rem;
        }
        .p2 {
          font-size:30/75rem;
          font-weight: 500;
          margin: 30/75rem 0 45/75rem;
          line-height:42/75rem;

        }
        .p3 {
          font-size:34/75rem;
          font-weight: 500;
          line-height: 48/75rem;
        }
        .p4 {
          font-size:28/75rem;
          margin: 50/75rem 0 45/75rem;
          line-height: 42/75rem;
        }
        .p5 {
          font-size:23.34/75rem;
        }
        ul {
          li {
            font-size:26.84/75rem;
            color: #fff;
            width:156/75rem;
            height:156/75rem;
            background: url("../images/icon_bg.png") center bottom no-repeat;
            background-size: 100% 100%;
            text-align: center;
            margin-top: 40/75rem;
            padding-top:60/75rem;
            line-height:1;
            span {
              font-size:30/75rem;
              margin-bottom: 10/75rem;
              display: inline-block;
            }
          }
        }
      }

    }
    .intro {
      font-size:38/75rem;
      color: #fff;
      background: url("../images/bg_intro.png") center bottom no-repeat;
      background-size: 100% 100%;
      width:420/7.5%;
      height:76/75rem;
      line-height:77/75rem;
      text-align: center;
      margin: 75/75rem auto 0;
    }
  }
}
.page-eight {
  background: url("../images/bg_01.png") center bottom no-repeat;
  background-size: 100% 100%;
  .content {
    //max-height:1206/75rem;
    height:100%;
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    padding-top:40/75rem;
    .title {
      height:76/75rem;
      margin: 50/75rem auto 0;
    }
    .intro {
      height:224/75rem;
      margin: 80/75rem auto 45/75rem;
    }
    .extol {
      text-align: center;
      font-size:30/75rem;
      color: #bd3f40;
      p {
        margin-bottom: 30/75rem;
      }
      p:first-child {
        letter-spacing: 0.1rem;
        width:410/7.5%;
        margin: 0 auto 30/75rem;
        text-align: center;
        position: relative;
      }
      p:first-child:before,p:first-child:after {
        content: "";
        display: block;
        width:40/75rem;
        border-top: 1px solid #bd3f40;
        position: absolute;
        top: 15/75rem;
      }
      p:first-child:after{
        right:0;
      }

      p:nth-child(2) {
        letter-spacing: 0.23rem;
      }
      p:last-child {
        letter-spacing: 0.18rem;
      }
    }
    .share-page {
      background: url("../images/btn_bg.png") center bottom no-repeat;
      background-size: 100% 100%;
      width:344/7.5%;
      height:97/75rem;
      line-height:97/75rem;
      margin: 80/75rem auto 0;
      text-align: center;
      color: #be4241;
      font-size:35.04/75rem;
      letter-spacing: 0.1rem;
    }
  }
}
.btm-img {
  width:100%;
  height:336/75rem;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
}
img {
  display: block;
}
.logo {
  height:59/75rem;
  margin: 0 auto;
}
.title {
  height:91/75rem;
  margin: 40/75rem auto 100/75rem;
}
.point {
  width:24/75rem;
  height:24/75rem;
}
.line{
  display: block;
  margin-top: 15/75rem;
  border-left:1px solid #e2ac92;
  margin-left: 11.5/75rem;
}
.h320 {
  height:320/75rem;
}
.h345 {
  height:345/75rem;
}
.h270 {
  height:270/75rem;
}
.h130 {
  height:130/75rem;
}
.h145 {
  height:145/75rem;
}
.h30 {
  height:30/75rem;
}
.h165 {
  height:165/75rem;
}
.h40 {
  height:40/75rem;
}
.h380 {
  height:380/75rem;
}
.h495 {
  height:495/75rem;
}
.mr70 {
  margin-right: 70/75rem;
}
.h225 {
  height:225/75rem;
}
.h95 {
  height:95/75rem;
}
.h100 {
  height:100/75rem;
}
.h120 {
  height:120/75rem;
}
.cloud1 {
  height:172/75rem;
  position: absolute;
  left:0;
  top:35/75rem;
}
.cloud2 {
  height:256/75rem;
  position: absolute;
  left:0;
  top:94/75rem;
}
.flower1 {
  height:125/75rem;
  position: absolute;
  right:0;
  top:155/75rem;
}
.flower2 {
  height:138/75rem;
  position: absolute;
  right:0;
  top:290/75rem;
}
.flower3 {
  height:92/75rem;
  position: absolute;
  right:0;
  top:228/75rem;
}
.flower4 {
  height:103/75rem;
  position: absolute;
  right:0;
  top:233/75rem;
}