@q:75rem;
.fl{
  float: left;
}
.fr{
  float: right;
}
.hide-prize{
  display:block!important;
}
.flex-contant{
  padding-top: 602/@q;
  //height: 4692/@q;
  background: url(../images/star-bg.png) 0 0 no-repeat;
  -webkit-background-size:contain;
  background-size:contain;
  background-color: #180F0B;
  overflow:hidden;
  position: relative;
  .contain-part1{
    margin:66/@q 30/@q;
    border:1px solid #A38528;
    .top-nav{
      background: url(../images/part1-ranking-top-bg.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      width: 640/@q;
      height: 74/@q;
      margin:25/@q auto;
    }
    div.part1-msg{
      padding-top:30/@q;
      color:#fff;
      p{
        font-size:29/@q;
        height: 45/@q;
        line-height: 45/@q;
        text-align: center;
        span{
          font-size:33/@q;
          color:#ED2D2D;
        }
        i{
          color:#ED2D2D;
          font-style: normal;
        }
      }
    }
    a.go-invest{
      width: 512/@q;
      height: 70/@q;
      margin:16/@q auto 60/@q;
      font-size:32/@q;
      text-align: center;
      line-height: 70/@q;
      -webkit-border-radius: 8/@q;
      -moz-border-radius: 8/@q;
      border-radius: 8/@q;
      background-color: #A38528;
      color:#fff;
      display:block;
    }
    div.pop-ranking{
      position:relative;
      font-size:30/@q;
      .pop-ranking-nav{
        background:url(../images/part1-ranking-bg-mid1.png)0 0 no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        width: 595/@q;
        height:65/@q;
        margin: 0 auto;
      }
      .pop-ranking-contain{
        background-color: #31250A;
        width: 572/@q;
        //height: 755/@q;
        margin:0 auto;
        //position: absolute;
        //left:58/@q;
        //margin-top:57/@q;
        dl{
          dt{
            color:#fff;
            height: 53/@q;
            line-height: 53/@q;
          }
          dd{
            color:#F2D84A;
          }
          dt span,dd span{
            text-align: center;
            height: 53/@q;
            line-height: 53/@q;
          }
          dt span{
            width: 50%;
          }
          dd span:nth-child(1){
            width:53/@q;
            height: 53/@q;
          }
          dd span.phone-card{
            background: url(../images/phone-card.png) center center no-repeat;
            -webkit-background-size: 70% 70%;
            background-size: 70% 70%;
          }
          dd span:nth-child(2){
            width: 35%;
          }
          dd span:last-child{
            width: 55%;
          }
          dd.pop-ranking-red{
            color:#FF3434
          }
          dd.pop-ranking-yellow{
            color:#d7c041;
          }
          dd.pop-ranking-orange{
            color:#FFA054
          }
        }
      }
      .pop-ranking-bottom{
        //position:absolute;
        //bottom: 0;
        background:url(../images/part1-ranking-bottom-bg.png)0 0 no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        width: 586/@q;
        height: 45/@q;
        margin: 0 auto;
      }
    }
    p.part1-suggestion{
      color:red;
      height: 68/@q;
      line-height: 68/@q;
      padding-left: 30/@q;
      font-size: 23/@q;
    }
  }
  .contain-part2{
    margin:0 30/@q;
    border:1px solid #A38528;
    .top-nav{
      background: url(../images/part2-top.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      width: 640/@q;
      height: 74/@q;
      margin:25/@q auto;
    }
    p{
      font-size:27/@q;
      height: 45/@q;
      line-height: 45/@q;
      text-align: center;
      color:#fff;
      span{
        font-size:33/@q;
        color:#ED2D2D;
      }
    }
    .fr-mygift{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-right: 32/@q;
      height: 70/@q;
      span.part-mygift{
        margin-top: 30/@q;
        color:#cea32f;
        font-size:30/@q;
        height: 40/@q;
        line-height: 40/@q;
      }
    }
    .rotate-prize{
      height: 664/@q;
      overflow: hidden;
      div.get-prize-bg{
        height: 633/@q;
        width: 633/@q;
        margin:15/@q auto;
        background:url(../images/get-prize-bg.png) 0 0 no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        position:relative;
        z-index: 6;
        .get-prize-rotate{
          background:url(../images/get-prize-rotate.png) 0 0 no-repeat;
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
          position:absolute;
          left:50%;
          top:50%;
          transition:all 2s;
          transition-timing-function: ease-in-out;
          margin-left:-267.5/@q;
          margin-top:-267.5/@q;
          transform-origin: center center;
          height: 535/@q;
          width:535/@q;
          z-index: 7;
        }
        img{
          position:absolute;
          margin-top: -108/@q;
          margin-left: -92/@q;
          left:50%;
          top:50%;
          height: 216/@q;
          width: 184/@q;
          z-index: 8;
        }
      }
    }
    a.go-invest{
      width: 512/@q;
      height: 70/@q;
      margin:16/@q auto 60/@q;
      font-size:32/@q;
      text-align: center;
      line-height: 70/@q;
      -webkit-border-radius: 8/@q;
      -moz-border-radius: 8/@q;
      border-radius: 8/@q;
      background-color: #A38528;
      color:#fff;
      display:block;
    }
  }
  .get-prizes{
    display:none;
    background-color: rgba(12,7,5,0.7);
    position:fixed;
    top:0;
    z-index: 11;
    max-width:750px;
    height: 100vh;
    width:100%;
    margin: 0 auto;
    .box-top-mid{
      width: 690/@q;
      height:732/@q;
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      background: url(../images/prize-box-bg.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      .cue-close{
        position:absolute;
        width:68/@q;
        height:68/@q;
        background: url(../images/prize-close.png) 0 0 no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        right:0;
        top:-100/@q;
      }
      p{
        color:#C18C2D;
        text-align: center;
      }
      p.get-prize-msg{
        font-size:48/@q;
        height: 112/@q;
        line-height: 68/@q;
        padding-top: 44/@q;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      p.get-prize-msg-word{
        font-size:42/@q;
        height: 52/@q;
        line-height: 52/@q;
      }
      .get-prize-kind{
        height: 357/@q;
        line-height: 357/@q;
        text-align: center;
        //width: 500/@q;
        //margin:0 auto;
        //overflow:hidden;
        img{
          //width: 429/@q;
          width: 380/@q;
          margin:0 auto;
        }
      }
      .prize-button{
        position:absolute;
        bottom: 50/@q;
        left: 74/@q;
        width: 544/@q;
        height: 99/@q;
        line-height: 88/@q;
        text-align:center;
        color:#fff;
        font-size:35/@q;
        background: url(../images/prize-get-button.png) 0 0 no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
      }
    }
  }
  .get-prizes-list{
    display:none;
    background-color: rgba(12,7,5,0.7);
    position:fixed;
    top:0;
    z-index: 11;
    max-width:750px;
    height: 100vh;
    width:100%;
    margin: 0 auto;
    .box-top-mid{
      width: 690/@q;
      height:922/@q;
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      background: url(../images/prize-list.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      .cue-close{
        position:absolute;
        width:68/@q;
        height:68/@q;
        background: url(../images/prize-close.png) 0 0 no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        right:0;
        top:-100/@q;
      }
      p.get-prize-msg{
        color:#f2453e;
        text-align: center;
        font-size:48/@q;
        height: 132/@q;
        line-height: 68/@q;
        padding-top: 64/@q;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      #wrapper{
        width: 596/@q;
        height: 706/@q;
        overflow: hidden;
        margin:0 auto;
        //border:1px solid red;
        position: relative;
        ul{
          width: 100%;
          li{
            border-bottom:1px dashed #FDB7BE;
            height: 230/@q;
            .prize-list-one{
              line-height: 230/@q;
              height: 230/@q;
              width: 40%;
              text-align: center;
              img{
                width: 80%;
              }
            }
            .prize-list-one-msg{
              height: 230/@q;
              padding-left: 40/@q;
              width: 60%;
              span:first-child{
                margin-top: 100/@q;
                display:block;
                color:#000;
              }
              span:last-child{
                display:block;
                color:#999999;
              }
            }
          }
        }
      }
    }
  }
  .contain-part3{
    margin:66/@q 30/@q;
    border:1px solid #A38528;
    .top-nav{
      background: url(../images/part3-top.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      width: 640/@q;
      height: 74/@q;
      margin:25/@q auto;
    }
    p:nth-of-type(1){
      padding-top: 20/@q;
    }
    p{
      font-size:29/@q;
      color:#fff;
      padding-left: 24/@q;
      line-height: 35/@q;
      margin-bottom: 30/@q;
      span{
        font-size:36/@q;
        color:#ED2D2D;
      }
    }
    div.active-state-before{
      .active-state{
        width: 612/@q;
        margin: 0 auto;
        height: 150/@q;
        div.go-register{
          width: 50%;
          text-align: center;
          padding-top: 70/@q;
          a{
            margin:0 auto;
            width: 256/@q;
            height: 70/@q;
            line-height: 70/@q;
            display: block;
            color:#fff;
            font-size:32/@q;
            background-color: #A38528;
            -webkit-border-radius: 8/@q;
            -moz-border-radius: 8/@q;
            border-radius: 8/@q;
          }
        }
      }
      .go-invest{
        width: 512/@q;
        height: 70/@q;
        margin:60/@q auto 16/@q;
        font-size:32/@q;
        text-align: center;
        line-height: 70/@q;
        -webkit-border-radius: 8/@q;
        -moz-border-radius: 8/@q;
        border-radius: 8/@q;
        background-color: #A38528;
        color:#fff;
        display:block;
      }
      p.last-rink-msg{
        color:#FA3F32;
      }
    }
    div.active-state-now{
      color:#FA3F32;
      height: 220/@q;
      h5{
        font-weight: 400;
        font-size:32/@q;
        height: 58/@q;
        line-height: 59/@q;
        padding-left: 25/@q;
      }
      .active-state-phone{
        span{

          font-size:30/@q;
          height: 45/@q;
          line-height: 45/@q;
          text-align: center;
          float: left;
          width: 33%;
        }
      }
    }
  }
  p.last-p-tips{
    text-align: center;
    color:#FA3F32;
    height: 46/@q;
    line-height: 46/@q;
    font-size:22/@q;
  }
}