html,body,p,ul,ol,li,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,input{
    margin:0;
    padding:0;
}
ul,ol,li{
    list-style:none;
}
img{
    border:0;
}
a{
    text-decoration:none;
}
body{
    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
}
i,em {
    font-style: normal;
}
input {
    outline: none;
}
.container{
    padding: 0;
    margin: 0 auto;
    background: #fff;
    min-height:640px;
}
.row{
    margin: 0;
}
.clear {
    clear: both;
}
.icon {
    padding: 0;
    margin: 0 auto;
}
.icon img {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
}
.group {
    background: #fff;
}
.group img {
    width:100%;
}
.activity {
    margin:0 14px;
    border:5px solid #eb7f97;
}
.line-border {
    margin:5px;
    padding: 5px 0;
    border:2px solid #eb7f97;
}
.line-border p {
    text-align: center;
    line-height: 32px;
    font-size: .83rem;
    color: #3f3f3f;
}
p.title_01 {
    margin:16px 24px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    color:#fff;
    text-align: center;
    background:#eb7f97 url("../images/monther_01.png");
}
.line {
    position: relative;
    top:0;
    left:0;
    margin:0 24px;
    height: 1px;
    background: #eb7f97;
}
p.line_img {
    position: absolute;
    left:50%;
    top:-16px;
    margin-left: -25px;
    width: 50px;
    height: 30px;
}
p.line img {
    width:100%;
}
.content_txt {
    margin:40px 22px 5px;
}
.content_txt p{
    text-align: center;
    line-height:26px;
    font-size: 0.83rem;
    color: #3f3f3f;
}
p.first {
    color:#eb7f97;
}
.two_people {  }
.two_people img {
    width:100%;
}
.star {
    margin:10px auto 20px;
    width:300px;
}
.star img {
    float: left;
    width:30px;
}
p.tel {
    margin: 0 10px;
    font-size: 1rem;
    color: #eb7f97!important;
    text-align: center;
}
p.banquan {
    padding-top: 8px;
    padding-bottom: 28px;
    font-size: 0.6rem;
    color: #eb7f97;
    text-align: center;
}