.prizes-box {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    /*根据实际情况设定*/
    background-color: rgba(0, 0, 0, 0.6);
}
.prizes-box .outer-box {
    width: 72%;
    max-width: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    /*根据实际情况设定*/
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    border-radius: 0.35rem;
    height: 8.3rem;

}
.prizes-box img.pop_close {
    width: 0.8rem;
    position: absolute;
    top: -1rem;
    right: -0.15rem;
    cursor: pointer;
}
.prizes-box .prizes-pomp {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    /*根据实际情况设定*/
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    padding: 0.56rem 6.66666667%;
    border-radius: 0.35rem;
    height: 8.3rem;
    overflow: hidden;
    background-size: 100% auto;
    border: 0.0933333rem solid #945a2d;
    background: #fff;
}
.prizes-box .prizes-pomp .prizes-title {
    font-size: 0.66666667rem;
    color: #434242;
    text-align: center;
    padding-bottom: 0.23333333rem;
    border: none;
    line-height: 1;
}
.prizes-box .prizes-pomp #wrapper {
    height: 6.3rem;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.prizes-box .prizes-pomp #wrapper ul {
    width: 100%;
}
.prizes-box .prizes-pomp #wrapper ul li {
    width: 100%;
    padding: 0.33333333rem 0;
    border-bottom: 1px dashed #fdb7be;
}
.prizes-box .prizes-pomp #wrapper ul li:last-child {
    border-bottom: none;
}
.prizes-box .prizes-pomp #wrapper ul li div:first-child {
    width: 40%;
}
.prizes-box .prizes-pomp #wrapper ul li div:first-child img {
    width: 2.26666667rem;
    display: block;
    margin: 0 auto;
}
.prizes-box .prizes-pomp #wrapper ul li div:last-child {
    width: 60%;
    color: #666666;
    line-height: 1;
}
.prizes-box .prizes-pomp #wrapper ul li div:last-child p:first-child {
    font-size: 0.37333333rem;
    margin: .7rem 0 0.3rem;
}
.prizes-box .prizes-pomp #wrapper ul li div:last-child p:last-child {
    font-size: 0.32rem;
}
.prizes-box .prizes-pomp #wrapper ul li.no-prizes {
    color: #666;
    font-size: 0.4rem;
    margin-top: 2.53333333rem;
    text-align: center;
    border: none;
}