@q:75rem;
.active{
  display:block!important;
}
.flex-content{
  overflow: hidden;
  background:url(../images/active-bg3.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  height:1334/@q;
  width:10rem;
  position: relative;
  overflow: hidden;
  .msg-help{
    height: 150/@q;
    color:#d5984e;
    font-size:30/@q;
    line-height: 50/@q;
    text-indent: 2em;
    letter-spacing: 3/@q;
    margin-top:652/@q;
    margin-left:85/@q;
    p.msg-help-character{
      width:430/@q;
      float: left;
      span{
        color:#ff3939;
      }
    }
    img{
      float: left;
      margin-left:35/@q;
      margin-top:30/@q;
      height: 130/@q;
      width:130/@q;
      //background:url(../images/default-avatar.png) 0 0 no-repeat;
      //-webkit-background-size: 100% 100%;
      //background-size: 100% 100%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
  ol{
    margin-top:66/@q;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    li{
      height: 75/@q;
      line-height:75/@q;
      font-size:28/@q;
      color:#9f6b2f;
      padding-left:151/@q;
      p{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        span{
          font-size:36/@q;
          color: #ff3939;
          letter-spacing: 0.3em;
        }
      }
    }
  }
  p.msg-tips{
    color:#ff3939;
    line-height:25/@q;
    font-size:25/@q;
    padding-top:55/@q;
    padding-bottom:60/@q;
    text-align: center;
  }
  div.get-friend-btn{
    background:url(../images/get-friend-btn.png) 0 0 no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 104/@q;
    line-height:104/@q;
    font-size:45/@q;
    text-align: center;
    width: 508/@q;
    display:block;
    margin:0 auto;
    letter-spacing: 0.1em;
    color:#f8eea3;
  }
}