.active {
  display: block!important;
}
.flex-content {
  background: url(../images/active-bg3.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 17.78666667rem;
  width: 10rem;
  position: relative;
  overflow: hidden;
}
.flex-content .msg-help {
  height: 2rem;
  color: #d5984e;
  font-size: 0.4rem;
  line-height: 0.66666667rem;
  text-indent: 2em;
  letter-spacing: 0.04rem;
  margin-top: 8.69333333rem;
  margin-left: 1.13333333rem;
}
.flex-content .msg-help p.msg-help-character {
  width: 5.73333333rem;
  float: left;
}
.flex-content .msg-help p.msg-help-character span {
  color: #ff3939;
}
.flex-content .msg-help img {
  float: left;
  margin-left: 0.46666667rem;
  margin-top: 0.4rem;
  height: 1.73333333rem;
  width: 1.73333333rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.flex-content ol {
  margin-top: 0.88rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flex-content ol li {
  height: 1rem;
  line-height: 1rem;
  font-size: 0.37333333rem;
  color: #9f6b2f;
  padding-left: 2.01333333rem;
}
.flex-content ol li p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flex-content ol li p span {
  font-size: 0.48rem;
  color: #ff3939;
  letter-spacing: 0.3em;
}
.flex-content p.msg-tips {
  color: #ff3939;
  line-height: 0.33333333rem;
  font-size: 0.33333333rem;
  padding-top: 0.73333333rem;
  padding-bottom: 0.8rem;
  text-align: center;
}
.flex-content div.get-friend-btn {
  background: url(../images/get-friend-btn.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 1.38666667rem;
  line-height: 1.38666667rem;
  font-size: 0.6rem;
  text-align: center;
  width: 6.77333333rem;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.1em;
  color: #f8eea3;
}
