.active {
  display: block!important;
}
body {
  position: relative;
}
.flex-content {
  overflow: hidden;
  background: url(../images/active-bg.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 17.78666667rem;
  width: 10rem;
  position: relative;
}
.flex-content .box-top2 div.box-top-mid {
  background: url(../images/shade-contain.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.flex-content .box-top2 div.box-top-mid p.mid-box-hint {
  font-size: 0.58666667rem;
  color: #9f6b2f;
}
.flex-content .box-top2 div.box-top-mid a.get-qualification {
  display: block;
  color: #fff;
  font-size: 0.53333333rem;
  letter-spacing: 0.2em;
  text-align: center;
  -webkit-border-radius: 0.26666667rem;
  -moz-border-radius: 0.26666667rem;
  border-radius: 0.26666667rem;
  width: 3.73333333rem;
  height: 1.2rem;
  line-height: 1.2rem;
  margin: 1.86666667rem auto 0;
  background-color: #f39a4a;
}
.flex-content .box-top {
  display: none;
  position: fixed;
  z-index: 6;
  margin: 0 auto;
  max-width: 750px;
  height: 100vh;
  width: 100%;
  background: url(../images/shade-bg.png) no-repeat;
}
.flex-content .box-top .box-top-mid {
  height: 9.74666667rem;
  width: 7.46666667rem;
  background: url(../images/shade-contain2.png) 0 0 no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3.73333333rem;
  margin-top: -4.86666667rem;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.flex-content .box-top .box-top-mid .cue-login {
  width: 2.45333333rem;
  height: 3.58666667rem;
  background: url(../images/glim-login.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: -1.8rem;
  right: -0.69333333rem;
}
.flex-content .box-top .box-top-mid .cue-close {
  width: 1.4rem;
  height: 1.4rem;
  background: url(../images/shade-close.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  bottom: -2.32rem;
  left: 3.04rem;
}
.flex-content .box-top .box-top-mid p.active-state {
  font-size: 0.34666667rem;
  position: absolute;
  bottom: 0.29333333rem;
  left: 0;
  width: 100%;
  color: #ff3939;
  text-align: center;
}
.flex-content .box-top .box-top-mid .mid-box-contain {
  padding-top: 2rem;
  font-size: 0.42666667rem;
  color: #9f6b2f;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.38666667rem;
  padding-right: 0.46666667rem;
}
.flex-content .box-top .box-top-mid .mid-box-contain ol li span {
  width: 0.61333333rem;
  float: left;
}
.flex-content .box-top .box-top-mid .mid-box-contain ol li p {
  padding-left: 0.61333333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flex-content .a-bitton-convene {
  width: 4.38666667rem;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  font-size: 0.45333333rem;
  text-align: center;
  color: #d71200;
  font-weight: 700;
  background: url(../images/active-index-button.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.18666667rem;
  margin-top: -1.06666667rem;
}
.flex-content .a-nav {
  position: fixed;
  width: 0.92rem;
  height: 2.73333333rem;
  right: 0;
  top: 5.33333333rem;
  background: url(../images/active-rules.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  overflow: hidden;
}
.flex-content .a-nav span {
  line-height: 0.5rem;
  margin: 0.32rem auto;
  display: block;
  width: 0.46666667rem;
  font-size: 0.34666667rem;
  word-wrap: break-word;
  letter-spacing: 0.06666667rem;
  color: #e14742;
}
