@q:75rem;
.active{
  display:block!important;
}
body{
  position:relative;
}
.flex-content{
  overflow: hidden;
  background:url(../images/active-bg.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  height:1334/@q;
  width:10rem;
  position: relative;
  .box-top2 {
    div.box-top-mid{
    background:url(../images/shade-contain.png) 0 0 no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
      p.mid-box-hint{
        font-size:44/@q;
        color:#9f6b2f;
      }
      a.get-qualification{
        display: block;
        color:#fff;
        font-size:40/@q;
        letter-spacing: 0.2em;
        text-align: center;
        -webkit-border-radius: 20/@q;
        -moz-border-radius: 20/@q;
        border-radius: 20/@q;
        width: 280/@q;
        height:90/@q;
        line-height:90/@q;
        margin:140/@q auto 0;
        background-color: #f39a4a;

      }
    }
  }
  .box-top{
    display:none;
    position:fixed;
    z-index: 6;
    margin:0 auto;
    max-width:750px;
    height: 100vh;
    width:100%;
    background:url(../images/shade-bg.png) no-repeat;
    .box-top-mid{
      height: 731/@q;
      width:560/@q;
      background:url(../images/shade-contain2.png) 0 0 no-repeat;
      position:absolute;
      left:50%;
      top:50%;
      margin-left:-280/@q;
      margin-top:-365/@q;
      //transform:translate(-50%,-50%);
      -webkit-background-size: 100%;
      background-size: 100%;
      .cue-login{
        width: 184/@q;
        height:269/@q;
        background: url(../images/glim-login.png) 0 0 no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
        position:absolute;
        top:-135/@q;
        right:-52/@q;
      }
      .cue-close{
        width: 105/@q;
        height:105/@q;
        background: url(../images/shade-close.png) 0 0 no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
        position:absolute;
        bottom:-174/@q;
        left:228/@q;
      }
      p.active-state{
        font-size:26/@q;
        position:absolute;
        bottom:22/@q;
        left:0;
        width: 100%;
        color:#ff3939;
        text-align: center;
      }
      .mid-box-contain{
        padding-top: 150/@q;
        //text-align: center;
        font-size:32/@q;
        color:#9f6b2f;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left:29/@q;
        padding-right:35/@q;
        ol{
          li{

            span{
              width:46/@q;
              float: left;
            }
            p{
              padding-left:46/@q;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
  .a-bitton-convene{
    width:329/@q;
    height:100/@q;
    line-height:100/@q;
    font-size:34/@q;
    text-align: center;
    color:#d71200;
    font-weight:700;
    //text-shadow: 0 -1px 1px #ea8771;
    background: url(../images/active-index-button.png) 0 0 no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-164/@q;
    margin-top:-80/@q;
  }
  .a-nav{
    position:fixed;
    width: 69/@q;
    height: 205/@q;
    right:0;
    top:400/@q;
    background: url(../images/active-rules.png) 0 0 no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    overflow: hidden;
    //font-size: 50px;

    span{
      line-height:0.5rem;
      margin:24/@q auto;
      display: block;
      width: 35/@q;
      font-size:26/@q;
      word-wrap: break-word;
      letter-spacing: 5/@q;
      color:#e14742;
    }
  }
}