<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telphone=no, email=no"/>
	<title>圣诞节活动</title>
	<link rel="stylesheet" href="../../common/css/wenjfbase.css">
	<link rel="stylesheet" href="css/gifts-list.css">
	<link rel="stylesheet" href="../../common/css/popover.css">
	<link rel="stylesheet" href="css/index.css">
	<script src="../../libs/lib.flexible3.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../libs/jquery-1.11.1.min.js"></script>
	<script src="../../libs/iscroll.js"></script>
	<script src="../../libs/handlebars-v4.0.10.js"></script>
	<script src="js/popover.js"></script>
	<script src="js/gifts-list.js"></script>
	<style>
		[v-cloak]{display: none}
	</style>
</head>
<body>
<div class="flex-content animatedSpecial" id="app">
	<div class="part_01">
		<img class="bg" src="images/bg_01.png" alt="">
		<img v-cloak v-if="isShowFog" v-bind:class="{dissipate:dissipate.fog1}"  class="fog animatedSpecial" src="images/fog_04.png" alt="">
		<div class="balloon">100万元</div>
		<div v-cloak v-if="lock.lock1" @click="deblock(1)" class="lock"><img src="images/lock.png" alt=""></div>
		<img class="moneyBag5  animated delay4" v-bind:class="{swing:dissipate.fog1}" @click="clickMoneyBag(1)" src="images/money_bag_05.png" alt="">
		<img v-cloak class="hand1 animated delay4" v-if="hand.hand1" v-bind:class="{point:dissipate.fog1}" @click="clickMoneyBag(1)" src="images/hand.png" alt="">
	</div>
	<div class="part_02">
		<img class="bg" src="images/bg_02.png" alt="">
		<img v-cloak v-if="isShowFog" v-bind:class="{dissipate:dissipate.fog2}"  class="fog animatedSpecial" src="images/fog_03.png" alt="">
		<div class="balloon">50万元</div>
		<div v-cloak v-if="lock.lock2" @click="deblock(2)" class="lock"><img src="images/lock.png" alt=""></div>
		<img class="moneyBag4 animated delay2" v-bind:class="{swing:dissipate.fog2}" @click="clickMoneyBag(2)" src="images/money_bag_04.png" alt="">
		<img v-cloak class="hand2 animated delay3" v-if="hand.hand2" v-bind:class="{point:dissipate.fog2}" @click="clickMoneyBag(2)" src="images/hand.png" alt="">
	</div>
	<div class="part_03">
		<img class="bg" src="images/bg_03.png" alt="">
		<img v-cloak v-if="isShowFog" v-bind:class="{dissipate:dissipate.fog3}" class="fog animatedSpecial" src="images/fog_02.png" alt="">
		<div class="balloon">20万元</div>
		<div v-cloak v-if="lock.lock3" @click="deblock(3)" class="lock"><img src="images/lock.png" alt=""></div>
		<img class="moneyBag3 animated delay2" v-bind:class="{swing:dissipate.fog3}" src="images/money_bag_03.png" @click="clickMoneyBag(3)" alt="">
		<img v-cloak class="hand3 animated delay3" v-if="hand.hand3" v-bind:class="{point:dissipate.fog3}" @click="clickMoneyBag(3)" src="images/hand.png" alt="">
	</div>
	<div class="part_04">
		<img class="bg" src="images/bg_04.png" alt="">
		<img v-cloak v-if="isShowFog" v-bind:class="{dissipate:dissipate.fog4}" class="fog animatedSpecial" src="images/fog_01.png" alt="">
		<div class="balloon">5万元</div>
		<div v-cloak v-if="lock.lock4" @click="deblock(4)" class="lock animated shake"><img src="images/lock.png" alt=""></div>
		<img class="moneyBag2 animated delay2" v-bind:class="{swing:dissipate.fog4}" @click="clickMoneyBag(4)" src="images/money_bag_02.png" alt="">
		<img v-cloak class="hand4 animated delay2" v-if="hand.hand4" v-bind:class="{point:dissipate.fog4}" @click="clickMoneyBag(4)" src="images/hand.png" alt="">
	</div>
	<div class="part_05">
		<img class="bg" src="images/bg_05.png" alt="">
		<img class="moneyBag1 delay1 animated swing" src="images/money_bag_01.png" @click="clickMoneyBag(5)" alt="">
		<img v-cloak class="hand5 animated point" v-if="hand.hand5" @click="clickMoneyBag(5)" src="images/hand.png" alt="">
	</div>
	<div class="part_06">
		<img class="bg" src="images/bg_06.png" alt="">
	</div>
	<div class="fixedBar">
		<p @click="giftListExamine" class="giftList">我的奖品</p>
		<p @click="regular" class="activeRegular">活动规则</p>
		<div class="times"><p>剩余抽奖次数<i>99</i>次</p></div>
		<div class="money"><p>已累计年化<i>199.99</i>万元</p></div>
	</div>
	<span class="pst1"></span>
	<span class="pst2"></span>
	<span class="pst3"></span>
</div>
<a id="anchor" href="#Myanchor"></a>
<div id="Myanchor"></div>
<script>
	$(function(){
        $('#anchor')[0].click();
        var app = new Vue({
            el: '#app',
            data: {
                activeStatus:0,//$("input[name='promoStatus']").val()
                isLogin:true,//$("input[name='isLoggedin']").val()
                isShowFog: true,
                isShowLock: true,
                isFirstShow:true,
                isShowStrategy:false,
                grade:2,/**5顶级 1最低级*/
                dissipate:{
                    fog4:false,
                    fog3:false,
                    fog2:false,
                    fog1:false,
                },
                lock:{
                    lock4:true,
                    lock3:true,
                    lock2:true,
                    lock1:true,
                },
                hand:{
                    hand1:false,
                    hand2:false,
                    hand3:false,
                    hand4:false,
                    hand5:true,
                }
            },
            methods: {
                deblock:function(index){
                    if(!this.promoStatus()) return;
                    switch (index) {
                        case 1:
                            this.debLockingPort(1);
                            break;
                        case 2:
                            this.debLockingPort(2);
                            break;
                        case 3:
                            this.debLockingPort(3);
                            break;
                        case 4:
                            this.debLockingPort(4);
                            break;
                        default:break;
                    };

                },
                clickMoneyBag:function(index){
                    if(!this.promoStatus()) return;
                    /**有没有抽奖次数 调礼包接口*/
                    this.moneyBagPort(index);
//			switch (index) {
//				case 1:
//				    console.log(1);
//				    break;
//                case 2:
//                    console.log(2);
//                    break;
//                case 3:
//                    console.log(3);
//                    break;
//                case 4:
//                    console.log(4);
//                    break;
//                case 5:
//                    console.log(5);
//                    break;
//				default:
//					break;
//			}
                },
                initPage:function(){
                    if(this.isShowStrategy){
                        poptpl.popComponent({
                            closeTop:"-1.15rem",
                            title:"任务攻略",
                            popTopColor:"#3b3b3b",
                            popTopFontSize:"0.74666667rem",
                            popBackground:"#fff",
                            popBorder:"0.0933333rem solid #945a2d",
                            popMiddleHasDiv:true,
                            closeUrl: "images/close.png",
                            contentMsg:"<ul><li style='list-style: decimal;font-size:0.56rem;color:#3b3b3b; text-align:left;'>任意投资一次，即可抽1次奖； 每年化投资10万元可再抽1次。 <i style='color: #e85050;font-style: normal;'>比如：<br>年化投资100万元=11次哦！</i></li><li style='list-style: decimal;font-size:0.56rem;color:#3b3b3b; text-align:left;margin: 0.3rem 0 0.4rem;'>活动期间投资额越高，奖池越 豪华(5个档次)！升级奖池后的 首次抽奖必中大奖！</li></ul>",
                            btnMsg: "去投资",
                            popBtmFontSize:"0.666667rem",
                            popBtmBorderRadius:"0.14rem",
                            popBtmBackground:"#c0926d",
                            btnHref:"/deal/deal/index"
                        },this.pageAnimation());
                    }
                    this.pageAnimation(this.grade);
                    this.bindEvent();
                },
                regular:function(){
                    poptpl.popComponent({
                        closeTop:"-1.15rem",
                        title:"活动规则",
                        popTopColor:"#3b3b3b",
                        popTopFontSize:"0.666667rem",
                        popBackground:"#fff",
                        popBorder:"0.0933333rem solid #945a2d",
                        popMiddleHasDiv:true,
                        closeUrl: "images/close.png",
                        contentMsg:"" +
                        "<ul class='regularStyle'><li>活动时间：2017.12.25-12.30；</li>" +
                        "<li>活动期间首次投资任意金额，可获得1次抽奖次数；每年化投资10万元，可再累加1次抽奖次数；</li>" +
                        "<li>活动期间奖池分为5档，分别为：年化投资≤5万、5万＜年化投资≤20万、20万＜年化投资≤50万、50万＜年化投资≤100万、年化投资＞100万；</li>" +
                        "<li>升级奖池后的首次抽奖必中对应奖池内大奖之一；</li>" +
                        "<li>奖品将在活动结束后7个工作日内联系发放，请保持通讯畅通。</li></ul><p class='regularTips'>本活动最终解释权归温都金服所有</p>",
                        popBtmHas:false,
                    });
                },
                giftListExamine:function(){
                    giftsList({
                        isGifts:true,//有奖品，无奖品为false
                        closeImg:'images/close.png',
                        list:[
                            {path:'images/gift_14.png',name:'30元代金券',awardTime:'2017-10-11 10:55:55'},
                            {path:'images/gift_14.png',name:'30元代金券',awardTime:'2017-10-11 10:55:55'},
                            {path:'images/gift_14.png',name:'30元代金券',awardTime:'2017-10-11 10:55:55'},
                            {path:'images/gift_14.png',name:'30元代金券',awardTime:'2017-10-11 10:55:55'}
                        ]
                    });
                },
                haveNoDrawChance:function(){
                    poptpl.popComponent({
                        closeTop:"-1.15rem",
                        popTopHas:false,
                        popBackground:"#fff",
                        popBorder:"0.0933333rem solid #945a2d",
                        popMiddleHasDiv:true,
                        closeUrl: "images/close.png",
                        contentMsg:"<div class='noDrawChance'>您没有抽奖次数了哦！</div><p style='padding-right:0.8rem;line-height:0.8266667rem;font-size:0.5333333333rem;color:#3b3b3b; text-align:left;'>活动期间任意投资一次，获得1次抽奖机会；每年化投资10万元，可再获得1次！</br><i style='color: #e85050;font-style: normal;'>例：年化投资100万元=11次</i></p>",
                        btnMsg: "获取次数",
                        popBtmFontSize:"0.666667rem",
                        popBtmBorderRadius:"0.14rem",
                        popBtmBackground:"#c0926d",
                        btnHref:"/deal/deal/index"
                    })
                },
                giftsProp:function(data){
                    poptpl.popComponent({
                        closeTop:"-1.15rem",
                        popTopHas:false,
                        popBackground:"#fff",
                        popBorder:"0.0933333rem solid #945a2d",
                        popMiddleHasDiv:true,
                        closeUrl: "images/close.png",
                        contentMsg:"<div class='giftsTitle'><p>恭喜您获得</p><img src='"+data.path+"' alt=''><i>"+data.name+"</i></div>",
                        btnMsg: "收下礼品",
                        popBtmFontSize:"0.666667rem",
                        popBtmBorderRadius:"0.14rem",
                        popBtmBackground:"#c0926d",
                    },"close");
                },
                lockPond:function(data){
                    poptpl.popComponent({
                        closeTop:"-1.15rem",
                        popTopHas:false,
                        popBackground:"#fff",
                        popBorder:"0.0933333rem solid #945a2d",
                        popMiddleHasDiv:true,
                        closeUrl: "images/close.png",
                        contentMsg:"<div class='lockPond'><p class='title'>当前奖池未解锁哦！还差<i>"+data.deficiencyAnnual+"</i>万元年化即可解锁！</p><p class='showGifts'>本级奖池首抽<br>必中以下奖品之一</p>" +
                        "<div class='giftLists clearfix'>" +
                        "<dl class='lf'><dt><img src='"+data.reward[0].path+"' alt=''></dt><dd>"+data.reward[0].name+"</dd></dl>" +
                        "<dl class='lf'><dt><img src='"+data.reward[1].path+"' alt=''></dt><dd>"+data.reward[1].name+"</dd></dl>" +
                        "<dl class='lf'><dt><img src='"+data.reward[2].path+"' alt=''></dt><dd>"+data.reward[2].name+"</dd></dl>" +
                        "</div>" +
                        "</div>",
                        btnMsg: "解锁奖池",
                        popBtmFontSize:"0.666667rem",
                        popBtmBorderRadius:"0.14rem",
                        popBtmBackground:"#c0926d",
                        btnHref:"/deal/deal/index"
                    })
                },
                pond:function(data){
                    poptpl.popComponent({
                        closeTop:"-1.15rem",
                        popTopHas:false,
                        popBackground:"#fff",
                        popBorder:"0.0933333rem solid #945a2d",
                        popMiddleHasDiv:true,
                        closeUrl: "images/close.png",
                        contentMsg:"<div class='pond'><p class='title'>当前大奖</p>" +
                        "<div class='giftLists clearfix'>" +
                        "<dl class='lf'><dt><img src='"+data.currentPool[0].path+"' alt=''></dt><dd>"+data.currentPool[0].name+"</dd></dl>" +
                        "<dl class='lf'><dt><img src='"+data.currentPool[1].path+"' alt=''></dt><dd>"+data.currentPool[1].name+"</dd></dl>" +
                        "<dl class='lf'><dt><img src='"+data.currentPool[2].path+"' alt=''></dt><dd>"+data.currentPool[2].name+"</dd></dl>" +
                        "</div>" +
                        "<a id='lottery' class='draw' href='javascript:void(0)'>现在就抽</a>"+
                        "<p class='title'>下级新增(还需要年化: "+data.deficiencyAnnual+"万元)</p><div class='giftLists clearfix'>" +
                        "<dl class='lf'><dt><img src='"+data.nextPool[0].path+"' alt=''></dt><dd>"+data.nextPool[0].name+"</dd></dl>" +
                        "<dl class='lf'><dt><img src='"+data.nextPool[1].path+"' alt=''></dt><dd>"+data.nextPool[1].name+"</dd></dl>" +
                        "<dl class='lf'><dt><img src='"+data.nextPool[2].path+"' alt=''></dt><dd>"+data.nextPool[2].name+"</dd></dl>" +
                        "</div>" +
                        "<p class='tips'>升级奖池后，以上新增礼品必中其一！</p>"+
                        "<a class='draw' href='/deal/deal/index'>升级奖池</a>"+
                        "</div>",
                        popBtmHas:false,
                    })
                },
                lastPond:function(data){
                    poptpl.popComponent({
                        closeTop:"-1.15rem",
                        popTopHas:false,
                        popBackground:"#fff",
                        popBorder:"0.0933333rem solid #945a2d",
                        popMiddleHasDiv:true,
                        closeUrl: "images/close.png",
                        contentMsg:"<div class='pond'><p class='title'>当前大奖</p>" +
                        "<div class='giftLists clearfix'>" +
                        "<dl class='lf'><dt><img src='"+data.currentPool[0].path+"' alt=''></dt><dd>"+data.currentPool[0].name+"</dd></dl>" +
                        "<dl class='lf'><dt><img src='"+data.currentPool[1].path+"' alt=''></dt><dd>"+data.currentPool[1].name+"</dd></dl>" +
                        "<dl class='lf'><dt><img src='"+data.currentPool[2].path+"' alt=''></dt><dd>"+data.currentPool[2].name+"</dd></dl>" +
                        "</div>" +
                        "<a id='lottery' class='draw' href='javascript:void(0)'>现在就抽</a>"+
                        "</div>",
                        popBtmHas:false,
                    })
                },
                promoStatus:function(){
                    switch (this.activeStatus){
                        case 0:
                            if(!this.isLogin){
                                window.location.href = "/site/login";
                                return false;
                            } else {
                                return true;
                            }
                            break;
                        case 1:
                            this.toastCenter("活动未开始");
                            return false;
                            break;
                        case 2:
                            this.toastCenter("活动已结束");
                            return false;
                            break;
                        default:
                            break;
                    }
                },
                toastCenter:function (val, active) {
                    var $alert = $('<div class="error-info" style="display: block; position: fixed;font-size: .4rem;"><div>' + val + '</div></div>');
                    $('body').append($alert);
                    $alert.find('div').width($alert.width());
                    setTimeout(function () {
                        $alert.fadeOut();
                        setTimeout(function () {
                            $alert.remove();
                        }, 200);
                        if (active) {
                            active();
                        }
                    }, 2000);
                },
                moneyBagPort:function(index){
//            var that = this;
//            var xhr = $.get('/promotion/p171225/unpack');
//            xhr.done(function(res){
//				that.pond(res.page);
//            });
//            xhr.fail(function(jqXHR){
//                var resp = $.parseJSON(jqXHR.responseText);
//			});
                    if(true){
                        var data = {
                            "activeDrawnCount": 1,
                            "annualInvest": 100,
                            "grade": 2,
                            "deficiencyAnnual":50,
                            "currentPool": [
                                {
                                    "name": "12.25元现金红包",
                                    "path": "images/gift_12.png"
                                },
                                {
                                    "name": "7天3%加息券",
                                    "path": "images/gift_05.png"
                                },
                                {
                                    "name": "维达抽纸",
                                    "path": "images/gift_08.png"
                                }
                            ],
                            "nextPool": [
                                {
                                    "name": "50元超市卡",
                                    "path": "images/gift_14.png"
                                },
                                {
                                    "name": "70元温都猫充值券",
                                    "path": "images/gift_10.png"
                                },
                                {
                                    "name": "小米体重秤",
                                    "path": "images/gift_03.png"
                                }
                            ]
                        };
                        if(index==1){
                            this.lastPond(data);
                        } else {
                            this.pond(data);
                        }
                    } else {
                        this.haveNoDrawChance();
                    }
                },
                debLockingPort:function(){
//            var that = this;
//            var xhr = $.get('');
//            xhr.done(function(res){
//
//            });
//            xhr.fail(function(jqXHR){
//                var resp = $.parseJSON(jqXHR.responseText);
//            });
                    if(true){
                        this.lockFog(3);
                    } else {
                        var data ={
                            "code": 1,
                            "message": "解锁失败",
                            "page": {
                                "activeDrawnCount": 0,
                                "annualInvest": 0,
                                "grade": 2,
                                "deficiencyAnnual": 25.5,
                                "reward": [
                                    {
                                        "name": "12.25元现金红包",
                                        "path": "images/gift_12.png"
                                    },
                                    {
                                        "name": "7天3%加息券",
                                        "path": "images/gift_05.png"
                                    },
                                    {
                                        "name": "意大利公鸡头皂",
                                        "path": "images/gift_04.png"
                                    }
                                ]
                            }
                        }
                        this.lockPond(data.page);
                    }
                },
                bindEvent:function(){
                    var that= this;
                    $("body").on("click","#lottery",function(){
                        /**调抽奖接口*/
                        var data = {
                            "id": 1,
                            "sn": "170828_p_77",
                            "ref_type" : "POINT",
                            "ref_amount" : "77.00",
                            "name": "iphone\\u624b\\u673a",
                            "path": "images/gift_05.png"
                        };
                        $(".mask,.pop").remove();
                        that.giftsProp(data);
                    })
                },
                lockFog:function(grade){
                    switch (grade) {
                        case 1:
                            this.dissipate.fog1 = true;
                            this.lock.lock1 = false;
                            this.dissipate.fog2 = true;
                            this.lock.lock2 = false;
                            this.dissipate.fog3 = true;
                            this.lock.lock3 = false;
                            this.dissipate.fog4 = true;
                            this.lock.lock4 = false;
                            this.hand.hand5 = false;
                            this.hand.hand4 = false;
                            this.hand.hand3 = false;
                            this.hand.hand2 = false;
                            this.hand.hand1 = true;
                            break;
                        case 2:
                            this.dissipate.fog2 = true;
                            this.lock.lock2 = false;
                            this.dissipate.fog3 = true;
                            this.lock.lock3 = false;
                            this.dissipate.fog4 = true;
                            this.lock.lock4 = false;
                            this.hand.hand5 = false;
                            this.hand.hand4 = false;
                            this.hand.hand3 = false;
                            this.hand.hand2 = true;
                            break;
                        case 3:
                            this.dissipate.fog3 = true;
                            this.lock.lock3 = false;
                            this.dissipate.fog4 = true;
                            this.lock.lock4 = false;
                            this.hand.hand5 = false;
                            this.hand.hand4 = false;
                            this.hand.hand3 = true;
                            break;
                        case 4:
                            this.dissipate.fog4 = true;
                            this.lock.lock4 = false;
                            this.hand.hand5 = false;
                            this.hand.hand4 = true;
                            break;
                        default:break;
                    };
                },
                pageAnimation:function (grade) {
                    var b1 = 0;
                    var b2 = $(".pst1")[0].offsetTop;
                    var b3 = $(".pst2")[0].offsetTop;
//                    var b4 = $(".pst3")[0].offsetTop;
                    switch (grade){
						case 5:
						    this.scrollTOTop(b1);
						    break;
						case 4:
                            this.scrollTOTop(b2);
                            break;
                        case 3:
                            this.scrollTOTop(b3);
                            break;
                        case 2:
                            this.lockFog(4);
                            break;
						default:
						    break;
					}

                },
				scrollTOTop:function(toTop){
                    var that = this;
                    var mygrade;
                    switch (this.grade){
						case 5:
                            mygrade = 1;
                            break;
                        case 4:
                            mygrade = 2;
                            break;
                        case 3:
                            mygrade = 3;
                            break;
                        case 2:
                            mygrade = 4;
                            break;
                        case 1:
                            mygrade = 5;
                            break;
					}
                    $("body,html").animate({scrollTop:toTop},3000,function(){
                        that.lockFog(mygrade);
                    })
				}
            }
        });
        app.initPage();
	})
  // @touchmove.prevent

</script>
</body>
</html>