body {
  background-color: #f6f6f6;
}
.flex-content {
  padding-bottom: 1.21333333rem;
}
.flex-content .banner-box {
  width: 100%;
  height: 4.65333333rem;
  box-sizing: border-box;
}
.flex-content .banner-box a {
  display: block;
}
.flex-content .banner-box a img {
  width: 100%;
  height: 100%;
}
.flex-content .newbid-box {
  position: relative;
  top: -0.16rem;
  width: 9.2rem;
  padding-top: 1.05333333rem;
  padding-bottom: 0.56rem;
  margin: 0 auto 0.3rem;
  background-color: #fff;
  border-radius: 0.06666667rem;
  z-index: 1000;
}
.flex-content .newbid-box .newbid-insideBox {
  position: relative;
  width: 8.69333333rem;
  height: 5.17333333rem;
  margin: 0 auto 1.26666667rem;
  padding-top: 0.62666667rem;
  border: 1px solid #ffb5b1;
  box-sizing: border-box;
}
.flex-content .newbid-box .newbid-insideBox .newbid-insideBox-title {
  position: absolute;
  top: -5%;
  left: 50%;
  margin-left: -1.03333333rem;
  display: inline-block;
  width: 2.06666667rem;
  font-size: 0.5rem;
  height: 0.6rem;
  line-height: 0.6rem;
  color: #4e545a;
  background-color: #fff;
  text-align: center;
  z-index: 1001;
}
.flex-content .newbid-box .newbid-insideBox .newbid-insideBox-shouyiNum {
  color: #fc615c;
  font-size: 0.96rem;
  height: 0.96rem;
  line-height: 0.96rem;
  text-align: center;
}
.flex-content .newbid-box .newbid-insideBox .newbid-insideBox-shouyiTxt {
  color: #9ea0a4;
  font-size: 0.36rem;
  height: 0.36rem;
  line-height: 0.36rem;
  text-align: center;
  margin-top: 0.12rem;
}
.flex-content .newbid-box .newbid-insideBox .newbid-insideBox-pic {
  display: block;
  width: 7.06666667rem;
  margin: 0.71794872rem auto 0;
}
.flex-content .newbid-box .newbid-insideBox a {
  position: absolute;
  bottom: 0;
  display: block;
  width: 3.86666667rem;
  height: 1.14666667rem;
  margin-bottom: -0.57333333rem;
  line-height: 1.14666667rem;
  text-align: center;
  font-size: 0.5rem;
  border: 1px solid #ff6058;
  border-radius: 0.53333333rem;
  z-index: 1001;
}
.flex-content .newbid-box .newbid-insideBox .newbid-insideBox-register {
  left: 0.33333333rem;
  color: #fff;
  background-color: #ff6058;
}
.flex-content .newbid-box .newbid-insideBox .newbid-insideBox-login {
  right: 0.33333333rem;
  color: #ff6058;
  background-color: #fff;
}
.flex-content .newbid-box > p {
  font-size: 0.32rem;
  line-height: 0.46666667rem;
  text-align: center;
}
.flex-content .newbid-box .newbid-wendu-link a {
  color: #7cbaf3;
}
.flex-content .newbid-box .newbid-wendu-txt {
  color: #9ea0a4;
}
.flex-content .links-box {
  width: 100%;
  height: 2.72rem;
  border-bottom: 1px solid #f2f2f2;
  background-color: #fff;
}
.flex-content .links-box a {
  position: relative;
  display: block;
  width: 25%;
  height: 100%;
}
.flex-content .links-box a .links-box-iconJifen{
  position: absolute;
  top:0.292rem;
  right:0.2266rem;
  display: block;
  width:0.786rem;
  height:0.48rem;
  background: url("../images/icon_jifen.png") no-repeat;
  background-size: contain;
  z-index: 10;
}
.flex-content .links-box a img {
  position: absolute;
  left: 50%;
  bottom: 1.42666667rem;
  display: block;
}
.flex-content .links-box a p {
  position: absolute;
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.4rem;
  color: #4e545a;
  text-align: center;
  bottom: 0.62666667rem;
}
.flex-content .bids-box {
  width: 100%;
  padding-top: 0.76rem;
  padding-bottom: 0.32rem;
  background-color: #fff;
  box-sizing: border-box;
}
.flex-content .bids-box .bids-box-title {
  height: 0.46666667rem;
  line-height: 0.46666667rem;
  padding: 0 0.4rem;
  box-sizing: border-box;
}
.flex-content .bids-box .bids-box-title .lf {
  color: #4e545a;
  font-size: 0.46666667rem;
}
.flex-content .bids-box .bids-box-title .rg {
  font-size: 0.32rem;
  color: #7cbaf3;
}

/*20171226修改开始*/
.flex-content .bids-box .bids-box-bidlist{
  background-color: #fff;
  padding: .58666667rem .4rem 0;
  box-sizing: border-box
}
.bids-box-bidlist ul{
  text-align: center;
  width:9.2rem;
}
.bids-box-bidlist ul li.forums-part{
  height:4.0533333rem;
  margin-bottom:0.29333333rem;
  width:33.3%;
  float:left;
}
.bids-box-bidlist ul li.forums-part a{
  height:4.0533333rem;
  width:2.86666666rem;
  -webkit-border-radius: 0.06666667rem;
  -moz-border-radius: 0.06666667rem;
  border-radius: 0.06666667rem;
  -webkit-box-shadow: 0 0.08rem 0.24rem rgba(196,160,160,0.26);
  -moz-box-shadow: 0 0.08rem 0.24rem rgba(196,160,160,0.26);
  box-shadow: 0 0.08rem 0.24rem rgba(196,160,160,0.26);
  position:relative;
}
.bids-box-bidlist ul li:nth-child(3n+1).forums-part a{
  float: left;
}
.bids-box-bidlist ul li:nth-child(3n+2).forums-part a{
  margin:0 auto;
  display:inline-block;
}
.bids-box-bidlist ul li:nth-child(3n).forums-part a{
  float: right;
}
.bids-box-bidlist ul li.forums-part a span{
  box-sizing: border-box;
  position:absolute;
  left:0;
  width:100%;
  text-align: center;
}
.bids-box-bidlist ul li.forums-part a span:nth-child(1){
  font-size:0.3066666rem;
  line-height:0.3866666rem;
  top:0.8133333rem;

}
.bids-box-bidlist ul li.forums-part a span:nth-child(2){
  top:1.586666666rem;
  font-size:0.373333333rem;
  line-height:0.37333333rem;
  color:#4E545A;
}
.bids-box-bidlist ul li.forums-part a span:nth-child(3){
  font-size:0.57333333rem;
  line-height: 0.57333333rem;
  color:#FC615C;
  top:2.30666666rem;
}
.bids-box-bidlist ul li.forums-part a span:nth-child(4){
  top:3.15999999rem;
  font-size:0.3066666rem;
  line-height:0.3066666rem;
}

.flex-content .reading-box {
  width: 100%;
  padding: 0.57333333rem 0.4rem 0;
  margin: 0.24rem 0 0.29333333rem;
  background-color: #fff;
  box-sizing: border-box;
}
.flex-content .reading-box .reading-box-title {
  color: #4e545a;
  font-size: 0.5rem;
  height: 0.46666667rem;
  line-height: 0.46666667rem;
  margin-bottom: 0.38666667rem;
}
.flex-content .reading-box .reading-box-list li {
  width: 100%;
  padding: 0.25rem 0;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}
.flex-content .reading-box .reading-box-list li a {
  display: block;
}
.flex-content .reading-box .reading-box-list li .reading-box-list-til {
  font-size: 0.37333333rem;
  color: #4e545a;
}
.flex-content .reading-box .reading-box-list li .reading-box-list-des {
  font-size: 0.32rem;
  margin-top: 0.1133333rem;
}
.flex-content .reading-box .reading-box-list li .reading-box-list-des .lf {
  display: inline-block;
  width: 1.69333333rem;
  height: 0.46666667rem;
  line-height: 0.46666667rem;
  background-color: #fff6e8;
  text-align: center;
  color: #ad8242;
}
.flex-content .reading-box .reading-box-list li .reading-box-list-des .rg {
  display: inline-block;
  color: #9ea0a4;
}
.flex-content .reading-box .reading-box-list li:first-child {
  border-top: 1px solid #eee;
}
.flex-content .reading-box .reading-box-more {
  display: block;
  width: 100%;
  height: 0.94666667rem;
  line-height: 0.94666667rem;
  font-size: 0.34666667rem;
  color: #538feb;
  text-align: center;
}
.flex-content .data-box {
  width: 100%;
  padding: 0.57333333rem 0.4rem 0.37333333rem;
  background-color: #fff;
  box-sizing: border-box;
}
.flex-content .data-box .data-box-title {
  color: #4e545a;
  font-size: 0.5rem;
  height: 0.46666667rem;
  line-height: 0.46666667rem;
  margin-bottom: 0.46666667rem;
}
.flex-content .data-box .data-box-show {
  width: 100%;
  height: 3.44rem;
  padding-top: 0.45333333rem;
  text-align: center;
  background: url("../images/bg_databox.png") no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
}
.flex-content .data-box .data-box-show .data-box-show-line1 {
  height: 0.37333333rem;
  line-height: 0.37333333rem;
  margin-bottom: 0.37333333rem;
  font-size: 0.37333333rem;
  color: #fff;
  text-align: center;
}
.flex-content .data-box .data-box-show .data-box-show-line2 {
  height: 0.69333333rem;
  line-height: 0.69333333rem;
  font-size: 0.37333333rem;
  color: #fff;
  text-align: center;
}
.flex-content .data-box .data-box-show .data-box-show-line2 span {
  font-size: 0.69333333rem;
}
.flex-content .data-box .data-box-show .data-box-show-line3 {
  width: 6.05333333rem;
  height: 0.86666667rem;
  margin: 0.32rem auto 0;
  line-height: 0.86666667rem;
  font-size: 0.37333333rem;
  color: #fff;
  text-align: center;
}
.flex-content .data-box .data-box-show .data-box-show-line3 span {
  color: #fff;
}
.flex-content .aboutus-box {
  width: 100%;
  height: 2.78666667rem;
  line-height: 2.78666667rem;
  padding: 0 0.4rem;
}
.flex-content .aboutus-box a {
  display: block;
  width: 4.38666667rem;
  height: 1.86666667rem;
}
.flex-content .aboutus-box a img {
  width: 100%;
  height: 100%;
}
.flex-content .phone-box {
  display: block;
  width: 100%;
  padding: 0.66666667rem 0 0.50666667rem;
  background-color: #fff;
  box-sizing: border-box;
  color: #4e545a;
  text-align: center;
}
.flex-content .phone-box .phone-box-number img {
  position: relative;
  top: -2px;
  width: 0.4rem;
  margin-right: 0.18666667rem;
  vertical-align: middle;
}
.flex-content .phone-box .phone-box-number .num-1 {
  font-size: 0.45333333rem;
}
.flex-content .phone-box .phone-box-number .num-2 {
  font-size: 0.34666667rem;
}
.flex-content .phone-box .phone-box-address {
  margin-top: 0.2rem;
  height: 0.34666667rem;
  line-height: 0.34666667rem;
  font-size: 0.34666667rem;
}
.flex-content .logo-box {
  display: block;
  width: 3.18666667rem;
  margin: 0.8rem auto 0.28rem;
}
.swiper-pagination-bullet-active {
  background: #fff;
}

.flex-content .phone-box .phone-box-title{
  padding-left:0.42666667rem;
  font-size:0.48rem;
  height:0.48rem;
  line-height:0.48rem;
  color: #4e545a;
  text-align: left;
  margin-bottom:0.4rem;
}
.flex-content .phone-box .phone-box-links{
  padding:0 0.26666667rem;
}
.flex-content .phone-box .phone-box-links a{
  display: block;
  width:49.7%;
  height:2.586rem;
}
.flex-content .phone-box .phone-box-links a img{
  width: 100%;
}
.flex-content .phone-box .phone-box-address{
  height:0.34666667rem;
  line-height:0.34666667rem;
  font-size:0.34666667rem;
  color: #4e545a;
  text-align: center;
  margin-top:0.3rem;
}
.flex-content .logo-box {
  width: 100%;
  padding:0.52rem 0 0.49333333rem;
  background-color: #fff;
  margin: 0.29333333rem 0 ;
}
.flex-content .logo-box img{
  display: block;
  height:0.42666667rem;
  margin:0 auto 0.24rem;
}
.flex-content .logo-box p{
  height: 0.34666667rem;
  line-height: 0.34666667rem;
  font-size: 0.34666667rem;
  color: #4e545a;
  text-align: center;
}