.flex-content{
  height:100vh;
  .top-part{
    width: 100%;
    height:32.6vh;
    background: url("__FE_BASE_URI__wap/campaigns/active20171111/images/bg_top.png") no-repeat;
    background-size: contain;
  }
  .bottom-part{
    position: relative;
    width: 100%;
    height:67.4vh;
    padding-top:1rem;
    background: linear-gradient(#fbd771, #ffb11a);
    .card-box{
      width:436/75rem;
      height:261/75rem;
      margin:0 auto;
      background: url("__FE_BASE_URI__wap/campaigns/active20171111/images/pic_card.png") no-repeat;
      background-size: contain;
    }
    .result-box{
      width:692/75rem;
      padding-top:17/75rem;
      margin:1.4rem auto 0;
      background-color: #ffe7ae;
      border-radius: 12/75rem;
      border:4px solid #e4a91c;
      box-sizing: border-box;
      .result-box-title{
        height: 38/75rem;
        line-height: 38/75rem;
        font-size: 38/75rem;
        color: #fd7f26;
        text-align: center;
      }
      .result-box-task{
        padding-top:30/75rem;
        width:50%;
        height:257/75rem;
        p{
          font-size: 32/75rem;
          line-height:47/75rem;
          color: #fe4560;
        }
        a{
          display: block;
          width:244/75rem;
          height:70/75rem;
          line-height:70/75rem;
          margin:0 auto;
          background: url("__FE_BASE_URI__wap/campaigns/active20171111/images/bg_btn.png") no-repeat;
          background-size: contain;
          text-align: center;
          font-size: 37/75rem;
          color: #fff;
        }
      }
    }
    .finished{
      background: url("__FE_BASE_URI__wap/campaigns/active20171111/images/icon_finished.png") no-repeat;
      background-position: 207/75rem 10/75rem;
      background-size: 132/75rem;
    }
  }
}