.flex-content {
    min-height: 100vh;
    background: -webkit-linear-gradient(top, #fbd771 35%, #ffb11a 100%);
    background: linear-gradient(to bottom, #fbd771 35%, #ffb11a 100%);
}
.flex-content .top-part {
    display: block;
    width: 100%;
    height: 5.8rem;
    vertical-align: top;
}
.flex-content .text-tip {
    display: block;
    width: 100%;
    vertical-align: top;
}
.flex-content .bottom-part {
    padding: 0.25rem 0 0.46666667rem;
    width: 100%;
    height: auto;
}
.flex-content .bottom-part .card-box {
    margin: 0 auto;
    display: block;
    width: 5.81333333rem;
    height: 3.48rem;
    vertical-align: top;
}
.flex-content .bottom-part .result-box {
    width: 9.22666667rem;
    padding: .25rem 0 .1rem;
    margin: .5rem auto 0;
    background-color: #ffe7ae;
    border-radius: 0.16rem;
    border: 4px solid #e4a91c;
    box-sizing: border-box;
}
.flex-content .bottom-part .result-box .result-box-title {
    height: 0.50666667rem;
    line-height: 0.50666667rem;
    font-size: 0.50666667rem;
    color: #fd7f26;
    text-align: center;
}
.flex-content .bottom-part .result-box .txt-tip {
    margin: .15rem auto .05rem;
    width: 6.73333333rem;
    line-height: 0.48rem;
    font-size: 0.37333333rem;
    text-align: left;
}
.flex-content .bottom-part .result-box .result-box-task {
    padding-top: 0.4rem;
    width: 50%;
    height: 3.42666667rem;
}
.flex-content .bottom-part .result-box .result-box-task p {
    font-size: 0.45333333rem;
    line-height: 0.64rem;
    color: #fe4560;
    text-align: center;
}
.flex-content .bottom-part .result-box .result-box-task a {
    display: block;
    width: 3.25333333rem;
    height: 0.93333333rem;
    line-height: 0.93333333rem;
    margin: 0 auto;
    background: url("../images/bg_btn.png") no-repeat;
    background-size: contain;
    text-align: center;
    font-size: 0.49333333rem;
    color: #fff;
}
.flex-content .bottom-part .result-box .result-box-task .center-txt {
    padding-top: .1rem;
    text-align: center;
}
.flex-content .bottom-part .result-box .result-box-task .top-invest {
    line-height: 1.2rem;
    text-align: center;
}
.flex-content .bottom-part .result-box .finished {
    background: url("../images/icon_finished.png") no-repeat;
    background-position: 2.50666667rem 0.13333333rem;
    background-size: 1.76rem;
}
