.flex-content {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#fd1c1a), color-stop(85%, #fd4d35));
  background: linear-gradient(to bottom, #fd1c1a 0%, #fd4d35 85%);
}
.flex-content .banner {
  width: 100%;
}
.flex-content .banner img {
  width: 100%;
}
.flex-content .banner-bottom {
  position: relative;
  height: 4.86666667rem;
  background: url("../images/page-third/banner-bottom.png") no-repeat center center;
  background-size: 100% 100%;
}
.flex-content .banner-bottom .my-prize {
  position: absolute;
  top: 1.42666667rem;
  right: 0;
  display: block;
  width: 2.02666667rem;
  height: 0.82666667rem;
  border-radius: 0.10666667rem;
  cursor: pointer;
}
.flex-content .banner-bottom .active-link {
  position: absolute;
  bottom: 0;
  display: inline-block;
  margin: 0 1%;
  width: 48%;
  height: 2.4rem;
  border-radius: 0.10666667rem;
  cursor: pointer;
}
.flex-content .banner-bottom .left-link {
  left: 0;
}
.flex-content .banner-bottom .left-link span {
  display: inline-block;
  margin-top: 0.90666667rem;
  margin-left: 0.29333333rem;
  font-size: 0.37333333rem;
  color: #ffde74;
}
.flex-content .banner-bottom .left-link span i {
  font-style: normal;
}
.flex-content .banner-bottom .right-link {
  right: 0;
}
.flex-content .banner-title {
  margin: 0.58666667rem auto 0;
  width: 100%;
  height: 1.25333333rem;
  background: url("../images/page-third/banner-title.png") no-repeat center center;
  background-size: 100% 100%;
}
.flex-content .banner-rate {
  padding-right: 0.30666667rem;
  height: 0.84rem;
  line-height: 0.84rem;
  text-align: right;
  color: #ffe13b;
}
.flex-content .banner-rate span {
  padding: 0;
  font-size: 0.34666667rem;
}
.flex-content .banner-rule {
  width: 100%;
  height: 3.34666667rem;
  background: url("../images/page-third/banner-rule.png") no-repeat center center;
  background-size: 100% 100%;
}
.flex-content .invest-box li {
  position: relative;
  width: 100%;
  height: 3.89333333rem;
}
.flex-content .invest-box li a {
  position: absolute;
  bottom: 0.18666667rem;
  left: 3.5%;
  display: inline-block;
  width: 93%;
  height: 3.5rem;
}
.flex-content .invest-box .first {
  height: 3.92rem;
  background: url("../images/page-third/invest-1.png") no-repeat center center;
  background-size: 100% 100%;
}
.flex-content .invest-box .first a {
  position: absolute;
  bottom: 0.18666667rem;
  left: 13%;
  display: inline-block;
  width: 74%;
  height: 3.5rem;
}
.flex-content .invest-box .second {
  background: url("../images/page-third/invest-2.png") no-repeat center center;
  background-size: 100% 100%;
}
.flex-content .invest-box .third {
  background: url("../images/page-third/invest-3.png") no-repeat center center;
  background-size: 100% 100%;
}
.flex-content .last-tips {
  height: 1.49333333rem;
  line-height: 1.49333333rem;
  text-align: center;
  color: #ffe13b;
  font-size: 0.32rem;
}
.flex-content .red-box {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2001;
  /* 红包的样式*/
  /*点击后的红包*/
  /* 空的红包 */
}
.flex-content .red-box .countDown {
  padding-right: 0.4rem;
  padding-top: 0.4rem;
  font-size: 1.06666667rem;
  line-height: 1;
  text-align: right;
  color: #fff;
}
.flex-content .red-box .redpack {
  position: absolute;
  display: block;
  width: 1.73333333rem;
  height: 1.45333333rem;
  background: url('../images/page-third/red-redpack.png') no-repeat 0 0;
  background-size: cover;
}
.flex-content .red-box .gold-redpack {
  position: absolute;
  display: block;
  width: 1.73333333rem;
  height: 1.45333333rem;
  background: url('../images/page-third/yellow-redpack.png') no-repeat 0 0;
  background-size: cover;
}
.flex-content .red-box .redpacked {
  background: none;
  background-size: cover;
}
.flex-content .red-box .redPackNone {
  display: none;
}
.flex-content #mask {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}
.flex-content .rea-packet-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  max-width: 10rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
  overflow: hidden;
}
.flex-content .rea-packet-box .rain-result {
  width: 100%;
  height: 100vh;
}
.flex-content .rea-packet-box .rain-result .countDown {
  padding-right: 0.4rem;
  padding-top: 0.4rem;
  font-size: 1.06666667rem;
  line-height: 1;
  text-align: right;
  color: #fff;
}
.flex-content .rea-packet-box .rain-result .result-content {
  margin-top: 0.56rem;
  width: 100%;
  height: 2.66666667rem;
  background: url("../images/page-third/lastest-result.png") no-repeat center 0;
  background-size: auto 100%;
}
.flex-content .rea-packet-box .rain-result .result-content .redPacket-count {
  position: relative;
  left: 3.25333333rem;
  top: 1.41333333rem;
  font-size: 0.93333333rem;
  color: #fff;
}
.flex-content .rea-packet-box .rain-result .result-content .red-redPacket-count {
  left: 6rem;
}
.flex-content .rea-packet-box .rain-result .result-txt {
  padding-left: 1.4rem;
  line-height: 1.54666667rem;
  color: #fff;
  font-size: 0.66666667rem;
}
.flex-content .rea-packet-box .rain-result .result-txt i {
  display: inline-block;
  width: 1.7rem;
  height: 1.54666667rem;
  line-height: 1.54666667rem;
  font-style: normal;
  font-size: 1.06666667rem;
  text-align: center;
}
.flex-content .rea-packet-box .rain-result .grade img {
  display: inline-block;
  margin: 0.10666667rem 0 0 0.26666667rem;
  vertical-align: top;
  width: auto;
  height: 1.33333333rem;
}
.flex-content .rea-packet-box .rain-result .draw-box {
  margin: 0 auto;
  display: block;
  width: 5.76rem;
  height: 4.26666667rem;
  cursor: pointer;
}
.flex-content .rea-packet-box .rain-result .draw-box img {
  display: block;
  width: 100%;
}
.flex-content .rea-packet-box .rain-result .draw-box .hand {
  display: none;
  position: relative;
  left: 3.49rem;
  bottom: 0.88rem;
  width: 1.70666667rem;
  height: 1.52rem;
  z-index: 21;
}
.flex-content .rea-packet-box .rain-result .btn-box {
  margin-top: 0.82666667rem;
  text-align: center;
}
.flex-content .rea-packet-box .rain-result .btn-box a {
  display: inline-block;
  width: 3.73333333rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  font-size: 0.61333333rem;
  text-align: center;
  color: #fff;
  background: #ff4461;
  border-radius: 0.29333333rem;
  cursor: pointer;
}
.flex-content .rea-packet-box .rain-result .btn-box a:last-child {
  margin-left: 0.21333333rem;
}
.flex-content .rea-packet-box .box-shadow {
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.9);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.9);
}
.flex-content .number-start-box {
  display: none;
}
.flex-content .number-start-box img {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.flex-content .prizes-box {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.6);
}
.flex-content .prizes-box .outer-box {
  width: 91.2%;
  max-width: 9.12rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  border-radius: 0.35rem;
}
.flex-content .prizes-box img.pop_close {
  width: 0.61333333rem;
  position: absolute;
  top: -1.5rem;
  right: -0.15rem;
  cursor: pointer;
  z-index: 1000002;
}
.flex-content .prizes-box .prizes-pomp {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  padding: 0.56rem 6.66666667%;
  border-radius: 0.35rem;
  max-height: 11rem;
  overflow: hidden;
  background: url("../images/pop_bg.png") #fff center top no-repeat;
  background-size: cover;
  border: 0.05333333rem solid #fa3151;
}
.flex-content .prizes-box .prizes-pomp p.prizes-title {
  position: absolute;
  top: .35rem;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  font-size: 0.66666667rem;
  text-align: center;
  border: none;
  color: #f03745;
  line-height: 1;
}
.flex-content .prizes-box .prizes-pomp #wrapper {
  height: 10rem;
  width: 100%;
  position: relative;
  top: 1rem;
  left: 0;
  -webkit-overflow-scrolling: touch;
}
.flex-content .prizes-box .prizes-pomp #wrapper ul {
  width: 100%;
  height: auto;
}
.flex-content .prizes-box .prizes-pomp #wrapper ul li {
  width: 100%;
  padding: 0.33333333rem 0;
  height: 2.88rem;
  border-bottom: 1px dashed #ffb7bd;
}
.flex-content .prizes-box .prizes-pomp #wrapper ul li div:first-child {
  width: 40%;
}
.flex-content .prizes-box .prizes-pomp #wrapper ul li div:first-child img {
  width: 2.26666667rem;
  display: block;
  margin: 0 auto;
}
.flex-content .prizes-box .prizes-pomp #wrapper ul li div:last-child {
  width: 60%;
  color: #666666;
  line-height: 1;
}
.flex-content .prizes-box .prizes-pomp #wrapper ul li div:last-child p:first-child {
  font-size: 0.45333333rem;
  margin: 0.5rem 0 .32rem;
}
.flex-content .prizes-box .prizes-pomp #wrapper ul li div:last-child p:last-child {
  font-size: 0.34666667rem;
}
.flex-content .prizes-box .prizes-pomp #wrapper ul li.no-prizes {
  color: #21b1e0;
  font-size: 0.4rem;
  margin-top: 2.53333333rem;
  text-align: center;
  border: none;
}
.flex-content .prizes-box .prizes-pomp #wrapper ul li:last-child {
  height: 4.28rem;
  padding-bottom: 1.4rem;
  border-bottom: none;
}
.flex-content .prizes-box .prizes-pomp #wrapper ul li:first-child {
  padding: 0 0 0.33333333rem 0;
}
.flex-content .start-play-box {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.6);
}
.flex-content .start-play-box .outer-box {
  position: relative;
  width: 100%;
  max-width: 10rem;
  height: 8.68rem;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.flex-content .start-play-box .outer-box .pop_close {
  display: block;
  position: absolute;
  right: 0.42666667rem;
  top: -1rem;
  width: 0.90666667rem;
  height: 0.90666667rem;
  border-radius: 50%;
  background: #fff;
}
.flex-content .start-play-box .outer-box .prizes-pomp {
  width: 100%;
  height: 100%;
  background: url("../images/page-third/start-before-pop.png") center 0 no-repeat;
  background-size: 100% 100%;
}
.flex-content .start-play-box .outer-box .prizes-pomp .close-start-btn {
  position: absolute;
  bottom: 0.98666667rem;
  display: inline-block;
  width: 4.01333333rem;
  height: 1.38666667rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.flex-content .start-play-box .outer-box .prizes-pomp .yes-btn {
  left: 0.88rem;
}
.flex-content .start-play-box .outer-box .prizes-pomp .no-btn {
  right: 0.78666667rem;
}
.flex-content .glad-box {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.6);
}
.flex-content .glad-box .outer-box {
  position: relative;
  top: 50%;
  left: 50%;
  width: 5.97333333rem;
  height: 8.02666667rem;
  z-index: 10;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background: url("../images/page-third/chai-redpack-no.png") no-repeat center 0;
  background-size: 100% 100%;
}
.flex-content .glad-box .outer-box .chai-btn {
  display: block;
  position: absolute;
  left: 1.33333333rem;
  border-radius: 50%;
  cursor: pointer;
}
.flex-content .glad-box .outer-box .open-glad-card {
  top: 1.38666667rem;
  width: 3.45333333rem;
  height: 3.45333333rem;
}
.flex-content .glad-box .outer-box .close-glad-card {
  width: 2.96rem;
  height: 2.96rem;
  top: 4.5rem;
  left: 1.59333333rem;
}
.flex-content .glad-box .outer-box .rotate {
  -webkit-animation: anim .6s infinite alternate;
  -mz-animation: anim .6s infinite alternate;
  animation: anim .6s infinite alternate;
}
@-webkit-keyframes anim {
  from {
    -webkit-transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
}
@-ms-keyframes anim {
  from {
    -ms-transform: rotateY(180deg);
  }
  to {
    -ms-transform: rotateY(360deg);
  }
}
@keyframes anim {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.flex-content .glad-box .yes-open {
  background: url("../images/page-third/chai-redpack-yes.png") no-repeat center 0;
  background-size: 100% 100%;
}
.flex-content .glad-box .yes-open .happy-money {
  position: absolute;
  top: 1.33333333rem;
  left: 0;
  width: 100%;
  line-height: 1;
  text-align: center;
  color: #fd4e5c;
  font-size: 1.33333333rem;
}
.flex-content .glad-box .yes-open .happy-money span {
  font-size: 0.8rem;
}
.flex-content .showed {
  display: block;
}
.flex-content [v-cloak] {
  display: none;
}
.pop {
  width: 92%;
  max-width: 9.2rem;
  height: 9.8rem;
}
.popBtm {
  width: 72.53333333%;
  height: 1.32rem;
  line-height: 1.2rem;
  font-size: .50666667rem;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
