.ctn_01,.ctn_02,.ctn_03 {
  width:100%;
}
.ctn_01 {
  height:581/75rem;
}
.ctn_02 {
  height:568/75rem;
}
.ctn_03 {
  height:429/75rem;
}
.ctn-box {
  position: relative;
  top:0;
  left:0;
}
.go-convert {
  position: absolute;
  top:200/75rem;
  right:57/75rem;
  background-color: transparent;
  border-radius: 38/75rem;
  width:229/75rem;
  height:76/75rem;
}