@a: 75rem;

html, body {
  -webkit-text-size-adjust: 100% !important;
}

img {
  display: block;
}

.flex-content {
  background-color: #d69b42;
  overflow: hidden;
  .banner {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    .bg {
      width: 100%;
    }
    .ctn-area {
      position: absolute;
      top: 257/@a;
      left: 0;
      width: 100%;
      max-width: 750/@a;
      .times {
        width: 279/@a;
        height: 48/@a;
        -webkit-border-radius: 24/@a;
        -moz-border-radius: 24/@a;
        border-radius: 24/@a;
        background-color: rgba(255, 255, 255, 0.4);
        color: #35741e;
        font-size: 24/@a;
        line-height: 48/@a;
        text-align: center;
        margin-right: -20/@a;
      }
      li {
        cursor: pointer;
      }
      .gifts_01 {
        width: 101/@a;
        position: absolute;
        top: 476/@a;
        left: 39/@a;
        img {
          width: 100%;
        }
      }
      .gifts_02 {
        width: 128/@a;
        position: absolute;
        top: 272/@a;
        left: 15/@a;
        img {
          width: 100%;
        }
      }
      .gifts_03 {
        width: 116/@a;
        position: absolute;
        top: 140/@a;
        left: 145/@a;
        img {
          width: 100%;
        }
      }
      .gifts_04 {
        width: 173/@a;
        position: absolute;
        top: 60/@a;
        left: 288/@a;
        img {
          width: 100%;
        }
      }
      .gifts_05 {
        width: 116/@a;
        position: absolute;
        top: 158/@a;
        right: 148/@a;
        img {
          width: 100%;
        }
      }
      .gifts_06 {
        width: 128/@a;
        position: absolute;
        top: 278/@a;
        right: 29/@a;
        img {
          width: 100%;
        }
      }
      .gifts_07 {
        width: 110/@a;
        position: absolute;
        top: 479/@a;
        right: 17/@a;
        img {
          width: 100%;
        }
      }
    }
  }
  .operate {
    ul {
      width: 664/@a;
      height: 600/@a;
      -webkit-border-radius: 30/@a;
      -moz-border-radius: 30/@a;
      border-radius: 30/@a;
      background-color: #fff;
      -webkit-box-shadow: 0 6/@a 21/@a rgba(135, 98, 3, .29);
      -moz-box-shadow: 0 6/@a 21/@a rgba(135, 98, 3, .29);
      box-shadow: 0 6/@a 21/@a rgba(135, 98, 3, .29);
      margin: 40/@a auto 0;
      li:first-child {
        dl {
          width: 33.333333%;
          text-align: center;
          color: #707070;
          font-size: 26/@a;
          img {
            height: 127/@a;
            margin: 57/@a auto 0;
            cursor: pointer;
          }
          dd {
            line-height: 62/@a;
          }
        }
      }
      li:nth-of-type(2) {
        margin: 40/@a auto;
        width: 568/@a;
        height: 76/@a;
        -webkit-border-radius: 8/@a;
        -moz-border-radius: 8/@a;
        border-radius: 8/@a;
        background-color: #45b64a;
        line-height: 76/@a;
        text-align: center;
        color: #fff;
        font-size: 30/@a;
        cursor: pointer;
      }
      li:last-child {
        border-top: 2/@a solid #f2f2f2;
        line-height: 46/@a;
        padding: 20/@a 0 0 47/@a;
        font-size: 30/@a;
        color: #7a7a7a;
      }
    }
  }
  .regular {
    padding: 0 37/@a 20/@a 36/@a;
    color: #fff;
    p.title {
      font-size: 30/@a;
      margin: 42/@a;
      line-height: 1;
      text-align: center;
      img {
        height: 26/@a;
        display: inline-block;
      }
    }
    p.title::after, p.title::before {
      content: "";
      display: inline-block;
      width: 86/@a;
      height: 1/@a;
      background-color: #fff;
      vertical-align: middle;
    }
    p.title::after {
      margin-left: 15/@a;
    }
    p.title::before {
      margin-right: 15/@a;
    }
    ol {
      padding-left: 1em;
      font-size: 28/@a;
      line-height: 44/@a;
      li {
        list-style: decimal;
      }
      i {
        color: #000cff;
        font-style: normal;
      }
    }
    p.tips {
      font-size: 22/@a;
      text-align: center;
      line-height: 1;
      margin-top: 27/@a;
    }
  }

  .obtained {
    width: 127/@a;
    height: 127/@a;
    -webkit-border-radius: 62/@a;
    -moz-border-radius: 62/@a;
    border-radius: 62/@a;
    background-color: #9d9d9d;
    border: solid 2/@a #3f3f3f;
    font-size:30/@a;
    color: #fff;
    text-align: center;
    line-height: 126/@a;
    margin: 57/@a auto 0;
  }
}

.draw {
  text-align: center;
  line-height: 28/@a;
  width: 87/@a;
  height: 28/@a;
  -webkit-border-radius: 14/@a;
  -moz-border-radius: 14/@a;
  border-radius: 14/@a;
  background-color: #409024;
  -webkit-box-shadow: 0 2/@a 1/@a rgba(42, 96, 23, .42);
  -moz-box-shadow: 0 2/@a 1/@a rgba(42, 96, 23, .42);
  box-shadow: 0 2/@a 1/@a rgba(42, 96, 23, .42);
  color: #fff;
  font-size: 24/@a;
  display: block;
  margin: -15/@a auto 0;
  position: relative;
}

.received {
  text-align: center;
  width: 87/@a;
  height: 28/@a;
  line-height: 28/@a;
  -webkit-border-radius: 14/@a;
  -moz-border-radius: 14/@a;
  border-radius: 14/@a;
  background-color: #a3a3a3;
  color: #fff;
  font-size: 24/@a;
  display: block;
  margin: -15/@a auto 0;
  position: relative;
}

.flex-content .regular p.title img.rotate {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
table {
  width:100%;
  text-align: center;
  color: #fff;
  border-collapse: collapse;
  margin: 10/@a auto;
  tr {
    td {
      border: 4/@a solid #fff;
      padding: 7/@a 0;
    }
  }
  img {
    margin:0 auto;
    height:64/@a;
  }
}




/*vue 过渡动画*/
[v-cloak] {
  display: none;
}

.shake1 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: shake1;
  animation-name: shake1;
}

.shake2 {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  //-webkit-animation-delay: 0.2s;
  //animation-delay: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: shake2;
  animation-name: shake2;
}

.shake3 {
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: shake3;
  animation-name: shake3;
}

.shake4 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: shake4;
  animation-name: shake4;
}

@-webkit-keyframes shake1 {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0.2rem, 0);
    -webkit-transform: translate3d(0, 0.2rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes shake1 {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0.2rem, 0);
    -webkit-transform: translate3d(0, 0.2rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes shake2 {
  0% {
    transform: translate3d(0, 0.07rem, 0);
    -webkit-transform: translate3d(0, 0.07rem, 0);
  }
  50% {
    transform: translate3d(0, 0.2rem, 0);
    -webkit-transform: translate3d(0, 0.2rem, 0);
  }
  100% {
    transform: translate3d(0, 0.07rem, 0);
    -webkit-transform: translate3d(0, 0.07rem, 0);
  }
}

@keyframes shake2 {
  0% {
    transform: translate3d(0, 0.07rem, 0);
    -webkit-transform: translate3d(0, 0.07rem, 0);
  }
  50% {
    transform: translate3d(0, 0.2rem, 0);
    -webkit-transform: translate3d(0, 0.2rem, 0);
  }
  100% {
    transform: translate3d(0, 0.07rem, 0);
    -webkit-transform: translate3d(0, 0.07rem, 0);
  }
}

@-webkit-keyframes shake3 {
  0% {
    transform: translate3d(0, 0.04rem, 0);
    -webkit-transform: translate3d(0, 0.04rem, 0);
  }
  50% {
    transform: translate3d(0, 0.2rem, 0);
    -webkit-transform: translate3d(0, 0.2rem, 0);
  }
  100% {
    transform: translate3d(0, 0.04rem, 0);
    -webkit-transform: translate3d(0, 0.04rem, 0);
  }
}

@keyframes shake3 {
  0% {
    transform: translate3d(0, 0.04rem, 0);
    -webkit-transform: translate3d(0, 0.04rem, 0);
  }
  50% {
    transform: translate3d(0, 0.2rem, 0);
    -webkit-transform: translate3d(0, 0.2rem, 0);
  }
  100% {
    transform: translate3d(0, 0.04rem, 0);
    -webkit-transform: translate3d(0, 0.04rem, 0);
  }
}

@-webkit-keyframes shake4 {
  0% {
    transform: translate3d(0, 0.2rem, 0);
    -webkit-transform: translate3d(0, 0.2rem, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0.2rem, 0);
    -webkit-transform: translate3d(0, 0.2rem, 0);
  }
}

@keyframes shake4 {
  0% {
    transform: translate3d(0, 0.2rem, 0);
    -webkit-transform: translate3d(0, 0.2rem, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0.2rem, 0);
    -webkit-transform: translate3d(0, 0.2rem, 0);
  }
}

.bottle {
  position: absolute;
  top: 250/@a;
  right: 50/@a;
  width: 250/@a;
  height: 250/@a;
  background: url(../images/sashui.png) no-repeat;
  background-size: 100% 100%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 10;
  display: none;
}

.bottleFadeIn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: bottleFadeIn;
  animation-name: bottleFadeIn;
  display: block;
  transform-origin: right center;
  -webkit-transform-origin:right center;
}

@keyframes bottleFadeIn {
  0% {
    top: 350/@a;
    right:70/@a;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  100% {
    top: 370/@a;
    right:90/@a;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes bottleFadeIn {
  0% {
    top: 350/@a;
    right:70/@a;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  100% {
    top: 395/@a;
    right:115/@a;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}