@q:75rem;
//已登陆未投资
.mask-no-invest{
  display: none;
  background-color: rgba(12,7,5,0.6);
  height: 100vh;
  //max-width: 750px;
  margin: 0 auto;
  left:0;
  top:0;
  right:0;
  position: fixed;
  z-index: 100000;
  div.popup-box{
    width: 590/@q;
    height: 742/@q;
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    background:url(../images/login_no_invest4.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    .popup-box-top{
      background: url(../images/login_no_top2.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      width: 679/@q;
      height: 249/@q;
      position: absolute;
      left:-42/@q;
      top:-85/@q;
    }
    i.close-box{
      width: 66/@q;
      height: 66/@q;
      position: absolute;
      top:0;
      right:5/@q;
      background: url(../images/close-box.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;

    }
    p.popup-box-msg{
      font-size: 30/@q;
      width: 461/@q;
      padding-left: 11/@q;
      margin: 0 auto;
      line-height: 45/@q;
      padding-top: 139/@q;
      color:#666666;
      span{
        color:#FF532D;
      }
    }
    div.red-racket{
      width:428/@q;
      margin:0 auto;
      text-align: center;
      font-size: 0px;
      span{
        height: 107/@q;
        width: 107/@q;
        display: inline-block;
        background: url(../images/login_prize3.png) 0 0 no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        font-size: 22/@q;
        padding-top: 64/@q;
        line-height: 26/@q;
        color:#FFE159;
      }
      span:nth-child(-n+4){
        margin-top:25/@q;
        margin-bottom:50/@q;
      }
    }
    p.popup-box-btn{
      background-color: #fec620;
      height: 79/@q;
      line-height: 79/@q;
      width: 400/@q;
      position: absolute;
      bottom:38/@q;
      left:0;
      right:0;
      margin: 0 auto;
      -webkit-border-radius: 40/@q;
      -moz-border-radius: 40/@q;
      border-radius: 40/@q;
      text-align: center;
      font-size: 32/@q;
      color:#8d0000;
    }
  }
}
//奖励提示
.mask-prize-hint{
  display: none;
  background-color: rgba(12,7,5,0.6);
  height: 100vh;
  //max-width: 750px;
  margin: 0 auto;
  left:0;
  top:0;
  right:0;
  position: fixed;
  z-index: 100000;
  div.popup-box{
    width: 594/@q;
    height: 683/@q;
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    background:url(../images/prize_hint1.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    .popup-box-top{
      background: url(../images/prize_bg.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      width: 594/@q;
      height: 697/@q;
      position: absolute;
      left:0;
      top:-180/@q;
      z-index: 100000;
    }
    i.close-box{
      z-index: 100001;
      width: 66/@q;
      height: 66/@q;
      position: absolute;
      top:0;
      right:5/@q;
      background: url(../images/close-box.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
    }
    .prize_user_box{
      position: relative;
      z-index: 100000;
      width: 498/@q;
      margin:187/@q auto 0;
      a{
        display: block;
        height: 152/@q;
        background: url(../images/pirze_user.png) 0 0 no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        position: relative;
        img{
          width: 76/@q;
          height: 84/@q;
          margin-left: 56/@q;
          margin-top: 32/@q;
        }
        div{
          width: 338/@q;
          height: 152/@q;
          padding-top: 40/@q;
          p{
            line-height: 40/@q;
          }
          p.user-login-msg{
            color:#434A54;
            font-size:28/@q;
          }
          p.user-login-prize{
            font-size:25/@q;
            color:#888888;
            span{
              color:#FF532D;
            }
          }
        }
      }
      a.prize_user_old{
        img{
          width: 94/@q;
          height: 84/@q;
          margin-left: 46/@q;
          margin-top: 32/@q;
        }
      }
    }
    p.popup-box-btn{
      background-color: #fec620;
      height: 79/@q;
      line-height: 79/@q;
      width: 400/@q;
      position: absolute;
      bottom:38/@q;
      left:0;
      right:0;
      margin: 0 auto;
      -webkit-border-radius: 40/@q;
      -moz-border-radius: 40/@q;
      border-radius: 40/@q;
      text-align: center;
      font-size: 32/@q;
      color:#8d0000;
    }
  }
}

//已登陆已投资
.mask-login-invest{
  display: none;
  background-color: rgba(12,7,5,0.6);
  height: 100vh;
  //max-width: 750px;
  margin: 0 auto;
  left:0;
  top:0;
  right:0;
  position: fixed;
  z-index: 100000;
  div.popup-box {
    width: 580/@q;
    height: 829/@q;
    padding:144/@q 40/@q 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -55%);
    -moz-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    -o-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
    background: url(../images/upgrade_prize_bg.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    i.close-box{
      display: none;
      width: 66/@q;
      height: 66/@q;
      position: absolute;
      top:88/@q;
      right:0;
      background: url(../images/close-box.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      z-index: 100001;
    }
    div.urgrade-swiper-contain{
      height: 685/@q;
      width: 500/@q;
      overflow: hidden;
    }
    ul{
      li{
        height: 685/@q;
        //float:left;
        width: 500/@q;
        vertical-align: top;
      }
      li.upgrade_explain{
        //display:none;
        h5{
          line-height: 38/@q;
          font-size: 25/@q;
          font-weight: 400;
          color:#FFF5D9;
        }
        p.login-invest-msg{
          line-height: 38/@q;
          font-size: 25/@q;
          color:#FFF5D9;
        }
        table{
          margin-top: 30/@q;
          width: 500/@q;
          background-color: #fff;
          -webkit-border-radius: 8/@q;
          -moz-border-radius: 8/@q;
          border-radius: 8/@q;
          border-collapse: collapse;
          th:first-child{
            width: 228/@q;
          }
          th:nth-last-child(-n+2){
            width:136/@q;
          }
          th,td{
            font-size: 24/@q;
            text-align: center;
            vertical-align: top;
            line-height: 38/@q;
            padding-top:16/@q;
            padding-bottom:16/@q;
            -webkit-box-sizing: padding-box;
            -moz-box-sizing: padding-box;
            box-sizing: padding-box;
          }
          th{
            color:#778497;
            font-weight: 400;
          }
          td{
            color:#434A54;
          }
          tr{
            th~th,td~td{
              border-left:1px solid #EEEEEE;
            }
          }
          tr~tr{
            border-top:1px solid #EEEEEE;
          }
        }
        a.check-login-invest{
          //position: absolute;
          //left:0;
          //right:0;
          //margin: 0 auto;
          //bottom:60/@q;
          display: block;
          margin:50/@q auto 0;
          width: 403/@q;
          height: 82/@q;
          text-align: center;
          line-height: 82/@q;
          font-size:32/@q;
          color:#BC4C02;
          background-color: #FEE2A1;
          -webkit-border-radius: 41/@q;
          -moz-border-radius: 41/@q;
          border-radius: 41/@q;
        }
      }
      li.upgrade-updata{
        h5{
          height: 46/@q;
          line-height: 46/@q;
          text-align: center;
          font-size: 25/@q;
          font-weight: 400;
          color:#FFF5D9;
          font-size: 38/@q;
        }
        .upgrade-updata-contain{
          margin-top: 33/@q;
          width:500/@q;
          height:408/@q;
          background: url(../images/upgrade_contain_bg.png) 0 0 no-repeat;
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
          div.updata-top-part{
            font-size: 0px;
            text-align: center;
            padding-top: 50/@q;
            span{
              height: 107/@q;
              width: 107/@q;
              display: inline-block;
              background: url(../images/login_prize3.png) 0 0 no-repeat;
              -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
              font-size: 22/@q;
              padding-top: 64/@q;
              line-height: 26/@q;
              color:#FFE159;
              text-align: center;
            }
            span~span{
              margin-left: 25/@q;
            }
          }
          div.updata-mid-part{
            font-size: 25/@q;
            height:97/@q;
            line-height: 100/@q;
            text-align: center;
            color:#434A54;
            span{
              color:#FF532D;
            }
          }
          div.updata-bottom-part{
            margin-top: 32/@q;

            div.lf,div.rg{
              width: 50%;
              height: 86/@q;
            }
            p{
              line-height: 39/@q;
              font-size: 25/@q;
            }
            div.bottom-jf-prize{
              text-align: right;
              padding-right: 30/@q;
              padding-top: 10/@q;
              i{
                display: inline-block;
                width: 106/@q;
                height: 57/@q;
                background: url(../images/jf_prize.png) right top no-repeat;
                -webkit-background-size: 100% 100%;
                background-size: 100% 100%;
              }
            }
          }
        }
        u{
          text-decoration:underline;
          color:#fde3e0;
          font-size: 25/@q;
          display: block;
          text-align: center;
        }
        .upgrade-updata-btn{
          a{
            height: 80/@q;
            line-height: 80/@q;
            text-align: center;
            width: 240/@q;
            -webkit-border-radius: 40/@q;
            -moz-border-radius: 40/@q;
            border-radius: 40/@q;
            color:#BC4C02;
            background-color: #FEE2A1;
            font-size:30/@q;
          }
        }
      }
    }
  }
}