@q:75rem;
.mask-no-invest{
  background-color: rgba(12,7,5,0.7);
  height: 100vh;
  max-width: 750px;
  margin: 0 auto;
  left:0;
  top:0;
  right:0;
  position: fixed;
  z-index: 22;
  div.popup-box{
    width: 590/@q;
    height: 742/@q;
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    background:url(../images/login_no_invest4.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    .popup-box-top{
      background: url(../images/login_no_top2.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      width: 679/@q;
      height: 249/@q;
      position: absolute;
      left:-42/@q;
      top:-85/@q;
    }
    i.close-box{
      width: 66/@q;
      height: 66/@q;
      position: absolute;
      top:0;
      right:5/@q;
      background: url(../images/close-box.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;

    }
    p.popup-box-msg{
      font-size: 30/@q;
      width: 461/@q;
      padding-left: 11/@q;
      margin: 0 auto;
      line-height: 45/@q;
      padding-top: 139/@q;
      color:#666666;
      span{
        color:#FF532D;
      }
    }
    p.popup-box-btn{
      background-color: #fec620;
      height: 79/@q;
      line-height: 79/@q;
      width: 400/@q;
      position: absolute;
      bottom:38/@q;
      left:0;
      right:0;
      margin: 0 auto;
      -webkit-border-radius: 40/@q;
      -moz-border-radius: 40/@q;
      border-radius: 40/@q;
      text-align: center;
      font-size: 32/@q;
      color:#8d0000;
    }
  }
}