img {
  display: block;
}
.flex-content {
  background-color: #0664c9;
  position: absolute;
  top:0;
  right:0;
  left:0;
  overflow: hidden;
  .part_01{
    height:357/75rem;
    width:100%;
    position: relative;
    img.bg {
      width:100%;
      height:100%;
    }
    img.fog{
      width:283/7.5%;
      position: absolute;
      top:0;
      right:0;
      z-index: 3;
    }
    .balloon {
      top:215/75rem;
    }
    .lock {
      right: 55/7.5%;
      top:110/75rem;
    }
  }
  .part_02{
    height:356/75rem;
    position: relative;
    img.bg {
      width:100%;
      height:100%;
    }
    img.fog{
      width:385/7.5%;
      position: absolute;
      top:-1.8rem;
      right:0;
      z-index: 3;
    }
    .balloon {
      top:135/75rem;
    }
    .lock {
      right: 100/7.5%;
      top:5/75rem;
    }
  }
  .part_03{
    height:357/75rem;
    position: relative;
    img.bg {
      width:100%;
      height:100%;
    }
    img.fog{
      width:509/7.5%;
      position: absolute;
      top:-2.5rem;
      right:0;
      z-index: 3;
    }
    .balloon {
      top:200/75rem;
    }
    .lock {
      right: 147/7.5%;
      top:10/75rem;
    }
  }
  .part_04{
    height:357/75rem;
    position: relative;
    img.bg {
      width:100%;
      height:100%;
    }
    img.fog{
      width:607/7.5%;
      position: absolute;
      top:-2.9rem;
      right:0;
      z-index: 3;
    }
    .balloon {
      top:260/75rem;
    }
    .lock {
      right: 195/7.5%;
      top:44/75rem;
    }
  }
  .part_05{
    height:356/75rem;
    position: relative;
    img.bg {
      width:100%;
      height:100%;
    }
  }
  .part_06{
    height:357/75rem;
    position: relative;
    img.bg {
      width:100%;
      height:100%;
    }
  }
  .fixedBar {
    position: fixed;
    top:129/75rem;
    height:515/75rem;
    overflow: hidden;
    width:100%;
    z-index: 1;
    max-width: 750px;
    .giftList,.activeRegular {
      font-size:30/75rem;
      color: #f7d138;
      height:62/75rem;
      line-height: 62/75rem;
      width:239/7.5%;
      text-align: center;
      border:3/75rem solid #fff;
      box-sizing: border-box;
      padding-left:(239-160)/7.5%;
      margin-left: -(239-156)/7.5%;
      -webkit-border-radius: 30px/30px 30px 31px 31px;
      -moz-border-radius: 30px/30px 30px 31px 31px;
      border-radius: 30px/30px 30px 31px 31px;
      background-color: #9b9a9a;
    }
    .activeRegular {
      margin-top: 22/75rem;
    }
    i {
      font-style: normal;
      color: #d83829;
      font-size:18/75rem;
    }
    .times,.money {
      font-size:18/75rem;
      color: #c8a829;
      background: url("../images/btn_bg.png") no-repeat;
      background-size: 100% 100%;
      height:152/75rem;
      width:146/7.5%;
      text-align: center;
      padding: 75/7.5% 0 0 0;
      margin-left: 10/7.5%;
      p {
        width:92.191781%;
      }
    }
    .times {
      margin-top: 45/75rem;
    }
    .money {
      margin-top: 20/75rem;
    }
  }
}
.balloon {
  width:100/7.5%;
  height:237/75rem;
  background: url("../images/balloon.png") center no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0;
  top:0;
  z-index: 4;
  text-align: center;
  font-size:22/75rem;
  color: #986119;
  box-sizing: border-box;
  padding-top:30/75rem;
}
.lock {
  width:100/7.5%;
  height:105/75rem;
  background: url("../images/lock_bg.png") center no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: 5;
  box-sizing: border-box;
  padding: 0.2666667rem 0.3rem;
  img {
    width:53/75rem;
    height:69/75rem;
    z-index: 6;
  }
}

.moneyBag1 {
  width:201/7.5%;
  position: absolute;
  top: 1.1rem;
  right: 25.4%;
  z-index: 2;
}
.moneyBag2 {
  width:187/7.5%;
  position: absolute;
  top: 0.4rem;
  right: 17%;
  z-index: 2;
}
.moneyBag3 {
  width:170/7.5%;
  position: absolute;
  top: -0.35rem;
  right: 17.4%;
  z-index: 2;
}
.moneyBag4 {
  width:185/7.5%;
  position: absolute;
  top: -0.35rem;
  right: 7.4%;
  z-index: 2;
}
.moneyBag5 {
  width:175/7.5%;
  position: absolute;
  top: 0.5rem;
  right: 0.5%;
  z-index: 2;
}
.hand5 {
  width: 15.6%;
  position: absolute;
  top: 2.7rem;
  right: 20.5%;
  z-index: 2;
}
.hand4 {
  width: 15.6%;
  position: absolute;
  top: 1.8rem;
  right: 13.5%;
  z-index: 2;
}
.hand3 {
  width: 15.6%;
  position: absolute;
  top: 0.8rem;
  right: 13.5%;
  z-index: 2;
}
.hand2 {
  width: 15.6%;
  position: absolute;
  top: 0.7rem;
  right: 3.5%;
  z-index: 2;
}
.hand1 {
  width: 15.6%;
  position: absolute;
  top: 1.7rem;
  right: -1.5%;
  z-index: 2;
}


/**css animate 动画*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}
.animatedSpecial {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  33% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0)
  }
  66% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0)
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  33% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0)
  }
  66% {
    -webkit-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0)
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake
}

@-webkit-keyframes point {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  33% {
    -webkit-transform: translate3d(-5px, -5px, 0);
    transform: translate3d(-5px, -5px, 0)
  }
  66% {
    -webkit-transform: translate3d(5px, 5px, 0);
    transform: translate3d(5px, 5px, 0)
  }
}

@keyframes point {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  33% {
    -webkit-transform: translate3d(-5px, -5px, 0);
    -ms-transform: translate3d(-5px, -5px, 0);
    transform: translate3d(-5px, -5px, 0)
  }
  66% {
    -webkit-transform: translate3d(5px, 5px, 0);
    -ms-transform: translate3d(5px, 5px, 0);
    transform: translate3d(5px, 5px, 0)
  }
}

.point {
  -webkit-animation-name: point;
  animation-name: point
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg)
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg)
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg)
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg)
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg)
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    -ms-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg)
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    -ms-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg)
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    -ms-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg)
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    -ms-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg)
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg)
  }
}

.swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing
}
.delay1{
  animation-delay:0.3s
}
.delay2{
  animation-delay:0.6s
}
.delay3{
  animation-delay:0.9s
}
.delay4{
  animation-delay:1.2s
}
@-webkit-keyframes dissipate {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    z-index: 0;
    opacity: 0;
  }
}
@keyframes dissipate {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }
  100% {
    display: none;
    z-index: 0;
    opacity: 0;
  }
}
.dissipate {
  -webkit-animation-name: dissipate;
  animation-name: dissipate
}
.pop {
  width:665/7.5%;
  padding:0 0 15/75rem 0 ;
}
.popMiddle {
  padding: 0 0 0 11%;
}
.popBtm {
  height:110/75rem;
  line-height: 110/75rem;
  width:280/6.65%;
}
.regularStyle {
  font-size:36/75rem;
  color: #3b3b3b;
  line-height: 48/75rem;
  text-align: left;
  padding-right:0.5rem;
  li {
    list-style: decimal;
  }
}
.regularTips{
  color: #3b3b3b;
  font-size:28/75rem;
  text-align: center;
  margin-top: 50/75rem;
  margin-left: -11%;
}
.popBtm {
  margin-bottom: 0.5rem;
}
.noDrawChance {
  color: #3b3b3b;
  font-size:0.666667rem;
  padding:50/75rem 0 30/75rem;
  text-align: left;
}
.pop .popClose {
  width: 0.91333333rem;
}
.popBtm {
  padding:0;
}
.giftsTitle {
  text-align: center;
  padding-right: 0.8rem;
  p {
    font-size:60/75rem;
    color: #3b3b3b;
    padding:50/75rem 0 0 0;
    line-height: 1;
  }
  img {
    width:250/75rem;
    margin: 0 auto;
  }
  i {
    display: inline-block;
    color: #ea9011;
    font-size:42/75rem;
    font-style: normal;
    line-height: 1;
    //padding:20/75rem 0 20/75rem 0;
  }
}
.lockPond {
  margin-left: -11%;
  .title {
    font-size:50/75rem;
    color: #3b3b3b;
    line-height: 64/75rem;
    padding: 0.8rem 0.3rem 1rem;
    i {
      font-style: normal;
      color: #eb9720;
    }
  }
  .showGifts {
    color: #eb3640;
    font-size:40/75rem;
  }
  .giftLists {
    margin:20/75rem 0 40/75rem;
    dl {
      width: 175/75rem;
      margin-left: 30/75rem;
      dt{
        img {
          width:146/75rem;
          margin: 0 auto;
        }
      }
      dd {
        width:112%;
        margin-left: -6%;
        font-size:24/75rem;
        color: #ea9011;
      }
    }
  }
}
.pond {
  margin-left: -11%;
  .title {
    color: #3b3b3b;
    font-size:40/75rem;
    line-height: 1;
    margin: 20/75rem 0;
    text-align: left;
    padding-left: 40/75rem;
  }
  .giftLists {
    margin:0 0 40/75rem;
    dl {
      width: 175/75rem;
      margin-left: 30/75rem;
      dt{
        img {
          width:146/75rem;
          margin: 0 auto;
        }
      }
      dd {
        width:112%;
        margin-left: -6%;
        font-size:24/75rem;
        color: #ea9011;
      }
    }
  }
  a.draw{
    display: block;
    width:532/75rem;
    height:115/75rem;
    background: url("../images/btn.png") center no-repeat;
    background-size:100% 100%;
    text-align: center;
    line-height: 110/75rem;
    margin: 20/75rem auto 0;
    color: #fff;
    font-size:48/75rem;
    letter-spacing: 0.15em;

  }
  .tips {
    color: #e85050;
    font-size:30/75rem;
    padding-left: 0.53333333rem;
    text-align: left;
  }
}

@-webkit-keyframes slideInUp {
  0% {
    top: -(2140-1334)/75rem;
  }
  to {
    top: 0rem;
  }
}
@keyframes slideInUp {
  0% {
    top: -(2140-1334)/75rem;
  }
  to {
    top: 0rem;
  }
}
.slideInUp {
  animation-name: slideInUp
}
body {
  position: relative;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow: scroll;
  height:2140/75rem;
}
.pst1{
  position: absolute;
  top:120/75rem;
}
.pst2{
   position: absolute;
   top:390/75rem;
 }
.pst3{
  position: absolute;
  top:790/75rem;
}
#Myanchor{
  position: absolute;
  bottom:0;
}