.bank-card {
    height:80px;
    background: #fff;
    line-height: 80px;
    margin-top: 10px;
    margin-bottom: 10px!important;
}
.bank-card img {
    width: 30px;
}
.bank-img {
    text-align: right;
}
.bank-content {
    height: 80px;
    padding: 0;
}
.bank-content div {
    text-align: left;
    height: 50%;
    color: #434a54;
}
.bank-content1 {
    line-height: 50px;
    font-size: 16px;
    color: #434a54;
}
.bank-content2 {
    line-height: 18px;
}

.kahao {
    border-bottom: 1px solid #eaeaea;
}
.kahao div {
    color: #434a54;
}
/*设置字体左边距,用于对齐*/
.kahao .col-xs-3{
    font-size: 15px;
    padding: 0;
    padding-left: 5%;
}
.kahao .col-xs-9{
    text-align: left;
    padding: 0;
    padding-left: 3%;
}
.kahao input {
    width: 100%;
}
.dan {
    padding-top: 10px;
}
.dan span{
    float: left;
    height: 20px;
    margin-left: 10px;
    line-height: 20px;
}

/* 添加显示红色字体的类,设置左边距,用于左对齐 */
.note {
    color: #f44336;
    padding: 0 5%;
}
.kahao div input {
    margin-top: 10px;
    color: #aab2bd!important;
}


.yzm-show {
    width: 100px !important;
    margin-top:-4px !important;
    font-size:12px !important;
    height:28px !important;
    line-height:27px !important;
}

.ryzm-disabled {
    background:#fff !important;
    border: 1px solid #f44336 !important;
}
/* 充值限额修改 */
.login-sign-btn {
    margin-top: 91px;
}
.rechargebtn {
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    background: #ff6707;
    border: none;
}
.note {
    margin-top: 67px;
    /*color: #f44336;*/
    /*padding: 0 5%;*/
}
.note ul li {
    line-height: 16px;
    color: #aab2bd;
    font-size: 13px;
}
.note ul li.li-title {
    margin-bottom: 14px;
    color: #4e545a;
    font-size: 15px;
    text-align: center;
}
.note ul li .contact-tel {
    color: #7f8592;
}
.customer-layer-popuo {
    /*color: green;*/
}
.customer-layer-popuo .layui-m-layercont {
    text-align: left;
}
.customer-layer-popuo .layui-m-layerbtn {
    font-size: 14px;
}
.customer-layer-popuo .layui-m-layerbtn span[yes] {
    color: #ff6707;
}
.layui-m-layershade {
    background-color: rgba(0, 0, 0, .1)
}
.cmxform {
    position: relative;
}
.cmxform .formula {
    display: none;
    position: absolute;
    top: 45px;
    width: 100%;
    line-height: 18px;
    padding: 8px 4%;
    color: #ff6707;
    font-size: 13px;
    background: #fff6e8;
}
.cmxform .formula .a-formula {
    margin-left: 13px;
    display: inline-block;
    color: #419bf9;
    text-decoration: none;
}
.recharge-kahao .trans {
    display: none;
    position: absolute;
    left: 7%;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right:9px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid #fff6e8;
}