@a:75rem;
.flex-content {
  .banner {
    width:10rem;
    height:456/@a;
  }
  .part_01 {
    width:10rem;
    height:440/@a;
    background: url("../images/tachun_02.png") #6aa438 no-repeat;
    background-size: 100% 100%;
    margin-top: -0.07rem;
    position: relative;
    .regular {
      width:657/@a;
      height:533/@a;
      position: absolute;
      z-index: 1;
      top: .75rem;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
    .invest-amount {
      font-size:30/@a;
      color: #ff6162;
      text-align: center;
      position: absolute;
      z-index: 5;
      width:10rem;
      top:1.5rem;
    }
    .go-invest {
      width:522/@a;
      height:79/@a;
      background-color: transparent;
      cursor: pointer;
      position: absolute;
      z-index: 2;
      border-radius: 5/@a;
      top: 4.84rem;
      left: 1.3rem;
    }
  }
  .part_02 {
    width:10rem;
    height:440/@a;
    background: url("../images/tachun_03.png") #6aa438 no-repeat;
    background-size: 100% 100%;
    margin-top: -0.01rem;
    position: relative;
    .gifts {
      width:657/@a;
      height:1188/@a;
      position: absolute;
      z-index: 1;
      top:1rem;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    .gift-btn {
      width:261/@a;
      height:47/@a;
      display: block;
      border-radius: 23.5/@a;
      position: absolute;
      background-color: transparent;
      z-index: 4;
      &:nth-of-type(even){
        left:5.17rem;
      }
      &:nth-of-type(odd){
        left:0.955rem;
      }
    }
    .btn1 {
      top:5.3rem;
    }
    .btn3 {
      top:9.55rem;
    }
    .btn5 {
      top:13.8rem;
    }
    .btn2 {
      top:5.3rem;
    }
    .btn4 {
      top:9.55rem;
    }
    .btn6 {
      top:13.8rem;
    }
  }
  .part_03 {
    width:10rem;
    height:439/@a;
    background: url("../images/tachun_04.png") #6aa438 no-repeat;
    background-size: 100% 100%;
    margin-top: -0.02rem;
    position: relative;
  }
  .part_04 {
    width:10rem;
    height:440/@a;
    background: url("../images/tachun_05.png") #6aa438 no-repeat;
    background-size: 100% 100%;
    margin-top: -0.01rem;
    position: relative;
    .btm {
      width:10rem;
      height:307/@a;
      position: absolute;
      bottom:0;
      left:0;
      right:0;
      z-index: 3;
    }
  }
}