body {
    background-color: #f2f2f2
}
a {
    text-decoration: none;
    color: #aab2bd;
}
div.UtopTitle{
    background-color:#ff6707;
}

.top_one {
    width: 100%;
    height: 4.50666667rem;
    background: url(../../images/ucenter/bg_top3.png) no-repeat;
    background-size: 100% 100%
}

.top_one .award {
    height: .64rem;
    line-height: .64rem;
    color: #fff;
    text-align: center;
    margin-bottom: .96rem
}

.top_one .buttons {
    padding: 0 .84rem
}

.top_one .buttons .button {
    display: inline-block;
    width: 33.6%;
    height: .84rem;
    line-height: .84rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    text-align: center
}

.top_one .user_imf {
    padding-left: .48rem;
    color: #fff;
    height: .48rem;
    line-height: .48rem;
    margin-bottom: 1.12rem
}

.top_one .user_imf .user_caifu {
    position: relative;
    bottom: 2px
}

.top_one .user_imf .user_tel {
    margin-right: .16rem
}

.top_one .user_imf .user_level {
    display: inline-block;
    width: .76rem;
    height: .5rem;
    line-height: .1rem;
    text-align: center;
    padding-top: 4px;
    margin-right: .16rem;
    background: url(../../images/ucenter/bg_level.png) repeat-x;
    background-size: contain;
    color: #f25f57;
    position: relative;
    top: -2px
}

.top_one .user_imf .user_level img {
    width: .35rem;
    height: .25rem;
    position: relative;
    top: -1px
}

.top_one .property {
    text-align: center
}

.top_one .property .number {
    width: 49%;
    line-height: .90666667rem
}

.top_one .property .number .property_word {
    height: .74666667rem;
    line-height: .74666667rem;
    color: #f9d9cd
}

.top_one .property .number .property_number {
    height: .85333333rem;
    line-height: .85333333rem;
    color: #fff;
    font-weight: 500
}

.top_one .property li:first-child {
    border-right: 1px solid #fcbaab
}

.remain {
    height: 1.78666667rem;
    line-height: 1.78666667rem;
    padding: .4rem .4rem 0 .50666667rem;
    background-color: #fff
}

.remain .lf .remain_num {
    height: .64rem;
    line-height: .64rem;
    color: #ff6707;
}


.remain .lf .remain_word {
    margin-top: .06666667rem;
    height: .32rem;
    line-height: .32rem;
    color: #434a54;
}

.remain .rg .remain_button {
    display: block;
    width: 40%;
    height: .89333333rem;
    line-height: .89333333rem;
    text-align: center;
    color: #fff;
    background-color: #ff6707;
    border-radius: .13333333rem;
    margin-left: .46666667rem;
}

.youihui {
    padding: .37333333rem .72rem
}

.youihui .my_youhui {
    position: relative;
    width: 46%;
    overflow: hidden;
    height: 1.76rem;
    border: 1px solid #f15f56;
    border-radius: 10px;
    background-color: #fff
}

.youihui .my_youhui .line_one {
    color: #ff6707;
    height: .4rem;
    line-height: .4rem;
    margin-top: .4rem;
    margin-left: 1.05333333rem;
    margin-bottom: -.5rem;
}

.youihui .my_youhui .line_two {
    height: .32rem;
    line-height: .32rem;
    margin-left: 1.05333333rem;
    margin-top: .73333rem;
    color: #aab2bd;
}


.youihui .youhui1 {
    padding-left: .17333333rem
}

.youihui .youhui1 img {
    position: absolute;
    top: .6rem;
    width: .9rem;
    /*height: .98666667rem*/
}

.youihui .youhui1 .youhui_content {
    display: table;
    color: #858585
}

.youihui .youhui2 {
    padding-left: .4rem
}

.youihui .youhui2 img {
    position: absolute;
    top: .48rem;
    width: .81333333rem;
    height: .84rem
}

.youihui .youhui2 .youhui_content {
    display: table;
    color: #858585
}

.options {
    padding: 0 .4rem;
    background-color: #fff;
    border-bottom: 1px solid #dedede
}

.options .ops {
    width: 100%;
    height: 1.22666667rem;
    line-height: 1.22666667rem;
    border-bottom: 1px solid #dedede
}

.options .ops .lf {
    height: .50666667rem;
    line-height: .50666667rem;
    /*padding-left: .69333333rem;*/
    position: relative;
    top: .33333333rem;
    color: #434a54;
    /*background: url(../../images/ucenter/shapes.png) no-repeat;*/
    background-size: .4rem 2.53333333rem;
}

.options .ops .lf img {
    vertical-align: middle;
    margin-right: .29333333rem
}

.options .ops .rg img {
    vertical-align: middle;
    margin-left: .133rem
}

.out_ops {
    height: 1.22666667rem;
    line-height: 1.22666667rem;
    margin-top: .18666667rem;
    padding: 0 .4rem;
    background-color: #fff;
    border-bottom: 1px solid #dedede
}

.out_ops .lf {
    color: #333;
    height: .50666667rem;
    line-height: .50666667rem;
    /*padding-left: .69333333rem;*/
    position: relative;
    top: .33333333rem;
    /*background: url(../../images/ucenter/shapes.png) no-repeat;*/
    background-size: .4rem 2.53333333rem
}

.out_ops .test {
    /*background: url(../../images/ucenter/shape_test.png) no-repeat;*/
    background-size: .493rem
}

.out_ops .lf img {
    vertical-align: middle;
    margin-right: .29333333rem
}

.out_ops .rg .red {
    color: #ed3844
}

.out_ops .rg img {
    vertical-align: middle
}

.customer_service {
    color: #999;
    text-align: center
}

.customer_service:first-of-type {
    margin-top: .2rem
}

.footer {
    height: 50px;
    background: #fff;
    box-shadow: 0 2px 5px #888
}

.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0
}

.footer-title {
    width: 33.3333333%;
    float: left;
    height: 100%;
    text-align: center
}

.footer-inner {
    display: block;
    height: 100%;
    margin: 0 auto;
    cursor: pointer
}

a:hover, a:visited, a:active {
    text-decoration: none;
    outline: 0;
    color: #999
}

.special-bar {
    color: #f44336
}

.nav-bar {
    font-size: 14px;
    line-height: 1.5
}

.shouye1 {
    color: #f44336
}

.footer-title .shouye {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background: url(../../images/ucenter/footer2.png) no-repeat -145px -3px;
    background-size: 200px;
    font-size: 18px
}

.footer-title .licai {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background: url(../../images/ucenter/footer2.png) no-repeat -113px -3px;
    background-size: 200px;
    font-size: 18px
}

.footer-title .zhanghu {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background: url(../../images/ucenter/footer2.png) no-repeat -81px -57px;
    background-size: 200px;
    font-size: 18px
}