img {
  display: block;
}
.flex-content {
  background: url("../images/bg.png") #fee7fa no-repeat;
  background-size: 100% 100%;
  height: 48.82666667rem;
}
.banner {
  width: 100%;
  height: 5.01333333rem;
}
.banner img {
  display: block;
  width: 100%;
  height: 100%;
}
.section-one {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0.4rem;
}
.section-one img {
  width: 100%;
  position: relative;
}
.section-one .section-one-inner {
  position: absolute;
  width: 83.06666667%;
  background-color: #f9f9f9;
  top: 0.93333333rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.section-one .section-one-inner a {
  display: block;
  margin-bottom: 0.22666667rem;
  position: relative;
}
.section-one .section-one-inner a img {
  width: 100%;
}
.section-one .section-one-inner a .flower {
  width: 0.77333333rem;
  position: absolute;
  top: 0.37333333rem;
  left: -6%;
  z-index: 1;
}
.section-one .section-one-inner a:last-child {
  margin-bottom: 0;
}
.section-two {
  margin-top: 0.4rem;
  position: relative;
  top: 0;
  left: 0;
}
.section-two img {
  width: 100%;
  position: relative;
}
.section-two .section-two-inner {
  position: absolute;
  top: 1.33333333rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #f9f9f9;
  width: 83.2%;
}
.section-two .section-two-inner a {
  display: block;
  width: 49.19871795%;
}
.section-two .section-two-inner a img {
  width: 100%;
}
.section-two .section-two-inner a .left-one {
  margin-bottom: 0.16rem;
}
.section-two .section-two-inner a .right-one {
  margin-bottom: 0.10666667rem;
}
.section-three {
  width: 85.86666667%;
  height: 8.48rem;
  margin: 0.66666667rem auto 0;
  position: relative;
}
.section-three .section-three-bg {
  width: 100%;
  height: 103%;
  background-color: #ff99af;
  position: absolute;
  top: 0;
  left: 0;
  transform: skew(2deg) rotate(-2deg);
}
.section-three .section-three-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  width: 100%;
}
.section-three .section-three-inner a:first-child {
  width: 100%;
  display: block;
  margin-bottom: 0.22666667rem;
}
.section-three .section-three-inner a:first-child img {
  width: 100%;
}
.section-three .section-three-inner a.lf,
.section-three .section-three-inner a.rg {
  width: 49.22360248%;
  display: block;
}
.section-three .section-three-inner a.lf img,
.section-three .section-three-inner a.rg img {
  width: 100%;
}
.section-four {
  margin-top: 1.2rem;
  position: relative;
  top: 0;
  left: 0;
}
.section-four img.section-four-bg {
  width: 87.46666667%;
  margin: 0 auto;
  position: relative;
}
.section-four .section-four-inner {
  position: absolute;
  top: 1.56rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #f9f9f9;
  width: 83.2%;
}
.section-four .section-four-inner a {
  width: 48.23717949%;
  display: block;
}
.section-four .section-four-inner a img {
  width: 100%;
}
.tips {
  margin-top: 0.4rem;
  text-align: center;
  font-size: 0.4rem;
  color: #f899a2;
  line-height: 0.56rem;
  letter-spacing: 3px;
}
