body {
  background-color: #f7233d;
}

i {
  font-style: normal;
}

.flex-content {
  position: relative;
}

.pointsBanner img {
  width: 100%;
}

.pointsGifts {
  background: url("../img/body-bg.png") center top no-repeat;
  background-size: 8.50666667rem 15.46666667rem;
  width: 100%;
  position: absolute;
  top: 2.34666667rem;
  left: 0;
  padding-top: 3.36rem;
}

.pointsGifts .pointsRegular {
  position: relative;
  top: 0;
  left: 0;
  padding: 0 0.29333333rem;
}

.pointsGifts .pointsRegular img.regularImg {
  width: 2.05333333rem;
  position: absolute;
  top: -1rem;
  left: 50%;
  margin-left: -1.02666667rem;
}

.pointsGifts .pointsRegular ul {
  padding: 0.53333333rem 0.32rem;
  background-color: #fdc7cd;
  line-height: 0.8rem;
  font-size: 0.37333333rem;
  color: #333333;
  border-radius: 0.13333333rem;
}

.pointsGifts .pointsIntroduce {
  padding: 0 0.29333333rem;
}

.pointsGifts .pointsIntroduce img {
  display: block;
  margin: 0.66666667rem auto;
  width: 100%;
}

.inviteFriends img {
  width: 4.13333333rem;
  display: block;
  margin: 0 auto 1rem;
  position: relative;
  top: 10.86666667rem;
}

.pointsRed {
  color: #ff0019;
}

.pointsRed-border {
  width: 1.02666667rem;
}