body {
  background-color: #f2f2f2;
}
.top_one {
  height: 4.50666667rem;
  background: url("../images/bg_top2.png") no-repeat;
  background-size: contain;
}
.top_one .award {
  height: 0.64rem;
  line-height: 0.64rem;
  color: #fff;
  text-align: center;
  margin-bottom: 0.96rem;
}
.top_one .buttons {
  padding: 0 0.84rem;
}
.top_one .buttons .button {
  display: inline-block;
  width: 3.36rem;
  height: 0.84rem;
  line-height: 0.84rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  text-align: center;
}
.top_one .user_imf {
  padding-left: 0.48rem;
  color: #fff;
  height: 0.48rem;
  line-height: 0.48rem;
  margin-bottom: 1.12rem;
}
.top_one .user_imf .user_caifu{
  position: relative;
  bottom: 2px;
}
.top_one .user_imf .user_tel {
  margin-right: 0.16rem;
}
.top_one .user_imf .user_level {
  display: inline-block;
  width: 0.76rem; /*45 */
  height: 0.5rem; /*29*/
  line-height: 0.1rem;
  text-align: center;
  padding-top: 4px;
  margin-right: 0.16rem;
  background: url("../images/bg_level.png") repeat-x;
  background-size: contain;
  color: #f25f57;
  position: relative;
  top:-2px;
}
.top_one .user_imf .user_level img {
  width: 0.35rem;
  height: 0.25rem;
  position: relative;
  top:-1px;
}
.top_one .property {
  text-align: center;
}
.top_one .property .number {
  width: 49%;
  line-height: 0.90666667rem;
}
.top_one .property .number .property_word {
  height: 0.74666667rem;
  line-height: 0.74666667rem;
  color: #faa696;
}
.top_one .property .number .property_number {
  height: 0.85333333rem;
  line-height: 0.85333333rem;
  color: #fff;
  font-weight: 500;
}
.top_one .property li:first-child {
  border-right: 1px solid #fcbaab;
}
.remain {
  height: 1.78666667rem;
  line-height: 1.78666667rem;
  padding: 0.4rem 0.4rem 0 0.50666667rem;
  background-color: #fff;
}
.remain .lf .remain_num {
  height: 0.64rem;
  line-height: 0.64rem;
  color: #ff0000;
}
.remain .lf .remain_word {
  margin-top: 0.06666667rem;
  height: 0.32rem;
  line-height: 0.32rem;
  color: #333;
}
.remain .rg .remain_button {
  display: block;
  width: 1.93333333rem;
  height: 0.89333333rem;
  line-height: 0.89333333rem;
  text-align: center;
  color: #fff;
  background-color: #fd8a57;
  border-radius: 0.13333333rem;
  margin-left: 0.46666667rem;
}
.youihui {
  padding: 0.37333333rem 0.72rem;
}
.youihui .my_youhui {
  position: relative;
  display: table;
  width: 3.92rem;
  height: 1.76rem;
  border: 1px solid #f15f56;
  border-radius: 10px;
  background-color: #fff;
}
.youihui .my_youhui .line_one {
  color: #f15f56;
  height: 0.4rem;
  line-height: 0.4rem;
  margin-top:0.4rem;
  margin-left: 1.05333333rem;
  margin-bottom:-0.5rem;
}
.youihui .my_youhui .line_two {
  height: 0.32rem;
  line-height: 0.32rem;
  margin-left: 1.05333333rem;
  margin-top:0.73333rem;
}
.youihui .youhui1 {
  padding-left: 0.17333333rem;
}
.youihui .youhui1 img {
  position: absolute;
  top: 0.44rem;
  width: 0.8rem;
  height: 0.98666667rem;
}
.youihui .youhui1 .youhui_content {
  display: table;
  color: #858585;
}
.youihui .youhui2 {
  padding-left: 0.4rem;
}
.youihui .youhui2 img {
  position: absolute;
  top: 0.48rem;
  width: 0.81333333rem;
  height: 0.84rem;
}
.youihui .youhui2 .youhui_content {
  display: table;
  color: #858585;
}
.options {
  padding: 0 0.4rem;
  background-color: #fff;
  border-bottom: 1px solid #dedede;
}
.options .ops {
  width: 100%;
  height: 1.22666667rem;
  line-height: 1.22666667rem;
  border-bottom: 1px solid #dedede;
}
.options .ops .lf {
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  padding-left: 0.69333333rem;
  position: relative;
  top: 0.33333333rem;
  color: #333;
  background: url("../images/shapes.png") no-repeat;
  background-size: 0.4rem 2.53333333rem;
}
.options .ops .lf img {
  vertical-align: middle;
  margin-right: 0.29333333rem;
}
.options .ops .rg img {
  vertical-align: middle;
  margin-left: 0.133rem;
}
.out_ops {
  height: 1.22666667rem;
  line-height: 1.22666667rem;
  margin-top: 0.18666667rem;
  padding: 0 0.4rem;
  background-color: #fff;
  border-bottom: 1px solid #dedede;
}
.out_ops .lf {
  color: #333;
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  padding-left: 0.69333333rem;
  position: relative;
  top: 0.33333333rem;
  background: url("../images/shapes.png") no-repeat;
  background-size: 0.4rem 2.53333333rem;
}
.out_ops .lf img {
  vertical-align: middle;
  margin-right: 0.29333333rem;
}
.out_ops .rg img {
  vertical-align: middle;
}
.customer_service {
  color: #999;
  text-align: center;
}
.customer_service:first-of-type {
  margin-top: 0.2rem;
}
.footer{
  height: 50px;
  background: #fff;
  box-shadow: 0 2px 5px #888;
}
.navbar-fixed-bottom{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.footer-title {
  width: 33.3333333%;
  float: left;
  height: 100%;
  text-align: center;
}
.footer-inner {
  display: block;
  width: 30px;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
}
a:hover, a:visited, a:active {
  text-decoration: none;
  outline: 0;
  color: #999;
}
.special-bar {
  color: #f44336;
}
.nav-bar {
  font-size: 14px;
  line-height: 1.5;
}
.shouye1{color:#f44336}
.footer-title .shouye {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: url(../images/footer2.png) no-repeat -145px -3px;
  background-size: 200px;
  font-size: 18px;
}
.footer-title .licai {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: url(../images/footer2.png) no-repeat -113px -3px;
  background-size: 200px;
  font-size: 18px;
}
.footer-title .zhanghu {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: url(../images/footer2.png) no-repeat -81px -57px;
  background-size: 200px;
  font-size: 18px;
}