body,html,div,p,dd,dl,ul,li,input,textarea{
	margin: 0;
	padding: 0;
}
img{
	border: none;
	vertical-align: middle;
}
a{
	text-decoration: none;
}
button,input,textarea{ 
	-webkit-appearance: none; 
	outline: none;
} 
li{
	list-style: none;
}
html{
	font-size: calc(100vw/3.75);
}
body{
	font-size: 0.14rem;	
	font-family: "microsoft yahei",arial;
}
.main-container{
	width: 100%;
	height: 100%;
	background: #04675b;
	overflow-x: hidden;	
}
.bg01{
	background: #04675b;
}
.bg02{
	background: #9a0006;
}
.rt{
	text-align: right;
}
.ct{
	text-align: center;
}
.lt{
	text-align: left;
}
.mainbtn{
	display: block;
	margin: 0 auto;
	background: linear-gradient(to right,#e0bb6d,#fbfee3);
	box-shadow: 5px 5px 10px rgba(0,0,0,.15);
	color: #c6000c;
	text-align: center;
	font-family:"SimHei"
}
.tit{
	width: 100%;
	padding-top: 0.24rem;
}
.tit img{
	width: 100%;
}
.tit p{
	width: 100%;
	text-align: center;
	font-size: 0.15rem;
	color: #ffdb00;
	margin-top: 0.06rem;
	text-transform: uppercase;
}
.rules{
	padding: 0.22rem 0.24rem;
	font-size: 0.15rem;
	color: #fff;
}
.top-banner{
	width: 100%;
	height: 1.9rem;
	background-color: #0a352c;
	background-image: url(../images/img-top.jpg);
	background-position: left top;
	background-size: cover;
	z-index: 33;
}
/*gift*/
.gift-box{
	background-image: url(../images/img-bg01.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: -0.16rem;
	z-index: 50;
	position: relative;
}
.gift-box .btns-list{
	display: table;
	width: calc(100% - 0.96rem);
	padding: 0.34rem 0.48rem 0 0.48rem;
}
.gift-box .btns-list a{
	color: #fff;
	font-size: 0.13rem;
	display: table-cell
}
.gift-box .btns-list a:nth-child(2){
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
.gift-box .btns-list a .icon{
	display: inline-block;
	width: 0.12rem;
	height: 0.12rem;
	overflow: hidden;
	margin-right: 0.03rem;
	margin-bottom: -0.01rem;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
}
.gift-box .btns-list a .icon01{
	background-image: url(../images/icon-gz.png);
}
.gift-box .btns-list a .icon02{
	background-image: url(../images/icon-fx.png);
}
.gift-box .btns-list a .icon03{
	background-image: url(../images/icon-lw.png);
}
.gift-content{
	position: relative;
	margin-top: 0.175rem;
}
.gift-content .gift-btn{
	position: absolute;
	top: -0.175rem;
	left: 25%;
    margin-left: -0.07rem;
	width: 2rem;
	height: 0.35rem;
	line-height: 0.35rem;
	border-radius: 0.2rem;		
	font-size: 0.19rem;	
	z-index: 333;
}
.gift-content .gift-list{
	margin: 0 0.22rem;
	padding: 0.3rem 0.1rem 0 0.1rem;
	background: linear-gradient(#02463e,#04675b);
	box-shadow: 0 5px 10px rgba(0,0,0,.3);
	border-radius: 0.05rem;
}
.gift-content .gift-list table{
	width: 100%;
}
.gift-content .gift-list table tr td{
	width: 33.33%;
	text-align: center;
}
.gift-content .gift-list table tr td dd img{
	width: 0.6rem;	
}
.gift-content .gift-list table tr td dd:nth-child(2){
	height: 0.3rem;
	font-size: 0.1rem;
	color: #fff;
	margin: 0.06rem 0;
}
.gift-box .gift-times{
	position: absolute;
	top: 0.6rem;
	left: 0.15rem;
	width: 0.75rem;
	height: 0.75rem;
	background-image: url(../images/img-bg04.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100%;
}
.gift-box .gift-times p{
	padding-top: 0.25rem;
    padding-left: 0.1rem;
    color: #fff;
    text-align: center;
    font-size: 0.15rem;
    line-height: 0.18rem;
}
.gift-box .gift-times p span{
	display: block;
}
/*point*/
.point-box{
	background-image: url(../images/img-bg02.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	z-index: 80;
}
.point-box .tit{
	padding-top: 0.29rem;
}
.point-content{
	padding: 0 0.37rem 0.1rem;
}
.point-content .point-part{
	margin-bottom: 0.2rem;
}
.point-content .point-part .point-list::after{
	display: block;
	content: "";
	clear: both;
}
.point-content .point-part .point-list li{
	float: left;
	width: 50%;
	list-style: none;
}
.point-content .point-part .point-list li:last-child{
	text-align: right;
}
.point-content .point-part .point-list li img{
	width: 1.35rem;
}
.point-content .point-part .point-btn{
	margin-top: 0.1rem;
	width: 1.28rem;
	height: 0.26rem;
	line-height: 0.26rem;
	border-radius: 0.13rem;
	font-size: 0.13rem;
}
/*card*/
.card-box{
	background-image: url(../images/img-bg03.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	z-index: 81;
	margin-top: -0.16rem;
}
.card-box .tit{
	padding-top: 0.35rem;
}
.card-box .card-list{
	padding: 0 0.35rem 0.18rem;
}
.card-box .card-list img{
	width: 100%;
}
.card-box .card-btn{
	width: 2rem;
	height: 0.35rem;
	line-height: 0.35rem;
	font-size: 0.19rem;
	border-radius: 0.175rem;
}
/*rules*/
.rules-list{
	padding: 0.1rem 0.24rem;
	font-size: 0.14rem;
	color: #fff;
	line-height: 0.21rem;
}
.rules-list p{
	margin-bottom: 0.05rem;
}
.tips-arrow{
	display: block;
	margin: 0.06rem auto 0.2rem;
	text-align: center;
}
.tips-arrow img{
	width: 0.12rem;
}
/*tanchuang*/
.alert-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 999;
}
.alert-container .alert-content{	
    position: absolute;
    top: 25%;  
    border-radius: 0 0 0.1rem 0.1rem; 
	box-shadow: 0 10px 30px rgba(0,0,0,.25);
}
.alert-container .alert-content h2{
	font-size: 0.15rem;
	width: 100%;
	text-align: center;
	font-weight: normal;
}
.alert-container .rules-content,.alert-container .chances-content,.alert-container .mygift-content{
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	width: 80%;
    left: 5%;
    padding: 5%;
	color: #fff;
}
.alert-container .rules-content{
	background-image: url(../images/img-bg05.png);
}
.alert-container .rules-content .rules-text{
	line-height: 0.28rem;
	font-size: 0.15rem;
    margin-bottom: 0.28rem;
}
.alert-container .chances-content{
	background-image: url(../images/img-bg06.png);
}
.alert-container .chances-content .chances-list{
	width: 100%;
}
.alert-container .chances-content .chances-list::after{
	display: block;
	content: "";
	clear: both;
}
.alert-container .chances-content li{
	float: left;
	width: 30%;
	margin: 0.26rem 1.5% 0.2rem 1.5%;
	text-align: center;
}
.alert-container .chances-content li img{
	display: block;
	width:80%;
	margin: 0 auto;
}
.alert-container .chances-content li span{
	display: block;
	font-size: 0.13rem;
	color: #fff;
	margin-top: 0.06rem;
	line-height: 0.22rem;
}
.alert-container .mygift-content{
	background-image: url(../images/img-bg07.png);
}
.alert-container .mygift-content h2{
    margin-top: 0.7rem;
    margin-bottom: 0.06rem;
}
.alert-container .mygift-content .mygift-list{
	padding: 0 0.1rem;
}
.alert-container .mygift-content .mygift-list li{
	border-bottom: 1px solid rgba(255,255,255,.5);
	font-size: 0.15rem;
	line-height: 0.4rem;
}
.alert-container .mygift-content .mygift-list li:last-child{
	border-bottom: none;
}

@media only screen and (max-width: 320px) {
	.gift-box .btns-list a .icon{
		margin-bottom: 0;
	}
}

