<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telphone=no, email=no"/>
    <title>开学季砸金蛋</title>
    <link rel="stylesheet" href="../../common/css/wenjfbase.css">
    <link rel="stylesheet" href="../../common/css/popover.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="../../libs/lib.flexible3.js"></script>
    <script src="../../libs/jquery-1.11.1.min.js"></script>
    <script src="../../common/js/popover.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <style type="text/css">
        [v-cloak] {
            display: none
        }
    </style>
</head>
<body>
<div class="flex-content" id="active">
    <div class="banner">
        <img src="images/banner.png" alt="">
    </div>
    <div class="section-one">
        <img class="section-title" src="images/section_01.png" alt="">
        <p class="rule-tip">活动期间进行1次任意投资，即可免费参与 砸金蛋！手机、超市卡、红包…应有尽有！</p>
        <img class="my-gifts" v-on:click="giftsShow" src="images/my-gifts.png" alt="">
        <div class="smashing-egg">
            <transition name="fade">
                <div v-if="!isOpen" v-cloak class="open-before">
                    <img v-on:click="goldOpen" class="gold-egg" src="images/gold-egg.png" alt="">
                    <img v-on:click="goldOpen" class="hammer" src="images/hammer.png" alt="">
                </div>
            </transition>
            <transition name="fade">
                <div v-if="isOpen" v-cloak>
                    <img class="open-egg" src="images/open-egg.png" alt="">
                </div>
            </transition>
        </div>
        <div class="share clearfix">
            <a class="lf" href="/deal/deal/index">投资砸金蛋</a>
            <a class="rg" href="/user/invite">分享好友玩</a>
        </div>
    </div>
    <div class="section-two">
        <img class="section-title" src="images/section_02.png" alt="">
        <ul class="clearfix">
            <li class="cumulative" v-cloak>已累计年化：{{totalMoney}}万元</li>
            <li class="lf m-b"><img src="images/gift_01.png" alt=""></li>
            <li class="rg m-b"><img src="images/gift_02.png" alt=""></li>
            <li class="lf"><img src="images/gift_03.png" alt=""></li>
            <li class="rg"><img src="images/gift_04.png" alt=""></li>
        </ul>
    </div>
    <div class="regular">
        <div class="regular-head">
            <a href="">去理财</a>
            <p>活动规则</p>
            <img v-on:click="packUp" v-bind:class="{ rotate: isRotate }" src="images/pointer.png" alt="">
        </div>
        <div class="regular-detail">
            <ol v-cloak v-show="isShow">
                <li>活动时间2017年9月4日-9月8日；</li>
                <li>活动期间完成1次任意投资，获得免费砸金蛋的机会 （最多1次），活动结束后失</li>
                <li>
                    <div>活动期间投资温都金服平台理财产品累计年化金额达到指定额度，即可获得相应礼品（不含转让产品）；</div>
                    <table>
                        <tr>
                            <td>累计年化投资金额</td>
                            <td>礼品</td>
                            <td>对应积分</td>
                        </tr>
                        <tr>
                            <td>60,000元</td>
                            <td>旅行胶囊</td>
                            <td>288积分</td>
                        </tr>
                        <tr>
                            <td>360,000元</td>
                            <td>小米充电宝</td>
                            <td>1580积分</td>
                        </tr>
                        <tr>
                            <td>600,000元</td>
                            <td>小米手环2代</td>
                            <td>2980积分</td>
                        </tr>
                        <tr>
                            <td>1,000,000元</td>
                            <td>骆驼户外登山包</td>
                            <td>5188积分</td>
                        </tr>

                    </table>
                </li>
                <li>本次活动中虚拟礼品会立即发放到您的账户，实物礼品将于7个工作日内联系发放，详询客服电话400-101-5151。</li>
            </ol>
            <div class="tips">
                <p>注：年化投资金额=投资金额*项目期限/365</p>
                <p>本活动最终解释权归温都金服所有</p>
            </div>
        </div>
    </div>

</div>

<div class="btn_01">兑换礼品弹框</div>
<div class="btn_02">登录</div>
<script>
    // 1.兑换礼品弹框（实物）
    $('.btn_01').on('click', function () {
        var module = poptpl.popComponent({
            popBackground: 'url(images/pop_bg.png) no-repeat',
            popBorder: 0,
            closeUrl: "images/pop_close.png",
            btnMsg: "收下礼品",
            popTopColor: "#fff",
            bgSize: "100% 100%",
            title: '<p style="font-size:0.72rem;">恭喜您获得了</p>',
            popBtmBackground: 'url(images/pop_btn_01.png) no-repeat',
            popMiddleHasDiv: true,
            popBtmColor: '#e01021',
            contentMsg: "<img style='margin:0.3rem auto 0.5rem;display: block;width: 4.2666667rem;' src='images/gifts_04.png' alt=''/>",
            popBtmBorderRadius: 0,
            popBtmFontSize: ".50666667rem"
        }, 'close');
    });

    //登录
    $('.btn_02').on('click', function () {
        var module = poptpl.popComponent({
            popBackground: 'url(images/pop_bg_01.png) no-repeat',
            popBorder: 0,
            closeUrl: "images/pop_close.png",
            btnMsg: "马上登录",
            title: '<p style="font-size:0.72rem;margin: 2.8rem 0 2rem;color: #fff;">您还没有登录哦！</p>',
            popBtmBackground: 'url(images/pop_btn_01.png) no-repeat',
            popBtmBorderRadius: 0,
            popBtmColor: '#e01021',
            popBtmFontSize: ".50666667rem",
            btnHref: '/site/login'
        });
    });
    var vm = new Vue({
        el: '#active',
        data: {
            isOpen: false,//砸蛋效果
            totalMoney: '129.919',//年化投资额
            isRotate: true,//规则按钮翻转
            isShow: true,//活动规则显示数据
            isShowGifts: true,//是否显示对应的奖品弹框
            promoStatus:0,//活动状态
            isLoggedin:true,//是否登录
        },
        methods: {
            packUp: function () {
                this.isShow = !this.isShow;
                this.isRotate = !this.isRotate;
            },
            goldOpen: function () {
                if(!this.statusDeal()) return;
                this.isOpen = !this.isOpen;
                //ajax回调
                $.ajax({
                    type:"GET",
                    url:"/promotion/控制器/draw?key=活动key",
                    dataType:"json",
                    success:function(data){
                        if(data.code == 0){
                            poptpl.popComponent({
                                popBackground: 'url(images/pop_bg.png) no-repeat',
                                popBorder: 0,
                                closeUrl: "images/pop_close.png",
                                btnMsg: "收下礼品",
                                popTopColor: "#fff",
                                bgSize: "100% 100%",
                                title: '<p style="font-size:0.72rem;">恭喜您获得了</p><p style="font-size:0.5066667rem;">'+data.ticket.name+'</p>',
                                popBtmBackground: 'url(images/pop_btn_01.png) no-repeat',
                                popMiddleHasDiv: true,
                                popBtmColor: '#e01021',
                                contentMsg: "<img style='margin:0.3rem auto 0.5rem;display: block;width: 4.2666667rem;' src='"+data.ticket.path+"' alt=''/>",
                                popBtmBorderRadius: 0,
                                popBtmFontSize: ".50666667rem"
                            }, 'close');
                        }
                    },
                    error:function(data){
                        this.errorMsg(data.message);
                    }
                })
            },
            giftsShow: function () {
                if(!this.statusDeal()) return;
                //调接口获取对应的数据信息
               $.ajax({
                    type:"GET",
                    url:"/promotion/控制器/award-list?key=活动key",
                    dataType:"json",
                    success:function(data){
                        if(data.length==0){
                            poptpl.popComponent({
                                popBackground: 'url(images/pop_bg_01.png) no-repeat',
                                popBorder: 0,
                                closeUrl: "images/pop_close.png",
                                popBtmHas:false,
                                popTopColor: "#fff",
                                bgSize: "100% 100%",
                                title: '<p style="font-size:0.72rem;">我的奖品</p>',
                                popBtmBackground: 'url(images/pop_btn_01.png) no-repeat',
                                popMiddleHasDiv: true,
                                contentMsg: "<p style='color:#fff;margin-top: 2.5rem'>您还没有获得奖品哦！</p>",
                            }, 'close');
                        } else {
                            poptpl.popComponent({
                                popBackground: 'url(images/pop_bg.png) no-repeat',
                                popBorder: 0,
                                closeUrl: "images/pop_close.png",
                                popBtmHas:false,
                                popTopColor: "#fff",
                                bgSize: "100% 100%",
                                title: '<p style="font-size:0.72rem;">我的奖品</p>',
                                popBtmBackground: 'url(images/pop_btn_01.png) no-repeat',
                                popMiddleHasDiv: true,
                                contentMsg: "<img style='margin:0.3rem auto 0.5rem;display: block;width: 4.2666667rem;' src='"+data[0].path+"' alt=''/><p style='color:#fff;margin-top: 1.5rem'>data[0].name</p>",
                            }, 'close');
                        }
                    }
                })
            },
            statusDeal:function(){
                if(this.promoStatus == 0) {
                    this.errorMsg('活动未开始');
                    return false;
                } else if(this.promoStatus == 2){
                    this.errorMsg('活动已结束');
                    return false;
                }
                if(!this.isLoggedin){
                    poptpl.popComponent({
                        popBackground: 'url(images/pop_bg_01.png) no-repeat',
                        popBorder: 0,
                        closeUrl: "images/pop_close.png",
                        btnMsg: "马上登录",
                        title: '<p style="font-size:0.72rem;margin: 2.8rem 0 2rem;color: #fff;">您还没有登录哦！</p>',
                        popBtmBackground: 'url(images/pop_btn_01.png) no-repeat',
                        popBtmBorderRadius: 0,
                        popBtmColor: '#e01021',
                        popBtmFontSize: ".50666667rem",
                        btnHref: '/site/login'
                    });
                    return false;
                }
                return true;
            },
            errorMsg:function(msg){
                poptpl.popComponent({
                    popBackground: 'url(images/pop_bg_01.png) no-repeat',
                    popBorder: 0,
                    closeUrl: "images/pop_close.png",
                    title: '<p style="font-size:0.72rem;margin: 2.8rem 0 2rem;color: #fff;">'+msg+'</p>',
                    popBtmHas: false,
                });
            }
        }
    });
    Vue.config.devtools = true
</script>
</body>
</html>