img {
  display: block;
}
.flex-content {
  background: url('../images/bg.png') #e9463d top no-repeat;
  background-size: 100% 22.97333333rem;
}
.flex-content .banner {
  width: 100%;
  height: 4.66666667rem;
}
.flex-content .banner img {
  height: 100%;
  margin: 0 auto;
}
.flex-content .section-one {
  padding: 0.68rem 3.46666667% 0.98rem;
  position: relative;
}
.flex-content .section-one .section-title {
  width: 83.95415473%;
  margin: 0 auto;
}
.flex-content .section-one .rule-tip {
  font-size: 0.4rem;
  color: #fff;
  padding: 0 9.31232092%;
  line-height: 0.50666667rem;
  margin-top: 0.4rem;
}
.flex-content .section-one .my-gifts {
  width: 17.33524355%;
  position: absolute;
  top: 3.73333333rem;
  right: 0.34666667rem;
  z-index: 3;
}
.flex-content .section-one .smashing-egg {
  margin: 0.7rem auto 0;
  height: 5.62666667rem;
}
.flex-content .section-one .smashing-egg img.gold-egg {
  width: 46.41833811%;
  margin: 0 auto;
}
.flex-content .section-one .smashing-egg .hammer {
  position: absolute;
  top: 5.5rem;
  left: 30%;
  width: 14%;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-animation: hammer 1s linear infinite;
  animation: hammer 1s linear infinite;
}
.flex-content .section-one .smashing-egg .open-egg {
  width: 86.26666667%;
  position: absolute;
  top: 2.5rem;
  left: 8.5%;
  z-index: 1;
}
.flex-content .section-one .shareAll {
  margin-top: 0.8rem;
}
.flex-content .section-one .shareAll a {
  display: block;
  width: 39.25501433%;
  height: 1.17333333rem;
  -webkit-border-radius: 0.10666667rem;
  -moz-border-radius: 0.10666667rem;
  border-radius: 0.10666667rem;
  background-color: #ffe79d;
  font-size: 0.53333333rem;
  color: #e9473e;
  line-height: 1.17333333rem;
  text-align: center;
  font-weight: 600;
  position: relative;
  z-index: 2;
}
.flex-content .section-one .shareAll a.lf {
  margin-left: 8.05755396%;
}
.flex-content .section-one .shareAll a.rg {
  margin-right: 8.05755396%;
}
.flex-content .section-two {
  padding: 0 3.46666667%;
  position: relative;
}
.flex-content .section-two img.section-title {
  width: 100%;
  margin: 0 auto;
}
.flex-content .section-two ul.clearfix {
  position: absolute;
  top: 2.53333333rem;
  left: 7.73333333%;
  width: 84.66666667%;
}
.flex-content .section-two ul.clearfix li {
  width: 48.97637795%;
}
.flex-content .section-two ul.clearfix li img {
  width: 100%;
}
.flex-content .section-two ul.clearfix .cumulative {
  width: 100%;
  font-size: 0.37333333rem;
  color: #fff;
  line-height: 0.74666667rem;
}
.flex-content .regular {
  overflow: hidden;
}
.flex-content .regular .regular-head {
  overflow: hidden;
  background: url("../images/regular.png") top no-repeat;
  background-size: 100% 3.77333333rem;
  height: 3.77333333rem;
}
.flex-content .regular .regular-head a {
  display: block;
  width: 39.25501433%;
  height: 1.17333333rem;
  -webkit-border-radius: 0.10666667rem;
  -moz-border-radius: 0.10666667rem;
  border-radius: 0.10666667rem;
  background-color: #ffe79d;
  font-size: 0.53333333rem;
  line-height: 1.17333333rem;
  text-align: center;
  font-weight: 600;
  color: #e9473e;
  margin: 0.58666667rem auto 0.45333333rem;
}
.flex-content .regular .regular-head p {
  font-size: 0.4rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 1;
}
.flex-content .regular .regular-head img {
  width: 0.90666667rem;
  margin: 0.26666667rem auto 0;
}
.flex-content .regular .regular-detail {
  background-color: #f6d678;
  padding: 0.2rem 3.46666667% 0;
}
.flex-content .regular .regular-detail ol {
  padding-left: 4%;
}
.flex-content .regular .regular-detail ol li {
  font-size: 0.37333333rem;
  line-height: 0.53333333rem;
  color: #c0660e;
  list-style: decimal;.
}
.flex-content .regular .regular-detail ol li table {
  font-size: 0.32rem;
  width: 104%;
  margin-left: -4%;
  border-collapse: collapse;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.flex-content .regular .regular-detail ol li table tr {
  line-height: 0.8rem;
}
.flex-content .regular .regular-detail ol li table tr td {
  border: 1px solid #fff;
  text-align: center;
}
.flex-content .regular .regular-detail .tips p:first-child {
  color: #e9463d;
  font-size: 0.32rem;
  line-height: 0.66666667rem;
  margin-top: 0.13333333rem;
}
.flex-content .regular .regular-detail .tips p:last-child {
  color: #fff;
  font-size: 0.32rem;
  text-align: center;
  line-height: 0.88rem;
}
.pop {
  width: 92%;
  max-width: 9.2rem;
  height: 9.8rem;
}
.popBtm {
  width: 72.53333333%;
  height: 1.32rem;
  line-height: 1.2rem;
  font-size: .50666667rem;
  position:absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.m-b {
  margin-bottom: 0.13333333rem;
}
@-webkit-keyframes hammer {
  0% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
  }
}
@keyframes hammer {
  0% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
  }
}
.rotate {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
