.flex-content {
  position: relative;
}
.flex-content .part-one {
  height: 14.466rem;
  background: url("../images/bg_part_one.png") no-repeat;
  background-size: 100%;
}
.flex-content .part-two {
  position: relative;
  height: 9.49333333rem;
  background: url("../images/bg_part_two.png") no-repeat;
  background-size: 100%;
}
.flex-content .part-two .my-reward {
  position: absolute;
  right: 0;
  top: 3rem;
  width: 2.13333333rem;
  height: 1.06666667rem;
  background: url("../images/pic_myaward.png") no-repeat;
  background-size: 100%;
  z-index: 5;
}
.flex-content .part-two .before-egg .golden-egg {
  position: absolute;
  left: 50%;
  bottom: 1.8rem;
  width: 2.98666667rem;
  height: 4.10666667rem;
  margin-left: -1.49333333rem;
}
.flex-content .part-two .before-egg .hammer {
  position: absolute;
  top: 3.5rem;
  left: 30%;
  width: 14%;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-animation: hammer 1s linear infinite;
  animation: hammer 1s linear infinite;
}
.flex-content .part-two .opened-egg img {
  position: absolute;
  left: 52%;
  bottom: -8%;
  width: 6.6266rem;
  height: 9.12rem;
  margin-left: -3.3133rem;
}
.flex-content .part-two .go-invest {
  position: absolute;
  bottom: 0.36rem;
  left: 50%;
  width: 5.06666667rem;
  height: 1.13333333rem;
  margin-left: -2.53333333rem;
}
.flex-content .part-four {
  position: relative;
  height: 13.16rem;
  background: url("../images/bg_part_four.png") no-repeat;
  background-size: 100%;
}
.flex-content .part-four .go-invest {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  width: 5.06666667rem;
  height: 1.13333333rem;
  margin-left: -2.53333333rem;
}
.pop-goinvest {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  width: 65.6%;
  height: 4.24rem;
  padding-top: 1.16rem;
  background-color: #fff;
  border-radius: 0.21333333rem;
  box-sizing: border-box;
  z-index: 100001;
}
.pop-goinvest .pop-goinvest-txt {
  line-height: 0.57333333rem;
  font-size: 0.4rem;
  color: #999;
  text-align: center;
}
.pop-goinvest .pop-goinvest-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.13333333rem;
  line-height: 1.13333333rem;
  border-top: 1px solid #ddd;
  color: #f44336;
  font-size: 0.42666667rem;
  text-align: center;
}
.pop-goinvest .pop-goinvest-close {
  position: absolute;
  right: 0;
  top: -1.5rem;
  width: 0.8rem;
  height: 0.8rem;
}
.pop-rewardList {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  width: 90.93%;
  padding-top: 0.90666667rem;
  padding-bottom: 1.09333333rem;
  border: 2px solid #ffb64d;
  background: url("../images/bg_pop_list.png") top center no-repeat, #fff;
  background-size: contain;
  border-radius: 0.21333333rem;
  z-index: 100001;
}
.pop-rewardList .pop-rewardList-title {
  height: 0.74666667rem;
  line-height: 0.74666667rem;
  margin-bottom: 0.65333333rem;
  font-size: 0.74666667rem;
  color: #a77302;
  text-align: center;
}
.pop-rewardList .pop-rewardList-close {
  position: fixed;
  right: 0;
  top: -1.5rem;
  width: 0.8rem;
  height: 0.8rem;
}
.pop-rewardList .pop-rewardList-list {
  padding: 0 0.58666667rem;
}
.pop-rewardList .pop-rewardList-list li {
  height: 2.96rem;
  border-bottom: 1px dashed #ffe9a2;
}
.pop-rewardList .pop-rewardList-list li .lf {
  width: 44.7%;
  height: 100%;
}
.pop-rewardList .pop-rewardList-list li .rg {
  width: 55%;
  padding-top: 1rem;
}
.pop-rewardList .pop-rewardList-list li .rg .gift-name {
  height: 0.45333333rem;
  line-height: 0.45333333rem;
  font-size: 0.45333333rem;
  color: #333;
  margin-bottom: 0.28rem;
}
.pop-rewardList .pop-rewardList-list li .rg .gift-date {
  height: 0.34666667rem;
  line-height: 0.34666667rem;
  font-size: 0.34666667rem;
  color: #999;
}
@-webkit-keyframes hammer {
  0% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
  }
}
@keyframes hammer {
  0% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
  }
}
.mask1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 100000;
}
