.advantage-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    width: 798px;
}
.advantage-box .advantage-header {
    border-bottom: 1px solid #efeff3;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}
.advantage-box .advantage-header .advantage-header-font {
    color: #464648;
    font-size: 16px;
}
.advantage-box .advantage-content {
    color: #6e6e72;
    padding: 20px;
    overflow: hidden;
}
.advantage-box .advantage-content p {
    color: #6e6e72;
    margin-bottom: 15px;
    text-indent: 30px;
}
.advantage-box .advantage-content .number {
    background: url("../../images/help/red-circle.png") no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    padding-left: 1px;
    margin-right: 5px;
}
.advantage-box .advantage-content .section span {
    font-size: 16px;
}
.advantage-box .advantage-content .focus {
    color: #f44336;
}
.advantage-box .advantage-content .section p {
    margin-top: 15px;
}
