.contact-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    width: 798px;
}
.contact-box .contact-header {
    border-bottom: 1px solid #efeff3;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}
.contact-box .contact-header .contact-header-font {
    color: #464648;
    font-size: 16px;
}
.contact-box .contact-content {
    color: #6e6e72;
    padding: 20px;
    overflow: hidden;
}
.contact-box .contact-content p {
    color: #6e6e72;
    margin-bottom: 15px;
    margin-left: 46px;
}
.contact-box .contact-content .location img {
    margin-left: 46px;
    margin-bottom: 20px;
}