@q:75rem;
.m-width{
  width:670/@q;
  margin:0 auto;
}
.contain{
  background-color: #fff;
  h3{
    height: 131/@q;
    line-height:131/@q;
    font-size:36/@q;
    color:#000;
  }
  .step1,.step2,.step3,.step4{
    padding-bottom:42/@q;
    h5{
      height: 46/@q;
      line-height:46/@q;
      font-size:36/@q;
      color:#000;
    }
    p{
      height: 46/@q;
      line-height:46/@q;
      font-size:36/@q;
      color:#000;
      span{
        color: #F8605A;
      }
    }
    div{
      img{
        width: 10rem;
        height:590/@q;
      }
    }
  }
  .step4{
    padding-bottom:42/@q;
  }
  .step4 div img.last-step-image{
    height:654/@q;
  }
  .footer{
    height: 120/@q;
    line-height:120/@q;
    font-size:22/@q;
    color: #CBCBCB;
    text-align: center;
  }
}