.point_rule {
  position: relative;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  width: 800px;
  color: #464646;
  padding-bottom: 40px;
}
.point_rule .zhushi {
  font-size: 12px;
  color: #999;
  position: absolute;
  bottom: 19px;
  right: 30px;
}
.point_rule .rule_title {
  height: 37px;
  line-height: 37px;
  font-size: 17px;
  padding-left: 15px;
  border-bottom: 1px solid #e3e3e3;
}
.point_rule .rule_content {
  padding: 15px;
}
.point_rule .rule_content .content_top {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 27px;
}
.point_rule .rule_content .item_box .box_title {
  font-size: 15px;
  height: 15px;
  line-height: 15px;
}
.point_rule .rule_content .item_box .box_title img {
  /*width: 18px;*/
  margin-right: 10px;
  position: relative;
  bottom: -2px;
}
.point_rule .rule_content .item_box .box_content {
  margin: 10px 0 25px 0;
}
.point_rule .rule_content .item_box .box_content li {
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  margin-left: 30px;
}
.point_rule .rule_content .item_box .box_content li a {
  text-decoration: underline;
  color: #0080ff;
}
