body,p,ul,ol,li,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,input{
    margin:0;
    padding:0;
    list-style:none;
}
img,input,textarea{
    border:0;
}
input{
    outline:none;
}
a{
    text-decoration:none;
    color:#8c8c8c;
}
body{
    font:14px/1.5 "Microsoft YaHei";
    color:#8c8c8c;
    background:#e7eaf1;
}
.position {
    position: relative;
    top:0;
}
.container{
    padding: 0;
}
.row{
    margin: 0;
}
.lf {
    float: left;
}
.rg {
    float: right;
}
.text-align-lf {
    text-align:left;
}
.text-align-rg {
    text-align:right;
}
.text-align-ct {
    text-align:center;
}
/* 1px 底边框 */
.border-bottom {
    border-bottom: 1px solid #d9dce4;
}
.margin-top,.margin-bottom{
    margin-top:10px;
}
/* 标题高度 */
.nav-height {
    margin-bottom:10px;
    height: 50px;
    line-height: 50px;
    background: #f44336;
}
.nav-height img {
    height:30px!important;
}
/* 1.行共用的高度  */
.bg-height {
    height: 80px;
    line-height: 80px;
}
/*  2.行共用的高度  */
.sm-height {
    height: 52px;
    line-height: 50px;
}
/*  箭头 arrow */

/*  错误弹出框   */
.error-info {
    position: absolute;
    top:40%;
    left:33.3%;
    z-index: 99;
    width:33.3%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    background: #4c4c4c;
    opacity: 0.9;
    filter: alpha(opacity:90);
    border-radius: 10px;
    display: none;
}
/*  确认弹出框   */


/* 按钮 距离顶部距离 */
.login-sign-btn {
    margin-top: 50px;
}
/* 按钮 */
.btn-common {
    marging-top:20px;
    width:100%;
    line-height:35px;
    font-size:18px;
    text-align: center;
    border-radius: 18px;
}
.btn-normal {
    color: #f44336;
    background:#e7eaf1 ;
    border: 1px solid #f44336;
}
.btn-press {
    color: #fff;
    background:#f44336 ;
    border: 1px solid #f44336;
}
.btn-disabled {
    color:#fabab5;
    background:#e7eaf1 ;
    border:1px solid #fabab5;
}
/* 验证码 */
.yzm {
    position:absolute ;
    top:8px;
    right:20px;
    width:20%;
    height:26px;
    line-height:23px;
    font-size: 12px;
    border-radius: 16px;
}
.yzm-normal {
    color: #fff;
    background:#f44336 ;
    border: 1px solid #f44336;
}
.yzm-press {
    color: #fff;
    background:#d32f2f ;
    border: 1px solid #d32f2f;
}
.yzm-disabled {
    color:#fabab5;
    background:#fff ;
    border:1px solid #fabab5;
}
/* header */
.back{
    background: #f44336;
    text-align: center;
}
.back img{
    height: 50px;
    cursor: pointer;
}
.title {
    background: #f44336;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.title-box .signup {
    color:#fff;
    font-size: 16px;
    line-height: 40px;
}
/*暂无数据*/
.nodata {
    position: absolute;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    display: none;
}
body,p,ul,ol,li,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,input{
    margin:0;
    padding:0;
    list-style:none;
}
img,input,textarea{
    border:0;
}
input{
    outline:none;
}
a{
    text-decoration:none;
    color:#007aff;
}
body{
    font:14px/1.5 "Microsoft YaHei";
    color:#8c8c8c;
    background:#e7eaf1;
}
.position {
    position: relative;
    top:0;
}
.container{
    padding: 0;
}
.row{
    margin: 0;
}
.lf {
    float: left;
}
.rg {
    float: right;
}
.text-align-lf {
    text-align:left;
}
.text-align-rg {
    text-align:right;
}
.text-align-ct {
    text-align:center;
}
/*  缃  */
.mask {
    position: absolute;
    top: 0;
    width:100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter:alpha(opacity:60);
    z-index: 10;
    display: none;
}
/* 1px 搴杈规? */
.border-bottom {
    border-bottom: 1px solid #d9dce4;
}
.margin-top,.margin-bottom{
    margin-top:10px;
}
/* 棰楂搴 */
.nav-height {
    margin-bottom:10px;
    height: 50px;
    line-height: 50px;
    background: #f44336;
}
.nav-height img {
    height:30px!important;
}
/* 1.琛辩ㄧ楂搴  */
.bg-height {
    height: 80px;
    line-height: 80px;
}
/*  2.琛辩ㄧ楂搴  */
.sm-height {
    height: 52px;
    line-height: 50px;
}
/*  绠澶 arrow */

/*  寮瑰烘?   */
.succeed-info {
    position: absolute;
    top:40%;
    left:30%;
    z-index: 99;
    width:40%;
    height:110px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background: #4c4c4c;
    opacity: 0.9;
    filter: alpha(opacity:90);
    border-radius: 10px;
    z-index: 20;
    display: none;
}
.succeed-info img {
    margin-top: 15px;
    margin-bottom: 15px;
    height:40px;
}
.succeed-info div {
    line-height:20px;
}
/*  璇寮瑰烘?   */
.error-info {
    position: absolute;
    top:40%;
    left:30%;
    z-index: 99;
    width:40%;
    height: 96px;
    line-height: 96px;
    text-align: center;
    color: #fff;
    background: #4c4c4c;
    opacity: 0.9;
    filter: alpha(opacity:90);
    border-radius: 10px;
    z-index: 20;
    display: none;
}
/*  纭璁ゅ脊烘?   */


/*  璺绂婚《ㄨ绂 */
.login-sign-btn {
    margin-top: 50px;
}
/*  */
.btn-common {
    marging-top:20px;
    width:100%;
    line-height:35px;
    font-size:18px;
    text-align: center;
    border-radius: 18px;
}
.btn-normal {
    color: #f44336;
    background:#e7eaf1 ;
    border: 1px solid #f44336;
}
.btn-press {
    color: #fff;
    background:#f44336 ;
    border: 1px solid #f44336;
}
.btn-disabled {
    color:#fabab5;
    background:#e7eaf1 ;
    border:1px solid #fabab5;
}
/* 楠璇? */
.yzm {
    position:absolute ;
    top:8px;
    right:20px;
    width:20%;
    height:26px;
    line-height:23px;
    font-size: 12px;
    border-radius: 16px;
}
.yzm-normal {
    color: #fff;
    background:#f44336 ;
    border: 1px solid #f44336;
}
.yzm-press {
    color: #fff;
    background:#d32f2f ;
    border: 1px solid #d32f2f;
}
.yzm-disabled {
    color:#fabab5;
    background:#fff ;
    border:1px solid #fabab5;
}
/* header */
.back{
    background: #f44336;
    text-align: center;
}
.back img{
    height: 50px;
    cursor: pointer;
}
.title {
    background: #f44336;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.title-box .signup {
    color:#fff;
    font-size: 16px;
    line-height: 40px;
}
/*版*/
.nodata {
    position: absolute;
    left: 0;
    right: 0;
    top:40%;
    z-index: 0;
    text-align: center;
    display: none;
}
.bing-info {
    position: absolute;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 40%;
    z-index: 20;
    width:70%;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    color: #6c6c6c;
    opacity: 0.95;
    filter: alpha(opacity:95);
    display: none;
}
.bing-tishi {
    margin-top: 10px;
}
.bing-info p {
    margin: 10px auto;
    width: 70%;
    font-size: 12px;
}
.tishi-p {
    font-size: 12px;
    line-height: 34px;
}
.bind-btn {
    border-top: 1px solid #a0a0a0;
}
.bind-btn span {
    float: left;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.bind-btn span.true {
    width: 100%;
    font-size: 15px;
    line-height: 28px;
    color:#007aff;
}
#signup-btn {
    cursor: pointer;
}
