.new-box {
    padding:0 5px 0;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background: #fff;
}

.padding-5 {
    padding-left: 2px;
    padding-right: 2px;
}

.new-head {
    margin-left: 5px;
    height: 48px;
    background: #fff;
}
.bot-line {
    border-bottom: 1px solid #e4e4e4;
}
.new-head-title {
    padding: 9px 0 13px 0;
    color: #ea5514;
    font-size: 18px;
}
.arrow-rg {
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid #ea5514;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.new-head-tit {
    float: left;
}

.new-head-txt {
    margin-left: 5px;
    color: #9fa0a0;
    font-size: 12px;
}

.more {
    float: right;
    padding-left: 0;
    padding-right: 0;
}
.news-more {
    padding-right: 5px;
}
.more a {
    padding-top: 12px;
    text-align: right;
    color: #9fa0a0;
    font-size: 14px;
    display: block;
}

.more a:hover {
    text-decoration: none;
}

ul.new-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background: #fff;
}

ul.new-bottom li {
}

ul.new-bottom li div {
    margin: 0 auto;
    height: 100%;
}

.xian {
    position: relative;
    padding-top: 14px;
    padding-bottom: 20px;
    border-right: 1px solid #c9caca;
    color: #fe9a00;
}
.xian .interest-rate {
    font-size: 34px;
    height: 44px;
    line-height: 44px;
}
.xian1 {
    position: relative;
    padding-top: 14px;
    padding-bottom: 28px;
    padding-left: 10px;
    height:84px!important;
    border-right: 1px solid #c9caca;
    color: #fe9a00;
}
.xian1 .newcomer-badge {
    width:38%;
    max-height:104px;
    position: absolute;
    top: -16px;
    left: -10px;
}
.xian1 .newcomer-badge img {
    max-height:104px;
}
.xian1 .interest-rate {
    float: left;
    display: inline-block;
    width:55%;
    height:42px;
    line-height: 42px;
    text-align: right;
    font-size: 26px;
}

.xian1 .interest-rate-add {
    margin-top: 3px;
    float: left;
    display: inline-block;
    width:45%;
    height:36px;
    line-height: 36px;
    text-align: left;
    color:#f44336;
    font-size: 16px;
}

.xian .bonus-rate {
    font-size: 20px;
    color: #ea5514;
}

.xian1 .percentage-txt,.xian .percentage-txt {
    padding: 0;
    margin:0;
    font-size: 12px;
    text-align: center;
    height:16px;
    color:#9fa0a0;
}

.new-bottom-rg p {
    padding-top: 10px;
    font-size: 12px;
}

.tishi {
    color: #9fa0a0;
}

a.zhuangtai {
    margin: 10px 8px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 16px;
    display: block;
}

a.zhuangtai:hover {
    text-decoration: none;
}

a.manbiao {
    color: #fff;
    background: #fe9b00;
}

a.a-progress-bg {
    height: 34px;
    display: block;
    background: #fe9a00;
}

a.a-progress {
    display: block;
    margin-left: -16px;
    position: absolute;
    top: 29px;
    left: 50%;
    text-align: center;
    color: #f54437;
}

a.huanqing, .liubiao, .huankuan {
    color: #fff;
    background: #adadad;
}

a.weikaibiao {
    color: #fe9b00;
    border: 1px solid #fe9b00;
}

.licai-box {
    margin-bottom: 15px;
    padding-bottom: 16px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    height: auto;
    background: #fff;
}

.licai-head {
    margin-left: 10px;
    border: 0;
    padding-left: 1px;
    height: 48px;
    background: #fff;
}

.licai-bottom {
}

.licai-bottom div a {
    width: 100%;
    display: block;
}

.licai-bottom div a img {
    width: 94%;
    border: 3px solid #c9caca;
}
/* 鑲℃潈鎶曡祫 */
.color1 {
    color: #3e3a39;
}

.color2 {
    color: #727171;
}

.title-div {
    height: 48px;
    line-height: 42px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

a.a1 {
    float: left;
    margin-top: 4px;
    margin-right: 1px;
    width: 3px;
    height: 13px;
    display: inline-block;
}

.img-jijin {
    margin: 0 auto 10px;
    padding-left: 3px;
    padding-right: 3px;
}

img {
    border: 0
}

.bg1 {
    background: #d3a284;
}

.bg2 {
    background: #54567a;
}

.bg3 {
    background: #58727f;
}

.bg4 {
    background: #83afa6;
}

.bg5 {
    background: #f7958e;
}

.p1 {
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 20px;
}

.p1 p {
    margin-left: 6px;
}

.div1 {
    margin: 10px 0 0;
    padding: 0;
    width: 100%;
    height: 15px;
    background: #e7eaf0;
}

.yuyue {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 20px;
    text-align: center;
    background: #f7958e;
    color: #fff;
}
.margin-add {
    margin-left: 12px;
    margin-right: 12px;
}
.padding-clear {
    padding-left: 2px;
    padding-right: 2px;
}

.line-box {
    width:100%;
    height:10px;
    border-bottom:1px solid #e6e7e7;
}

/* 新添加修改 */

.head-title {
    height: 50px;
    line-height: 50px;
    background: #f44336 none repeat scroll 0 0;
    color: #fff;
    font-size: 13px;
}
.head-title .col-xs-8 {
    padding: 0;
    margin:0;
    position: relative;
}
.logo {
    float: left;
    padding: 0 0 0 4px;
    width:30%;
    height: 100%;
    line-height: 50px;
}
.logo img {
    margin: 0;
    width:100%;
    border:none;
}

.logo_tit {
    float: left;
    padding-left: 2%;
    width:68%;
    text-align: left;
    position: absolute;
    top:0;
    left:30%;
}

.btn {
    width: 100%;
    margin: .6rem 0;
    padding: 0;
}
.btn .col-xs-6{
    padding: 0;
    margin: 0;
}
a.a-btn {
    padding: 0;
    margin: 0 15px;
    width:70%;
    min-width: 110px;
    height:34px;
    line-height:34px;
    font-size: 1.5rem;
    text-align:center;
    border:1px solid #f44336;
    display: inline-block;
}
.signup {
    color:#fff;
    background: #f44336;
    float:right;
}
.login {
    color:#f44336;
    background: #fff;
    float:left;
}
.notice-box {
    padding:0;
    margin-bottom: 12px;
}
.notice-bottom {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #e6e7e7;
    background: #fff;
}

.notice {
    font-size: 0.9rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 18px;
    border-bottom: 1px solid #e6e7e7;
}
.border-top {
    border-top:none;
}
.border-bot {
    border-bottom:none;
}
.notice span {
    color:#444;
}

.news-tra {
    margin-left: 12px;
}
.nav-box {
    margin:0 auto 35px;
    width:100%;
    color:#595757;
    border-top:1px solid #e6e7e7;
    border-bottom:1px solid #e6e7e7;
    background: #fff;
    height:72px;
}
.nav-box p {
    clear: both;
    height:18px;
    line-height:18px;
    text-align: center;
    font-size: 1.2rem;
    color:#595757;
}
.nav-box p span {
    color:#898989;
}
nav {
    margin:10px auto 15px;
    padding-bottom: 15px;
    width:24rem;
}
nav li {
    float: left;
    padding:0 8px;
    color:#595757;
    font-size: 1.2rem;
    border-left:1px solid #e6e7e7;
}
nav li.first {
    border: none;
}
@media (min-width:768px) {
    nav {
        width:50rem;
    }
    nav li {
        padding:3px 36px;
        font-size: 1.3rem;
    }
    .nav-box p {
        font-size: 1.3rem;
    }
}
@media (min-width:490px) and (max-width: 640px) {
    .logo img {
        margin: 0;
        width:72%;
        border:none;
    }
    .logo_tit {
        width:48%;
        position: absolute;
        top:0;
        left:22%;
    }
}
@media (min-width:641px) and (max-width: 768px) {
    .logo img {
        width:60%;
        border:none;
    }
    .logo_tit {
        width:48%;
        position: absolute;
        top:0;
        left:18%;
    }
}
@media (min-width:769px)  {
    .logo img {
        width:36%;
        border:none;
    }
    .logo_tit {
        width:48%;
        position: absolute;
        top:0;
        left:17%;
    }
}