.tixian {
    margin-top: 10px;
    height:36px;
    line-height: 36px;
    overflow: hidden;
}
.tixian div {
    padding: 0;
    padding-left: 15px;
    text-align: left;
}
a:hover{
    text-decoration: none;
}