* {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
}
img {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
a {
    cursor: default!important;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
a:hover {
    text-decoration: none;
    color: #8c8c8c;
}
i,em {
    font-style: normal;
}
body {
    background: #f6f6f6;
    font-size: 0!important;
    padding-bottom: 50px;
}
.clearfix:after{
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
    height:0;
}
@media screen and (max-width: 300px) {
    html {
        font-size: 30px!important;
    }
    body{
        width:300px;
    }
}
@media screen and (min-width: 1170px) {
    body{
        width:1170px;
        margin: 0 auto;
    }
    .footer {
        width:1170px!important;
    }
    .recommend-all {
        width: 900px!important;
    }
}
/*banner*/
.container{
    padding: 0;
}
.row{
    margin: 0 auto;
}
.swiper-container {
    padding: 0;
    width: 100%;
    overflow: hidden;
}
.swiper-container .col-xs-12 {
    padding: 0;
}
.swiper-slide {
    width: 100%;
}
.swiper-slide img {
    width: 100%;
}
.swiper-pagination-bullet {
    width: 0.93rem;
    height: 0.1rem;
    -webkit-border-radius:0.1rem;
    -moz-border-radius:0.1rem;
    border-radius:0.1rem;
    background:#333;
    opacity: 0.6;
}
.swiper-pagination-bullet-active {
    background:#fff!important;
}
.swiper-container-horizontal>.swiper-pagination{
    bottom:0.3rem;
}
/* 公告开始 */
.index-recommend , .index-notice {
    margin-top: 0.27rem;
    background: #fff;
}
.index-notice-top {
    border-bottom: 1px solid #eee;
    height: 0.63rem;
    padding:0.2rem 0.55rem 0 0.55rem;
}
.index-notice-left {
    margin-top: -0.05rem;
}
.index-notice-left img {
    width: 0.52rem;
    vertical-align: middle;
    margin-right: 0.19rem;
}
.index-notices {
    font-size: 0.35rem;
    color: #777;
    height:0.5rem;
    overflow: hidden;
}
.index-notices a{
    display: block;
    width:6.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.index-notice-right img {
    width: 0.16rem;
}
.index-notice-right a{
    font-size: 0.3rem;
    padding:0.1rem 0 0.1rem 0.1rem;
}
.index-notice-bottom {
    padding:0 0.55rem;
    height: 2.6rem;
}
.index-notice-bottom-bg {
    background: url("../images/index/bg.png");
    background-size: contain;
    height: 100%;
}
.index-notice-bottom-bg a{
    color: #555;
}
.index-notice-bottom-bg li{
    width: 49%;
    text-align: center;
    margin-top: 0.4rem;
    font-size: 0.4rem;
    color: #555;
}
.index-notice-bottom-bg li img {
    width: 1.2rem;
}
.index-notice-bottom-bg li:first-child{
    border-right: 1px solid #eee;
}
/*精品推荐*/
.index-recommend-top {
    border-bottom: 1px solid #eee;
    height: 0.73rem;
    padding:0.27rem 0.55rem 0 0.55rem;
}
.index-recommend-left img {
    width: 0.48rem;
    vertical-align: middle;
    margin-right: 0.16rem;
}
.index-recommend-left p {
    font-size: 0.37rem;
    color: #666;
    width:7rem;
}
.index-recommend-right img {
    width: 0.16rem;
}
.index-recommend-right a{
    font-size: 0.32rem;
    color: #666;
    padding: 0.1rem 0 0.1rem 0.1rem;
}
.index-recommend-bottom {
    height: 3.19rem;
    padding:0.3rem 0.55rem 0.1rem 0.55rem;
}
.index-recommend-bottom h2{
    width:8.9rem;
    margin-top: -0.05rem;
    display: block;
    width:100%;
    font-size: 0.4rem;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.index-recommend-bottom ul{
    height:1.6rem;
    padding-top:0.4rem;
}
.index-recommend-bottom ul li:first-child{
    width:42.7%;
    height:100%;
}
.index-recommend-bottom ul li:nth-of-type(2) {
    width:32.7%;
    height:100%;
}
.index-recommend-bottom ul li:last-child {
    width:24.6%;
    height:100%;
}
.index-recommend-bottom ul li span{
    font-size:0.48rem;
    color: #e34b3d;
}
.index-recommend-bottom ul li em{
    font-size:0.32rem;
    color: #e34b3d;
}
.index-recommend-bottom ul li p{
    font-size:0.32rem;
    color: #aaa;
}
.index-recommend-bottom ul li:last-child span{
    color: #666;
}
.index-recommend-bottom ul li:last-child em{
    color: #666;
}
.index-recommend-crea{
    position: relative;
    top: -0.32rem;
}
.recommend-all {
    position: absolute;
    display: block;
    height: 0.04rem;
    background: #f6f6f6;
    width: 8rem;
}
.recommend-pro {
    position: absolute;
    display: block;
    height: 0.04rem;
    background: #e34b3d;
}
.recommend-progress em{
    font-size: 0.29rem;
    color: #e34b3d;
    position: relative;
    top: -0.2rem;
}
.index-recommend-notice {
    height: 0.72rem;
    font-size: 0.32rem;
    color: #888;
    padding-top:0.19rem;
}
.index-recommend-notice img {
    vertical-align: middle;
    width: 0.05rem;
}

/*股东背景*/
.shareholder {
    margin-top: 0.27rem;
    background: #fff;
    height: 2.41rem;
    padding-top:0.4rem;
    text-align: center;
}
.shareholder h2 {
    font-size: 0.4rem;
    color: #333;

}
.shareholder-m {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.shareholder-m img {
    vertical-align: middle;
    margin:0 0.13rem;
    width:0.31rem;
}
.shareholder-m span{
    display: inline-block;
    width: 3.67rem;
    height: 0.03rem;
    background: #d6c08a;
}
.shareholder-b .lf{
    width: 3.79rem;
    margin-left: 0.9rem;
}
.shareholder-b .rg{
    width: 3.52rem;
    margin-right: 1rem;
}
/*bottom*/
.index-bottom {
    height: 1.52rem;
    padding:0.4rem 0;
    background: #eee;
    overflow: hidden;
}
.index-bottom .swiper-container1 {
    height:100%;
}
.index-bottom .swiper-slide {
    height:100%;
    width: 3.96rem;
    background: #f8f8f8;
}
.index-bottom dl {
    height:100%;
}
.index-bottom img {
    width: 0.69rem;
    margin: 0.4rem 0.15rem 0 0.4rem;

}
.index-bottom p {
    font-size: 0.37rem;
    margin-top: 0.21rem;
    color: #f27277;
}
.index-bottom span {
    display: block;
    font-size: 0.29rem;
    margin-top: 0.1rem;
}
.footer a {
    cursor: default!important;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.footer-inner , .footer-inner1 , .footer-inner2 {
    font-size: 14px;
}
.footer .footer-title {
    padding-left: 0;
    padding-right: 0;
}
/*登录注册新添加*/
.index-notice-middle {
    height: 1.04rem;
    background: #f6f6f6;
    padding:0.4rem 0.8rem;
}
.index-notice-middle a {
    display: block;
    height: 1rem;
    width: 3.7rem;
    text-align: center;
    line-height: 1rem;
    border: 1px solid #ff6155;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ff6155;
    font-size: 0.4rem;
    outline: none;
}
.index-notice-login {
    font-size:0.4rem;
    color: #fff;
}
a.index-notice-login:hover {
    color: #fff;
}
a.index-notice-login:visited {
    color: #fff;
}
a.index-notice-login:link {
    color: #fff;
}
.index-notice-middle .index-notice-register {
    background: transparent;
    color: #ff6155;
}
.more-msg {
    display: block;
    height:0.96rem;
    font-size: 0.32rem;
    color: #f27277;
    text-align: center;
    line-height: 0.96rem;
    border-top: 1px solid #eee;
}
.more-msg img {
    width:0.33rem;
    vertical-align: middle;
    margin-top: -0.1rem;
}
a.more-msg:hover {
    color: #f27277;
}