.flex-content {
  background: #ff6970;
}
.flex-content .banner {
  display: block;
  width: 100%;
  height: auto;
}
.flex-content .rule-title {
  margin: 0.85333333rem 0 0;
  width: 100%;
  height: 0.89333333rem;
  background: url("../images/rule-txt.png") no-repeat 0 0;
  background-size: cover;
}
.flex-content .rule {
  width: 100%;
  height: auto;
  background: url("../images/border-bg.png") no-repeat 0 0;
  background-size: 100% 100%;
}
.flex-content .rule span {
  display: inline-block;
  margin-top: 0.24rem;
  padding-left: 0.85333333rem;
  line-height: 0.8rem;
  font-size: 0.4rem;
  color: #ffe26f;
}
.flex-content .rule p {
  padding: 0.16rem 0 0 0.85333333rem;
  width: 91.466667%;
  line-height: 0.48rem;
  font-size: 0.37333333rem;
  color: #fff;
}
.flex-content .rule p i {
  font-style: normal;
  color: #ffe26f;
}
.flex-content .rule .txt {
  padding: .1rem 0 .7rem  0.85333333rem;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
}
.flex-content .rule h4 {
  margin-top: 0.28rem;
  padding: 0 0 0 0.85333333rem;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  font-size: 0.48rem;
  color: #fff;
}
.flex-content .rule h4 i {
  font-style: normal;
  font-size: 0.34666667rem;
}
.flex-content .btn-invest {
  display: block;
  margin: 0.626667rem auto 0.85333333rem;
  width: 46.66666667%;
  height: 1.04rem;
  background: url("../images/invest-btn.png?v=0.1") no-repeat center center;
  background-size: cover;
  cursor: pointer;
}
.flex-content .goods-title {
  margin-bottom: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 0.85333333rem;
}
.flex-content .goods-title span {
  display: inline-block;
  width: 2.86666667rem;
  height: 0.85333333rem;
  cursor: pointer;
}
.flex-content .goods-title .left-title {
  margin-right: 0.33333333rem;
  background: url("../images/left.png");
  background-size: cover;
}
.flex-content .goods-title .right-title {
  background: url("../images/right.png");
  background-size: cover;
}
.flex-content .goods-title .active-left {
  background: url("../images/active-left.png");
  background-size: cover;
}
.flex-content .goods-title .active-right {
  background: url("../images/active-right.png");
  background-size: cover;
}
.flex-content .left {
  display: block;
}
.flex-content .right {
  display: block;
}
.flex-content ul {
  margin: 0 auto;
  width: 91.466667%;
  height: auto;
  background: #ff6970;
}
.flex-content ul li {
  float: left;
  margin-bottom: 0.16rem;
  width: 49.33%;
}
.flex-content ul li a {
  width: 100%;
  cursor: pointer;
}
.flex-content ul li a img {
  display: inline-block;
  width: 100%;
}
.flex-content ul li:nth-child(1) {
  width: 100%;
}
.flex-content ul li:nth-child(2n) {
  margin-right: 1.333333%;
}
.flex-content .bottom-txt {
  line-height: 0.37333333rem;
  text-align: center;
  font-size: 0.32rem;
  color: #fff;
}
.flex-content .bottom-txt i {
  display: inline-block;
  width: 0.13333333rem;
  height: auto;
}
.flex-content .bottom-up {
  padding-top: 0.32rem;
}
.flex-content .bottom-down {
  padding-bottom: 0.45333333rem;
}
