body {
    background-color: #d53849;
}
.flex-content .banner {
    display: block;
    width: 100%;
}
.flex-content .btn-banner {
    position: relative;
    width: 100%;
}
.flex-content .btn-banner img {
    display: block;
    width: 100%;
}
.flex-content .btn-banner .banner-btn {
    position: absolute;
    top: 8%;
    left: 50%;
    width: 41.066667%;
    height: 1.12rem;
    cursor: pointer;
    background:none;
    -webkit-transform: translate(-50%,0);
            transform: translate(-50%,0);
}
