body, p, ul, ol, li, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, input {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #ff4d22;
  color: #fff;
  overflow: hidden;
}

body {
  font-size: 12px;
  font-family: 'Microsoft YaHei', '微软雅黑';
  margin: 0 auto;
  position: relative;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.lf {
  float: left;
}

.rg {
  float: right;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}

a {
  text-decoration: none;
}

a:hover, a:visited, a:active {
  text-decoration: none;
}

header {
  height: 374/75rem;
  width: 100%;
  div {
    width: 100%;
    height: 187/75rem;
  }
  div:first-child {
    background: url("__FE_BASE_URI__wap/campaigns/double-twelve/images/banner_01.png") no-repeat center;
    background-size: 100% 100%;
  }
  div:last-child {
    background: url("__FE_BASE_URI__wap/campaigns/double-twelve/images/banner_02.png") no-repeat center;
    background-size: 100% 100%;
  }
}

section {
  padding: 0 40/75rem;
  .step1, .step2 {
    height: 90/75rem;
    width: 100%;
    line-height: 90/75rem;
    span {
      font-size: 34/75rem;
      font-family: "Adobe 黑体 Std R";
      color: #fff;
    }
    a {
      color: #fff;
      font-size: 24/75rem;
    }
  }
  .lotternumber {
    margin: 0 auto;
    width: 385/75rem;
    height: 50/75rem;
    //background: url("__FE_BASE_URI__wap/campaigns/double-twelve/images/gift.png") no-repeat 7% center;
    //background-size: 30/75rem 30/75rem;
    color: #ff6d43;
    font-size: 28/75rem;
    background-color: #fff3d2;
    text-align: center;
    line-height: 50/75rem;
    border-radius: 50/75rem;
    img {
      width: 30/75rem;
      margin-top: -0.1rem;
      vertical-align: middle;
    }
    span {
      color: #ff0101;
    }
  }
  table.coupon {
    margin-top: 10/75rem;
    margin-bottom: 15/75rem;
    tr {

      td {
        width: 222/75rem;
        height: 105/75rem;
        img {
          width: 100%;
        }
      }
    }
  }
  .btn {
    button {
      width: 100%;
      height: 118/75rem;
      background: url("__FE_BASE_URI__wap/campaigns/double-twelve/images/btn.png");
      background-size: 100% 100%;
      border: 0;
      outline: none;
    }
  }
  .moregift {
    color: #fff;
    font-size: 30/75rem;
    text-align: center;
    line-height: 60/75rem;
  }

  .award {
    p {
      box-shadow: 0px 10px 10px #d94b29;
    }
    text-align: center;
    li:first-child {
      width: 47.5%;
      div {
        width: 100%;
        height: 383/75rem;
        background-color: #ffd618;
        img {
          width: 209/75rem;
          margin-top: 30/75rem;
        }
        span {
          display: block;
          font-size: 24/75rem;
          color: #f16100;
        }
      }
      p {
        height: 47/75rem;
        font-size: 30/75rem;
        background-color: #f16100;
        line-height: 47/75rem;
      }
    }
    li:last-child {
      width: 51.5%;
      div {
        width: 100%;
        height: 193/75rem;
        background-color: #ffd618;
        img {
          width: 187/75rem;
          margin-top: 10/75rem;
        }
        span {
          display: block;
          font-size: 24/75rem;
          color: #f16100;
        }
      }
      div:nth-of-type(1) {
        span {
          margin-top: -0.13rem;
        }
      }
      p:nth-of-type(1) {
        margin-bottom: 8/75rem;
      }
      div:nth-of-type(2) {
        height: 135/75rem;
        img {
          width: 247/75rem;
        }
      }
      p {
        height: 47/75rem;
        font-size: 30/75rem;
        background-color: #f16100;
        line-height: 47/75rem;
      }
    }
  }
  .warn {
    font-size: 26/75rem;
  }

  .people {
    position: relative;
    padding-top: 30/75rem;
    padding-bottom: 20/75rem;
    max-height: 155/75rem;
    margin-top: 90/75rem;
    background-color: #fdebb9;
    .title {
      width: 294/75rem;
      height: 64/75rem;
      font-size: 34/75rem;
      background: url("__FE_BASE_URI__wap/campaigns/double-twelve/images/title.png") no-repeat center;
      background-size: 100% 100%;
      position: absolute;
      top: -43/75rem;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      margin: 0 auto;
      text-align: center;
      line-height: 64/75rem;
    }
    ul {
      overflow: hidden;
      max-height: 160/75rem;
      li {
        color: #f16100;
        font-size: 26/75rem;
        text-align: center;
        padding: 0 10/75rem;
        line-height: 52/75rem;
        height: 52/75rem;
      }
    }
  }
  .activeregular, .accept {
    font-size: 26/75rem;
    position: relative;
    padding-top: 40/75rem;
    padding-bottom: 20/75rem;
    margin-top: 90/75rem;
    background-color: #fdebb9;
    color: #ad5418;
    .title {
      color: #fff;
      width: 294/75rem;
      height: 64/75rem;
      font-size: 34/75rem;
      background: url("__FE_BASE_URI__wap/campaigns/double-twelve/images/title.png") no-repeat center;
      background-size: 100% 100%;
      position: absolute;
      top: -43/75rem;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      margin: 0 auto;
      text-align: center;
      line-height: 64/75rem;
    }
    ul {
      li {
        margin-bottom: 50/75rem;
        padding: 0 15/75rem;
        a {
          color: #9e521e;
        }
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
  }
  .accept {
    padding-bottom: 30/75rem;

  }
}

footer {
  margin: 20/75rem 0 60/75rem 0;
  text-align: center;
  font-size: 24/75rem;
  color: #c23918;
  img {
    height: 22/75rem;
    vertical-align: middle;
  }
}

//@media screen and ( min-width: 212px){/*213px显示屏样式 LG Optimus One*/}
//@media screen and ( min-width: 319px){/*320px显示屏样式 苹果4/4S/5C/5S黑莓Z30 */}
//@media screen and ( min-width: 359px){/*360px显示屏样式 索尼Z1*/}
//@media screen and ( min-width: 383px){/*384px显示屏样式 黑莓Z10 谷歌 Nexus 6 LG Optimus G*/}
//@media screen and ( min-width: 399px){/*399px显示屏样式 三星galaxyNote*/}
//@media screen and ( min-width: 414px){/*414px显示屏样式 苹果6plus*/}
//@media screen and ( min-width: 423px){/*424px显示屏样式 LG 4X */}
//@media screen and ( min-width: 479px){/*480px显示屏样式 索尼MT27i Xperia sola*/}
//@media screen and ( min-width: 539px){/*640px显示屏样式 摩托罗拉Droid3/4/Razr Atrix 4g*/}
@media screen and ( min-width: 620px) {
  section .regular ul li:nth-of-type(even) {
    max-width: 88% !important;
  }
}

//@media screen and ( min-width: 640px){/*640px以上显示屏样式*/}
//@media screen and ( min-width: 768px){/*768px以上显示屏样式 iPadmini iPad*/}

.mask {
  display: none;
  position: fixed;
  //pointer-events:none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.login, .nochance {
  display: none;
  width: 570/75rem;
  height: 610/75rem;
  background-color: #fff2c5;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  border-radius: 10px;
  img:nth-of-type(1) {
    width: 29/75rem;
    position: absolute;
    top: 37/75rem;
    right: 37/75rem;
  }
  p:nth-of-type(1) {
    font-size: 34/75rem;
    color: #9b0300;
    margin-top: 70/75rem;
  }
  p:nth-of-type(2) {
    font-size: 26/75rem;
    color: #ff4d22;
    line-height: 60/75rem;
  }
  img:nth-of-type(2) {
    width: 329/75rem;
  }
  .loginbtn, .investbtn {
    width: 350/75rem;
    height: 78/75rem;
    display: block;
    background: url("__FE_BASE_URI__wap/campaigns/double-twelve/images/btn_01.png") no-repeat center;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: -55/75rem;
  }
  .investbtn {
    background: url("__FE_BASE_URI__wap/campaigns/double-twelve/images/btn_02.png") no-repeat center;
    background-size: 100% 100%;
  }
  a {
    color: #fa8d00;
    font-size: 26/75rem;
    line-height: 60/75rem;
  }
}

.nochance {
  p:nth-of-type(1) {
    margin-top: 100/75rem;
  }
}

.drawgift {
  display: none;
  height: 510/75rem;
  width: 440/75rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30/75rem;
  color: #9b0300;
  background-color: #fff2c5;
  border-radius: 10px;
  .bgtop {
    width: 546/75rem;
    position: absolute;
    top: -50%;
    left: -12%;
  }
  p {
    margin-top: 60/75rem;
    span {
      color: #ff4d22;
    }
  }
  div {
    width: 329/75rem;
    height: 284/75rem;
    background: url("__FE_BASE_URI__wap/campaigns/double-twelve/images/drawgitfbg.png") no-repeat center;
    background-size: 100% 100%;
    margin: 0 auto;
    img {
      width: 214/75rem;
      margin-top: 75/75rem;
    }
  }
  a {
    width: 350/75rem;
    height: 78/75rem;
    display: block;
    margin: 0 auto;
    margin-top: 15/75rem;
    background: url("__FE_BASE_URI__wap/campaigns/double-twelve/images/btn_03.png") no-repeat center;
    background-size: 100% 100%;
  }
}

.nodrawgift {
  display: none;
  height: 756/75rem;
  width: 570/75rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30/75rem;
  color: #9b0300;
  background-color: #fff2c5;
  border-radius: 10px;
  img:nth-of-type(1) {
    width: 546/75rem;
    position: absolute;
    top: -8%;
    left: 2%;
  }
  img:nth-of-type(2) {
    width: 329/75rem;
    margin-top: 30/75rem;
  }
  p {
    margin-top: 190/75rem;
    span {
      color: #796e6e;
      font-size: 48/75rem;
    }
  }
  a {
    width: 350/75rem;
    height: 78/75rem;
    display: block;
    margin: 0 auto;
    margin-top: 15/75rem;
    background: url("__FE_BASE_URI__wap/campaigns/double-twelve/images/btn_04.png") no-repeat center;
    background-size: 100% 100%;
  }
}

.giftlist {
  display: none;
  height: 756/75rem;
  width: 570/75rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30/75rem;
  color: #9b0300;
  background-color: #fff2c5;
  border-radius: 10px;

  .giftlistimg {
    width: 546/75rem;
    position: absolute;
    top: -8%;
    left: 2%;
  }
  .giftlistclose {
    width: 546/75rem;
    position: absolute;
    top: -18%;
    right: 2%;
    width: 57/75rem;
  }
  .giftlistbox {
    overflow: auto;
    height: 645/75rem;
    margin-top: 78/75rem;
    ul {
      //pointer-events:none;
      li {
        width: 450/75rem;
        padding: 22/75rem 25/75rem;
        margin: 0 auto;
        background-color: #ff4d22;
        border-radius: 5px;
        text-align: left;
        color: #fff;
        margin-bottom: 20/75rem;
        img {
          height: 66/75rem;
          margin-right: 25/75rem;
        }
        p {
          font-size: 30/75rem;
          height: 66/75rem;
          margin-top: -0.1rem;
          span {
            font-size: 24/75rem;
          }
        }
      }
    }
  }
}

.regular {
  margin-top: 40/75rem;
  ul {
    li {
      margin-bottom: 40/75rem;
      img:nth-of-type(1) {
        height: 99/75rem;
      }
      img:nth-of-type(2) {
        height: 99/75rem;
      }
      img:nth-of-type(3) {
        height: 99/75rem;
      }
    }
  }
}

.btest {
  height: 1rem;
  width: 3rem;
}

.activetime {
  position: absolute;
  top: 10/75rem;
  right: 20/75rem;
  font-size: 22/75rem;
  color: #fff;
}