/*section5*/
.footer-clearfix:before,.footer-clearfix:after {
    content:'';
    display:table;
}
.footer-clearfix:after{
    clear: both;
}
.footer-clearfix {
    *zoom:1;
}
.footer-section{
    width: 100%;
    min-width: 1057px;
}
.footer-five-box{
    position: relative;
    width: 900px;
    height: 100%;
    margin: 0 auto;
}
.footer-five-address {
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
}
.footer-five-tel {
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
}
.footer-five-tel span{
    padding-right: 8px;
    border-right: 1px solid #7d7d7d;
}
.footer-five-partner {
    width: 628px;
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
}
.footer-five-partner i{
    float: left;
}
.footer-five-partner ul {
    float: left;
    width: 550px;
}
.footer-five-partner li{
    float: left;
    padding-right: 8px;
    padding-left: 8px;
    border-left: 1px solid #7d7d7d;
}
.footer-five-partners {
    padding-left: 62px;
}
.footer-five-copyright {
    width: 660px;
    color: #979797;
    font-size: 12px;
    padding-top: 20px;
    margin-top: 30px;
    border-top:1px solid #979797;
}
.footer-first-ma {
    position: absolute;
    top:20px;
    right: 20px;
}
.footer-first-ma img {
    width: 107px;
}
.footer-first-ma div {
    color: #fff;
    font-size: 16px;
}
.footer-section5 {
    background: #363636;
    overflow: hidden;
}
/*about-box*/
.about-box {
    position: fixed;
    right: 0;
    top: 50%;
    width: 36px;
    height: 188px;
    margin-top: -10px;
    z-index: 999;
}
.about-right {
    float: right;
    height: 188px;
    position: relative;
    width: 36px;
}
.about-right .about-img1 {
    background: rgba(0, 0, 0, 0) url("../images/about.png") no-repeat scroll 0 0;
    display: block;
    height: 36px;
    position: relative;
    width: 36px;
    z-index: 1;
    transition: all 0.2s ease;
}
.about-right .about-img1:hover {
    background: rgba(0, 0, 0, 0) url("../images/about-hover.png") no-repeat scroll 0 0;
}
.about-right .about-img2 {
    background: rgba(0, 0, 0, 0) url("../images/about.png") no-repeat scroll 0 -38px;
    display: block;
    height: 36px;
    margin-top: 2px;
    position: relative;
    width: 36px;
}
.about-right .about-img3 {
    background: rgba(0, 0, 0, 0) url("../images/about.png") no-repeat scroll 0 -76px;
    display: block;
    height: 36px;
    margin-top: 2px;
    position: relative;
    width: 36px;
}
.about-right .about-img4 {
    background: rgba(0, 0, 0, 0) url("../images/about.png") no-repeat scroll 0 -114px;
    display: block;
    height: 36px;
    margin-top: 2px;
    position: relative;
    width: 36px;
}
.about-right .about-img5 {
    background: rgba(0, 0, 0, 0) url("../images/about.png") no-repeat scroll 0 -152px;
    display: block;
    height: 36px;
    margin-top: 2px;
    position: relative;
    width: 36px;
}
.about-qq {
    background: #f44336 url("../images/about-tel-white.jpg") no-repeat scroll 250px 0;
    background-size: 40px 40px;
    color: #fff;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    opacity: 0;
    padding-right: 36px;
    position: absolute;
    right: -300px;
    text-align: center;
    top: 0;
    width: 250px;
}
.about-line {
    background: #f44336 url("../images/about-hover.png") no-repeat scroll right -114px;
    color: #fff;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    opacity: 0;
    padding-right: 36px;
    position: absolute;
    right: -300px;
    text-align: center;
    top: 0;
    width: 180px;
}
.about-left {
    background: rgba(0, 0, 0, 0) url("../images/about-weixin.png") no-repeat scroll right 0;
    float: left;
    height: 76px;
    opacity: 0;
    padding-right: 38px;
    position: absolute;
    right: -300px;
    text-align: center;
    top: 0;
    width: 120px;
}
.about-img {
    background: #f44336 none repeat scroll 0 0;
    height: 140px;
    position: relative;
    text-align: center;
    width: 120px;
}
.about-img p {
    color: #fff;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100%;
}
.about-app {
    background: rgba(0, 0, 0, 0) url("../images/about-app.png") no-repeat scroll right 0;
    float: left;
    height: 76px;
    opacity: 0;
    padding-right: 38px;
    position: absolute;
    right: -300px;
    text-align: center;
    top: 0;
    width: 120px;
}
.aboutApp-img {
    background: #f44336 none repeat scroll 0 0;
    height: 158px;
    position: relative;
    text-align: center;
    width: 120px;
}
.aboutApp-img p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 4px 0;
}