body, p, ul, ol, li, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, input {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    border: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
body {
    font:14px/1.5 "Microsoft YaHei";
    background: #fff;
}
i,em{
    font-style: normal;
}
/*top-box*/
#top-box{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f44336;
    z-index: 100;
    box-shadow: 0px 0px 10px #888888;
}
.top-box {
    width: 900px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
}
.logo {
    float: left;
    width: 220px;
    margin-top: 5px;
}
.top-right {
    float: right;
    /*width: 210px;*/
    height: 100%;
}
.top-resign {
    float: left;
    text-align: left;
    /*width: 50px;*/
    padding-right: 0.5em;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
    border-right: 1px solid #ff8080;
}
.top-resign a{
    color: #fff;
    padding-left: 8px;
}
.top-resign a:hover{
    color: #fff;
}
.top-login {
    float: left;
    /*width: 158px;*/
    text-align: right;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
    margin-left: 0.5em;
}
.top-login span{
    padding-left: 0.5em;
    font-size: 18px;
    color: #ff9189;
}
.top-login a{
    color: #fff;
}
.top-login a:hover{
    color: #fff;
}
/*section1*/
.section1 {
    position: relative;
}
.first-box{
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -450px;
    margin-top: -215px;
    width: 900px;
    height: 500px;
}

.first-box-left {
    float: left;
    width: 35%;
    height: 100%;
    padding-left: 10%;
}
.first-box-left1 {
    margin-top: 140px;
    height: 180px;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.active .first-box-left1 {
    opacity: 1;
    transition-delay: 0.7s;
}
.first-title {
    width: 100%;
    height: 60px;
    overflow: hidden;
}
.first-title p{
    float: left;
    height: 100%;
}
.first-title p img{
    width: 50px;
}
.first-title-content {
    float: left;
    height: 100%;
    margin-top: 4px;
    margin-left: 5px;
}
.first-title-content div{
    font-size: 20px;
    color: #787878;
    height: 24px;
    line-height: 24px;
}
.first-content {
    height: 90px;
    margin-left: 6px;
}
.first-content p{
    text-align: left;
    font-size: 40px;
    height: 45px;
    line-height: 45px;
    color: #434343;
}
.first-content div{
    text-align: left;
    height: 45px;
    line-height: 45px;
    font-size: 40px;
    color: #f44336;
}
.first-web {
    color: #737373;
    font-size: 12px;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
}

.first-box-right {
    width: 55%;
    float: left;
    height: 100%;
    position: relative;
}

.first-phone1 {
    position: absolute;
    left: 0;
    top:15px;
    width: 240px;
    z-index: 2;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .first-phone1{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 0.4s;
}
.first-phone2 {
    position: absolute;
    left: 120px;
    top:15px;
    width: 235px;
    z-index: 1;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .first-phone2{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 0.7s;
}
/*section2*/
.section2{
    position: relative;
}
.two-box{
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -450px;
    margin-top: -215px;
    width: 900px;
    height: 500px;
}
.section2-title {
    display: block;
    font-size: 48px;
    color:#434343;
    text-align: center;
    width: 500px;
    margin:0 auto;
    transform: scale(0,0);
    -webkit-transform: scale(0,0);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.section2-title span{
    color: #f44336;
}
.active .section2-title{
    opacity: 1;
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transition-delay: 0.7s;
}
.two-title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #434343;
    margin-top: 34px;
    margin-bottom: 60px;
    transform: scale(0,0);
    -webkit-transform: scale(0,0);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .two-title{
    opacity: 1;
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transition-delay: 0.7s;
}
.two-content {
    width: 370px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
}
.two-content1 {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .two-content1{
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-delay: 1s;
}
.two-content2 {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .two-content2{
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-delay: 1.4s;
}
.two-content3 {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .two-content3{
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-delay: 1.8s;
}
.two-content span {
    color: #f44336;
}
.two-mima {
    width: 280px;
    display: block;
    margin: 0 auto;
    margin-top: 36px;
    transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .two-mima{
    opacity: 1;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transition-delay: 2.4s;
}
.two-content img {
    position: relative;
    top:2px;
    width: 14px;
    margin-right: 10px;
}
.tow-phone {
    position: absolute;
    left: 50%;
    top:40px;
    margin-left: -100px;
    width: 210px;
    transform: scale(0,0);
    -webkit-transform: scale(0,0);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .tow-phone{
    opacity: 1;
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transition-delay: 0.7s;
}
.tow-content1 {
    position: absolute;
    left: -4%;
    top:34%;
    font-size: 20px;
    color: #f44336;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.active .tow-content1 {
    opacity: 1;
    transition-delay: 2.9s;
}
.tow-content2 {
    position: absolute;
    right: -7%;
    top:33%;
    font-size: 18px;
    color: #f44336;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.active .tow-content2 {
    opacity: 0.8;
    transition-delay: 3.1s;
}
.tow-content3 {
    position: absolute;
    left: 6%;
    top:60%;
    font-size: 16px;
    color: #f44336;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.active .tow-content3 {
    opacity: 0.6;
    transition-delay: 3.3s;
}
.tow-content4 {
    position: absolute;
    right: 14%;
    top:58%;
    font-size: 14px;
    color: #f44336;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.active .tow-content4 {
    opacity: 0.4;
    transition-delay: 3.5s;
}
.two-content5 {
    position: absolute;
    left: 20%;
    top:49%;
    font-size: 12px;
    color: #f44336;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.active .two-content5 {
    opacity: 0.2;
    transition-delay: 3.7s;
}
/*section3*/
.section3 {
    position: relative;
}
.three-box {
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -450px;
    margin-top: -215px;
    width: 900px;
    height: 500px;
}
.three-box-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #323232;
    font-size: 30px;
    text-align: center;
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .three-box-title{
    opacity: 1;
    transition-delay: 1s;
}
.three-box-title1 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #767676;
    font-size: 19px;
    text-align: center;
    margin-bottom: 40px;
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .three-box-title1{
    opacity: 1;
    transition-delay: 1s;
}
.three-content {
    padding-left: 12%;
    height: 30px;
    line-height: 30px;
    margin-top: 30px;
}
.three-content img{
    float: left;
    width: 24px;
    margin-top: 3px;
    margin-right: 10px;
}
.three-content-title {
    float: left;
    font-size: 20px;
    color: #323232;
    height: 30px;
    line-height: 30px;
}
.three-content-title span{
    color: #f44336;
}
.three-content i{
    font-size: 14px;
    color: #4a4a4a;
    height: 30px;
    line-height: 30px;
    margin-left: 50px;
}
.three-content em{
    display: block;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    float: left;
    color: #4a4a4a;
    margin-left: 10px;
    margin-top: -4px;
    padding-left: 40px;
}
.three-hang {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    position: relative;
    z-index: 1;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .three-hang{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 2s;
}
.three-hang img{
    width: 390px;
}
.three-hang p{
    color: #767676;
    font-size: 12px;
}
.three-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.three-bottom img{
    width: 100%;
    margin-bottom: -40px;
}
.active .three-bottom{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 0.7s;
}
.three-content1 {
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .three-content1{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 1.2s;
}
.three-content2 {
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .three-content2{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 1.4s;
}
.three-content3 {
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .three-content3{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 1.4s;
}
.three-content3 {
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .three-content3{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 1.6s;
}
.three-content4 {
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .three-content4{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 1.6s;
}
.three-content5 {
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .three-content5{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 1.8s;
}
/*four-box*/
.section4 {
    position: relative;
}
.four-box {
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -450px;
    margin-top: -215px;
    width: 900px;
    height: 500px;
}
.four-title {
    font-size: 30px;
    color: #434343;
    padding-left: 10%;
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .four-title{
    opacity: 1;
    transition-delay: 0.7s;
}
.four-title1{
    opacity: 1;
}
.four-content {
    font-size: 20px;
    padding-left: 10%;
    color: #767676;
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .four-content{
    opacity: 1;
    transition-delay: 0.7s;
}
.four-content1{
    opacity: 1;
}
.four-content span{
    color: #f44336;
}
.four-ins {
    width: 850px;
    margin: 0 auto;
}
.four-left{
    z-index: 1;
    position: relative;
    float: left;
    width: 55%;
    padding-left: 10%;
    margin-top: 30px;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .four-left{
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-delay: 1s;
}
.four-left1{
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.four-left img{
    width: 360px;
}
.four-left-content {
    position: absolute;
    left: 20%;
    top:36px;
    width: 298px;
    height: 250px;
    font-size: 14px;
    color: #5c5c5c;
    text-align: justify;
}
.four-right {
    position: relative;
    z-index: 1;
    float: left;
    width: 35%;
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .four-right{
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-delay: 1s;
}
.four-right1{
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.four-right img{
    width: 260px;
    margin-top: 100px;
    margin-left: -40px;
}
.four-bottom {
    width: 700px;
    margin: 0 auto;
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .four-bottom{
    opacity: 1;
    transition-delay: 1.5s;
}
.four-bottom1{
    opacity: 1;
}
.four-bottom img{
    margin-top: -40px;
    width: 100%;
}
/*section5*/
.five-box{
    position: relative;
    width: 900px;
    height:100%;
    margin: 0 auto;
    padding: 2em 0;
}
.five-address {
    font-size: 14px;
    color: #fff;
}
.five-tel {
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
}
.five-tel span{
    padding-right: 8px;
    border-right: 1px solid #7d7d7d;
}
.five-partner {
    width: 628px;
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
}
.five-partner span{
    padding-right: 8px;
    padding-left: 8px;
    border-left: 1px solid #7d7d7d;
}
.five-partners {
    padding-left: 62px;
}
.five-copyright {
    width: 660px;
    color: #979797;
    font-size: 12px;
    padding-top: 20px;
    margin-top: 30px;
    border-top:1px solid #979797;
}
.first-ma {
    position: absolute;
    top: 2.5em;
    right: 20px;
}
.first-ma img {
    width: 107px;
}
.first-ma div {
    color: #fff;
    font-size: 16px;
}
    /*右侧导航*/
#fullPage-nav { _display: none; font-size: 12px;}
#fullPage-nav li { width: 90px; height: 21px; margin: 10px 0 0; vertical-align: middle;}
#fullPage-nav li a { float: right; width: 21px; height: 21px; color: #8F9DA4; text-decoration: none; text-align: right; background: url(../images/dot.png) 5px 5px no-repeat;}
#fullPage-nav li .active { background-position: 0 bottom;}
#fullPage-nav span { display: none;}
.fullPage-tooltip { float: left; top: 0; margin-right: 5px; font: 12px "Microsoft Yahei"; color: #8F9DA4; line-height: 21px;}

.section1 {
    background: url("../images/background.png") no-repeat 0 0;
    background-size: 100% 100%;
    overflow: hidden;
}
.section2 {
    background: url("../images/background1.png") no-repeat 0 0;
    background-size: 100% 100%;
    overflow: hidden;
}
.section3 {
    background: url("../images/background2.png") no-repeat 0 0;
    background-size: 100% 100%;
    overflow: hidden;
}
.section4 {
    background: url("../images/background2.png") no-repeat 0 0;
    background-size: 100% 100%;
    overflow: hidden;
}
.section5 {
    background: #363636;
}
body.page-login {
    padding-top: 100px;
}
/*footer-mark*/
.footer-mark {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: #000000;
    opacity: 0.6;
    filter:Alpha(opacity=60);
    z-index: 1000;
}
.footer-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    z-index: 1001;
}
.footer-fixed-content {
    width: 1000px;
    margin: 0 auto;
    height: 120px;
}
.footer-fixed-left {
    float: left;
    font-size: 24px;
    color: #f4f4f7;
    line-height: 120px;
    padding-left: 48px;
}
.footer-fixed-left i {
    font-size: 36px;
    font-style: italic;
}
.footer-fixed-right {
    float: right;
}
.footer-fixed-right-code {
    position: relative;
    float: left;
    width: 204px;
    height: 86px;
    margin-top:18px;
}
.footer-fixed-right-code img {
    float: left;
}
.footer-fixed-right-code p {
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin-left: 4px;
}
.wen-close {
    position: absolute;
    right: 0;
    top:-4px;
    cursor: pointer;
}
.section6 {
    background: url("../images/background6.png") no-repeat 0 0;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}
.six-box {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -215px;
    width: 900px;
    height: 500px;
}
.six-logo img {
    padding-left: 10%;
    width: 160px;
    margin-top: 6%;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .six-logo img{
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-delay: 0.2s;
}
.six-logo1{
    opacity: 1!important;
    transform: translateX(0)!important;
    -webkit-transform: translateX(0)!important;
}
.six-tilt {
     font-size: 36px;
     color: #404040;
     font-weight: bold; 
    padding-left: 10%;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .six-tilt {
     opacity: 1;
     transform: translateX(0);
     -webkit-transform: translateX(0);
     transition-delay: 0.6s;
}
.six-tilt1 {
     opacity: 1;
     transform: translateX(0);
     -webkit-transform: translateX(0);
}
.six-tilt span {
    color: #f44336;
}
.six-tilts {
    font-size: 24px;
    color: #f44336;
    padding-left: 10%;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .six-tilts {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-delay: 1s;
}
.six-tilts1 {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.yitiao {
    width: 440px;
    height: 10px;
    padding-left: 10%;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .yitiao {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-delay: 0.6s;
}
.yitiao1 {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.yitiao img {
    position: relative;
    top:-14px;
    width: 100%;
}
.six-inner {
    width: 380px;
    margin-top: 10px;
    padding-left: 10%;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .six-inner {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-delay: 1.4s;
}
.six-inner1 {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.six-inner li{
    float: left;
    font-size: 18px;
    color: #777777;
    padding-left: 6px;
    margin-right: 30px;
    margin-top: 10px;
}
.six-right {
    position: absolute;
    right: 10%;
    bottom: 0;
    width: 300px;
    height: 300px;
}
.bxx {
     width: 270px;
     transform: translateY(300px);
     -webkit-transform: translateY(300px);
     transition: all 1s;
     -webkit-transition: all 1s;
     opacity: 0;
     margin-left: 30px;
 }

.active .bxx {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 0.8s;
}
.bxx1 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.yi1 {
    position: absolute;
    left: -53px;
    bottom: 144px;
    width: 40px;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .yi1 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 1.2s;
}
.yi11 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.yi2 {
    position: absolute;
    left: -3px;
    bottom: 265px;
    width: 40px;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .yi2 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 1.6s;
}
.yi22 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.yi3{
    position: absolute;
    left: 129px;
    bottom: 316px;
    width: 40px;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .yi3 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 2s;
}
.yi33 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.yi4 {
    position: absolute;
    left: 264px;
    bottom: 271px;
    width: 40px;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .yi4 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 2.4s;
}
.yi44 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.yi5 {
    position: absolute;
    left: 328px;
    bottom: 175px;
    width: 40px;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 0;
}
.active .yi5 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-delay: 2.8s;
}
.yi55 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
